<div class="form-group m-form__group row m-row--no-padding  {% if form.name.vars.valid == false %} has-danger {% endif %}'">
	<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
        {{ form_label(form.name) }} *
	</label>
	<div class="col-lg-9 col-md-9 col-sm-9">

        {{ form_widget(form.name, {attr: {class: 'form-control m-input',placeholder:'user.label.usernameCanonical'} }) }}
        {% if form.name.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.name) }}</div>

        {% endif %}
	</div>
</div>

<div class="form-group m-form__group row m-row--no-padding {% if form.email.vars.valid == false %} has-danger {% endif %}'">
	<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
        {{ form_label(form.email) }} *
	</label>
	<div class="col-lg-9 col-md-9 col-sm-9">

        {{ form_widget(form.email, {attr: {class: 'form-control m-input',placeholder:'user.label.email'} }) }}
        {% if form.email.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.email) }}</div>

        {% endif %}
	</div>
</div>


<div class="form-group m-form__group row m-row--no-padding  {% if form.rg.vars.valid == false %} has-danger {% endif %}'">
	<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
        {{ form_label(form.rg) }} *
	</label>
	<div class="col-lg-9 col-md-9 col-sm-9">

        {{ form_widget(form.rg, {attr: {class: 'form-control m-input',placeholder:'user.label.rg'} }) }}
        {% if form.rg.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.rg) }}</div>

        {% endif %}
	</div>
</div>

<div class="form-group m-form__group row m-row--no-padding  {% if form.cpf.vars.valid == false %} has-danger {% endif %}'">
	<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
        {{ form_label(form.cpf) }} *
	</label>
	<div class="col-lg-9 col-md-9 col-sm-9">

        {{ form_widget(form.cpf, {attr: {class: 'form-control m-input',placeholder:'user.label.cpf'} }) }}
        {% if form.cpf.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.cpf) }}</div>

        {% endif %}
	</div>
</div>

<div class="form-group m-form__group row m-row--no-padding  {% if form.phone.vars.valid == false %} has-danger {% endif %}'">
	<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
        {{ form_label(form.phone) }} *
	</label>
	<div class="col-lg-9 col-md-9 col-sm-9">

        {{ form_widget(form.phone, {attr: {class: 'form-control m-input',placeholder:'user.label.phone'} }) }}
        {% if form.phone.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.phone) }}</div>

        {% endif %}
	</div>
</div>


<div class="form-group m-form__group row m-row--no-padding  {% if form.cell_phone.vars.valid == false %} has-danger {% endif %}'">
	<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
        {{ form_label(form.cell_phone) }} *
	</label>
	<div class="col-lg-9 col-md-9 col-sm-9">

        {{ form_widget(form.cell_phone, {attr: {class: 'form-control m-input',placeholder:'user.label.cell_phone'} }) }}
        {% if form.cell_phone.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.cell_phone) }}</div>

        {% endif %}
	</div>
</div>

{% if form.state_civil is defined %}

<div class="form-group m-form__group row m-row--no-padding  {% if form.state_civil.vars.valid == false %} has-danger {% endif %}'">
	<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
        {{ form_label(form.state_civil) }} *
	</label>
	<div class="col-lg-9 col-md-9 col-sm-9">

        {{ form_widget(form.state_civil, {attr: {class: 'form-control m-input',placeholder:'user.label.state_civil'} }) }}
        {% if form.state_civil.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.state_civil) }}</div>

        {% endif %}{% block custom_javascripts %}

    <script>
    $(document).ready(function() {
    jQuery(".m-alert").delay(2000).fadeOut('slow');

    });
    </script>
{% endblock %}
	</div>
</div>

{% endif %}

<div class="form-group m-form__group row m-row--no-padding  {% if form.gender.vars.valid == false %} has-danger {% endif %}'">
	<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
        {{ form_label(form.gender) }}
	</label>
	<div class="col-lg-9 col-md-9 col-sm-9">

        {{ form_widget(form.gender, {attr: {class: 'form-control m-input', placeholder:'user.label.gender'} }) }}
        {% if form.gender.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.gender) }}</div>

        {% endif %}
	</div>
</div>
