<div class="form-group m-form__group row m-row--no-padding  {% if form.address.vars.valid == false %} has-danger {% endif %}'">
	<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
        {{ form_label(form.address) }}
	</label>
	<div class="col-lg-9 col-md-9 col-sm-9">

        {{ form_widget(form.address, {attr: {class: 'form-control m-input',placeholder:'user.label.address'} }) }}
        {% if form.address.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.address) }}</div>

        {% endif %}
	</div>
</div>

<div class="form-group m-form__group row m-row--no-padding  {% if form.city.vars.valid == false %} has-danger {% endif %}'">
	<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
        {{ form_label(form.city) }}
	</label>
	<div class="col-lg-9 col-md-9 col-sm-9">

        {{ form_widget(form.city, {attr: {class: 'form-control m-input select2',placeholder:'user.label.city'} }) }}
        {% if form.city.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.city) }}</div>

        {% endif %}
	</div>
</div>

<div class="form-group m-form__group row m-row--no-padding  {% if form.zip_code.vars.valid == false %} has-danger {% endif %}'">
	<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
        {{ form_label(form.zip_code) }}
	</label>
	<div class="col-lg-9 col-md-9 col-sm-9">

        {{ form_widget(form.zip_code, {attr: {class: 'form-control m-input',placeholder:'user.label.zip_code'} }) }}
        {% if form.zip_code.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.zip_code) }}</div>

        {% endif %}
	</div>
</div>

<div class="form-group m-form__group row m-row--no-padding  {% if form.neighborhood.vars.valid == false %} has-danger {% endif %}'">
	<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
        {{ form_label(form.neighborhood) }}
	</label>
	<div class="col-lg-9 col-md-9 col-sm-9">

        {{ form_widget(form.neighborhood, {attr: {class: 'form-control m-input',placeholder:'user.label.neighborhood'} }) }}
        {% if form.neighborhood.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.neighborhood) }}</div>

        {% endif %}
	</div>
</div>

<div class="form-group m-form__group row m-row--no-padding  {% if form.number.vars.valid == false %} has-danger {% endif %}'">
	<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
        {{ form_label(form.number) }}
	</label>
	<div class="col-lg-9 col-md-9 col-sm-9">

        {{ form_widget(form.number, {attr: {class: 'form-control m-input',placeholder:'user.label.number'} }) }}
        {% if form.number.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.number) }}</div>

        {% endif %}
	</div>
</div>


<div class="col-md-12 col-lg-12 col-xl-12">

	<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
	<div class="form-group m-form__group row">
		<div class="col-12 ml-auto">
			<h3 class="m-form__section">
                {% trans %} profile.personal.others {% endtrans %}
			</h3>
		</div>
	</div>

	<div class="form-group m-form__group row m-row--no-padding  {% if form.birth_date.vars.valid == false %} has-danger {% endif %}'">
		<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
            {{ form_label(form.birth_date) }}
		</label>
		<div class="col-lg-9 col-md-9 col-sm-9">

            {{ form_widget(form.birth_date, {attr: {class: 'form-control m-input', placeholder:'user.label.birth_date'} }) }}
            {% if form.birth_date.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.birth_date) }}</div>

            {% endif %}
		</div>
	</div>
    {% if form.admission_date is defined %}
		<div class="form-group m-form__group row m-row--no-padding  {% if form.admission_date.vars.valid == false %} has-danger {% endif %}'">
			<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
				{{ form_label(form.admission_date) }}
			</label>
			<div class="col-lg-9 col-md-9 col-sm-9">

				{{ form_widget(form.admission_date, {attr: {class: 'form-control m-input',placeholder:'user.label.admission_date'} }) }}
				{% if form.admission_date.vars.valid == false %}
					<div class="form-control-feedback"> {{ form_errors(form.admission_date) }}</div>

				{% endif %}
			</div>
		</div>
    {% endif %}

    {% if form.cro is defined %}
		<div class="form-group m-form__group row m-row--no-padding  {% if form.cro.vars.valid == false %} has-danger {% endif %}'">
			<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
				{{ form_label(form.cro) }}
			</label>
			<div class="col-lg-9 col-md-9 col-sm-9">

				{{ form_widget(form.cro, {attr: {class: 'form-control m-input',placeholder:'user.label.cro'} }) }}
				{% if form.cro.vars.valid == false %}
					<div class="form-control-feedback"> {{ form_errors(form.cro) }}</div>

				{% endif %}
			</div>
		</div>
    {% endif %}

    {% if form.profession is defined %}
		<div class="form-group m-form__group row m-row--no-padding  {% if form.profession.vars.valid == false %} has-danger {% endif %}'">
			<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
				{{ form_label(form.profession) }}
			</label>
			<div class="col-lg-9 col-md-9 col-sm-9">

				{{ form_widget(form.profession, {attr: {class: 'form-control m-input',placeholder:'user.label.profession'} }) }}
				{% if form.profession.vars.valid == false %}
					<div class="form-control-feedback"> {{ form_errors(form.profession) }}</div>

				{% endif %}
			</div>
		</div>
    {% endif %}

    {% if form.specialization is defined %}
	<div class="form-group m-form__group row m-row--no-padding  {% if form.specialization.vars.valid == false %} has-danger {% endif %}'">
		<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
            {{ form_label(form.specialization) }}
		</label>
		<div class="col-lg-9 col-md-9 col-sm-9">

            {{ form_widget(form.specialization, {attr: {class: 'form-control m-input select2',placeholder:'user.label.specialization'} }) }}
            {% if form.specialization.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.specialization) }}</div>

            {% endif %}
		</div>
	</div>
    {% endif %}


	<div class="form-group m-form__group row m-row--no-padding  {% if form.notes.vars.valid == false %} has-danger {% endif %}'">
		<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
            {{ form_label(form.notes) }}
		</label>
		<div class="col-lg-9 col-md-9 col-sm-9">

            {{ form_widget(form.notes, {attr: {class: 'form-control m-input',placeholder:'user.label.notes'} }) }}
            {% if form.notes.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.notes) }}</div>

            {% endif %}
		</div>
	</div>


</div>