{% extends 'base.html.twig' %}

{% block head %}
    {% include 'admin/head.html.twig' %}
{% endblock %}
 


{% block root_content %}
     
{% endblock %}
 
 

{% block javascripts %}
    {% include 'admin/javascripts.html.twig' %}
{% endblock %}
