{% extends 'layouts/doctor.html.twig' %}


{% block main_content %}
	<div class="col-xl-12 col-lg-12">
		<div class="m-portlet m-portlet--full-height m-portlet--tabs  ">

			<div class="tab-content">
				<div class="tab-pane active" id="m_user_profile_tab_1">
					<div class="m-portlet__body">
						<div class="row m-row--no-padding">
							<div class="col-md-12 col-lg-6 col-xl-6">
								<div class="form-group m-form__group row">
									<div class="col-12 ml-auto">
										<h3 class="m-form__section">
                                            {% trans %} profile.personal.basic {% endtrans %}
										</h3>
									</div>
								</div>
                                {{ form_start(form, {attr: {class: 'm-form',novalidate: 'novalidate'} }) }}

								 {{ include('admin/user/profile/edit-profile-basic.html.twig') }}




						</div>

							<div class="col-md-12 col-lg-6 col-xl-6">

								<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
								<div class="form-group m-form__group row">
									<div class="col-12 ml-auto">
										<h3 class="m-form__section">
                                            {% trans %} profile.personal.address {% endtrans %}
										</h3>
									</div>
								</div>
                                {{ include('admin/user/profile/edit-profile-address.html.twig') }}
							</div>
						</div>
					</div>

				</div>

			</div>

			<div class="m-portlet__head">

				<div class="m-portlet__head-tools">
					<div class="m-portlet__foot m-portlet__foot--fit">
						<div class="m-form__actions m-form__actions"><br/>
							<button type="submit" class="btn btn-primary">
                                {{ 'form.save' | trans }}
							</button>
                            {{ form_widget(form.cancel, {attr: {class: 'btn btn-secondary'} }) }}
						</div>
					</div>


				</div>
			</div>
            {{ form_end(form) }}

		</div>
	</div>

{% endblock %}

{% block custom_javascripts %}
	<script>
        jQuery(document).ready(function() {

            $(".select2").select2();

            // phone number format
            $("#profile_form_phone").inputmask("mask", {
                "mask": "(99) 9999-9999"
            });
            $("#profile_form_cell_phone").inputmask({mask: ['(99) 9999-9999', '(99) 99999-9999']});

            $("#profile_form_birth_date").inputmask("dd/mm/yyyy", {
                autoUnmask: true
            });
            $("#profile_form_cpf").inputmask("999.999.999-99");
            $("#profile_form_rg").inputmask("99.999.999-9");
            $("#profile_form_zip_code").inputmask("99999-999",{
                autoUnmask: true
			});
        });
	</script>
{% endblock %}
