{% extends 'layouts/admin.html.twig' %}
 
  		
{% block main_content %}
    {% include 'admin/user/list.html.twig' %}
{% endblock %}



{% block custom_javascripts %}
    <script>

        jQuery(document).ready(function() {
            jQuery(".m-alert").delay(2000).fadeOut('slow');
            $('.enabled').click(function(e) {

                var id = $(this).attr("data-value");


                $.ajax({
                    'url': Routing.generate('admin_user_list_change_state', {
                        'id': id
                    }),
                    'success': function(r) {

                        location.reload();

                    }
                });

            });
        });
    </script>
{% endblock %}