{% extends 'layouts/admin.html.twig' %}


{% block main_content %}

<div class="col-xl-12 col-lg-12">
	<div class="m-portlet m-portlet--tabs {%  if user.enabled == false %} m-portlet--danger {% else %} m-portlet--success {% endif %}  m-portlet--head-solid-bg m-portlet--bordered">

        {% include 'admin/user/user-tab.html.twig' with {'active': 'info'} %}
		<div class="m-portlet__body">
			<div class="tab-content">
				<div class="tab-pane active" id="m_user_profile_tab_1">
					<div class="m-portlet__body">
						<div class="row m-row--no-padding">


							<div class="col-xl-3 col-lg-4">
								<div class="m-portlet">
									<div class="m-portlet__body">
										<div class="m-card-profile">


                                            {% if  user.hasPhoto %}
												<div class="m-card-profile__pic">
													<img src="{{user.photo.url}}" class="m--img-rounded m--marginless m--img-centered" alt="{{user.fullName}}">
												</div>
                                            {% endif %}


											<div class="m-card-profile__details">
												<a href="{{ path('admin_user_change_photo', {'id': user.uuid}) }}" class="m-nav__link">
													<i class="la la-camera-retro"></i>
													<span class="m-nav__link-text">
															{% trans %}  profile.quick_actions.change_photo {% endtrans %}
														</span>
												</a>
											</div>
										</div>

									</div>
								</div>
							</div>
							<div class="col-xl-1 col-lg-1"></div>
							<div class="col-md-12 col-lg-6 col-xl-6">
								<div class="form-group m-form__group row">
									<div class="col-12 ml-auto">
										<h3 class="m-form__section">
                                            {% trans %} profile.personal.datail {% endtrans %}
										</h3>
									</div>
								</div>
								<div class="form-group m-form__group row">

									<label for="example-text-input" class="col-6 col-form-label font-weight-bold">
                                        {% trans %} profile.personal.full_name {% endtrans %}

									</label>
									<div class="col-6">
										<label for="example-text-input" class="col-12 col-form-label">
                                            {{ user.fullName }}
										</label>

									</div>

								</div>
								<div class="form-group m-form__group row">

									<label for="example-text-input" class="col-6 col-form-label font-weight-bold">
                                        {% trans %} user.label.email {% endtrans %}

									</label>
									<div class="col-6">
										<label for="example-text-input" class="col-12 col-form-label">
                                            {{ user.email }}
										</label>

									</div>

								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-6 col-form-label font-weight-bold">
										RG
									</label>
									<div class="col-6">
										<label for="example-text-input" class="col-12 col-form-label">
                                            {{ user.rg }}
										</label>

									</div>
								</div>

								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-6 col-form-label font-weight-bold">
										CPF
									</label>
									<div class="col-6">
										<label for="example-text-input" class="col-12 col-form-label">
                                            {{ user.cpf }}
										</label>

									</div>
								</div>

								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-6 col-form-label font-weight-bold">
                                        {% trans %} profile.personal.phone {% endtrans %}
									</label>
									<div class="col-6">
										<label for="example-text-input" class="col-12 col-form-label">
                                            {{ user.phone }}
										</label>

									</div>
								</div>

								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-6 col-form-label font-weight-bold">
                                        {% trans %} profile.personal.cell_phone {% endtrans %}
									</label>
									<div class="col-6">
										<label for="example-text-input" class="col-12 col-form-label">
                                            {{ user.cellPhone }}
										</label>

									</div>
								</div>





							</div>

							{#<div class="col-md-12 col-lg-6 col-xl-6">#}

								{#<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>#}
								{#<div class="form-group m-form__group row">#}
									{#<div class="col-12 ml-auto">#}
										{#<h3 class="m-form__section">#}
                                            {#{% trans %} profile.personal.address {% endtrans %}#}
										{#</h3>#}
									{#</div>#}
								{#</div>#}
								{#<div class="form-group m-form__group row">#}
									{#<label for="example-text-input" class="col-6 col-form-label font-weight-bold">#}
                                        {#{% trans %} profile.personal.address {% endtrans %}#}
									{#</label>#}
									{#<div class="col-6">#}
										{#<label for="example-text-input" class="col-12 col-form-label">#}
                                            {#{{ user.address }}#}
										{#</label>#}

									{#</div>#}
								{#</div>#}
								{#<div class="form-group m-form__group row">#}
                                    {#{% if user.city.id is defined %}#}
										{#<label for="example-text-input" class="col-6 col-form-label font-weight-bold">#}
                                            {#{% trans %} profile.personal.address.city {% endtrans %}#}
										{#</label>#}
										{#<div class="col-6">#}
											{#<label for="example-text-input" class="col-12 col-form-label">#}
                                                {#{{ user.city.name }}#}
											{#</label>#}

										{#</div>#}
                                    {#{% endif %}#}
								{#</div>#}
								{#<div class="form-group m-form__group row">#}
                                    {#{% if user.city.id is defined %}#}
										{#<label for="example-text-input" class="col-6 col-form-label font-weight-bold">#}
                                            {#{% trans %} profile.personal.address.state {% endtrans %}#}
										{#</label>#}
										{#<div class="col-6">#}
											{#<label for="example-text-input" class="col-12 col-form-label">#}
                                                {#{{ user.city.uf }}#}
											{#</label>#}

										{#</div>#}
                                    {#{% endif %}#}
								{#</div>#}
								{#<div class="form-group m-form__group row">#}
									{#<label for="example-text-input" class="col-6 col-form-label font-weight-bold">#}
                                        {#{% trans %} profile.personal.address.postal_code {% endtrans %}#}
									{#</label>#}
									{#<div class="col-6">#}
										{#<label for="example-text-input" class="col-12 col-form-label">#}
                                            {#{{ user.zipCode }}#}
										{#</label>#}

									{#</div>#}
								{#</div>#}
								{#<div class="form-group m-form__group row">#}
									{#<label for="example-text-input" class="col-6 col-form-label font-weight-bold">#}
                                        {#{% trans %} profile.personal.address.neighborhood {% endtrans %}#}
									{#</label>#}
									{#<div class="col-6">#}
										{#<label for="example-text-input" class="col-12 col-form-label">#}
                                            {#{{ user.neighborhood }}#}
										{#</label>#}

									{#</div>#}
								{#</div>#}
								{#<div class="form-group m-form__group row">#}
									{#<label for="example-text-input" class="col-6 col-form-label font-weight-bold">#}
                                        {#{% trans %} profile.personal.address.number {% endtrans %}#}
									{#</label>#}
									{#<div class="col-6">#}
										{#<label for="example-text-input" class="col-12 col-form-label">#}
                                            {#{{ user.number }}#}
										{#</label>#}

									{#</div>#}
								{#</div>#}
							{#</div>#}


						</div>
					</div>
				</div>
				<div class="tab-pane active" id="m_user_profile_tab_2">


					<div class="m-portlet__body">
						<div class="row m-row--no-padding">
							<div class="col-md-12 col-lg-6 col-xl-6">

								<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
								<div class="form-group m-form__group row">
									<div class="col-12 ml-auto">
										<h3 class="m-form__section">
                                            {% trans %} profile.personal.address {% endtrans %}
										</h3>
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-6 col-form-label font-weight-bold">
                                        {% trans %} profile.personal.address {% endtrans %}
									</label>
									<div class="col-6">
										<label for="example-text-input" class="col-12 col-form-label">
                                            {{ user.address }}
										</label>

									</div>
								</div>
                                {% if user.city.id is defined %}
								<div class="form-group m-form__group row">

										<label for="example-text-input" class="col-6 col-form-label font-weight-bold">
                                            {% trans %} profile.personal.address.city {% endtrans %}
										</label>
										<div class="col-6">
											<label for="example-text-input" class="col-12 col-form-label">
                                                {{ user.city.name }}
											</label>

										</div>

								</div>
                                {% endif %}
                                {% if user.city.id is defined %}
								<div class="form-group m-form__group row">

										<label for="example-text-input" class="col-6 col-form-label font-weight-bold">
                                            {% trans %} profile.personal.address.state {% endtrans %}
										</label>
										<div class="col-6">
											<label for="example-text-input" class="col-12 col-form-label">
                                                {{ user.city.uf }}
											</label>

										</div>

								</div>
                                {% endif %}
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-6 col-form-label font-weight-bold">
                                        {% trans %} profile.personal.address.postal_code {% endtrans %}
									</label>
									<div class="col-6">
										<label for="example-text-input" class="col-12 col-form-label">
                                            {{ user.zipCode }}
										</label>

									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-6 col-form-label font-weight-bold">
                                        {% trans %} profile.personal.address.neighborhood {% endtrans %}
									</label>
									<div class="col-6">
										<label for="example-text-input" class="col-12 col-form-label">
                                            {{ user.neighborhood }}
										</label>

									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-6 col-form-label font-weight-bold">
                                        {% trans %} profile.personal.address.number {% endtrans %}
									</label>
									<div class="col-6">
										<label for="example-text-input" class="col-12 col-form-label">
                                            {{ user.number }}
										</label>

									</div>
								</div>
							</div>

							<div class="col-md-12 col-lg-6 col-xl-6">
								<div class="form-group m-form__group row">
									<div class="col-12 ml-auto">
										<h3 class="m-form__section">
                                            {% trans %} profile.personal.others {% endtrans %}
										</h3>
									</div>
								</div>


								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-6 col-form-label font-weight-bold">
                                        {% trans %} profile.personal.state_civil {% endtrans %}
									</label>
									<div class="col-6">
										<label for="example-text-input" class="col-12 col-form-label">
                                            {{ user.getUserGender()|trans }}
										</label>

									</div>
								</div>
                                {% if user.birthDate is defined %}

									<div class="form-group m-form__group row">
										<label for="example-text-input" class="col-6 col-form-label font-weight-bold">
                                            {% trans %} profile.personal.others.birth_date {% endtrans %}
										</label>
										<div class="col-6">
											<label for="example-text-input" class="col-12 col-form-label">
                                                {{ user.birthDate |date("d/m/Y") }}
											</label>

										</div>
									</div>
                                {% endif %}

                                {% if user.admission_date is defined  and not user.hasRole('ROLE_USER') %}

									<div class="form-group m-form__group row">
										<label for="example-text-input" class="col-6 col-form-label font-weight-bold">
                                            {% trans %} profile.personal.others.admission_date {% endtrans %}
										</label>
										<div class="col-6">
											<label for="example-text-input" class="col-12 col-form-label">
                                                {{ user.admissionDate |date("d/m/Y") }}
											</label>

										</div>
									</div>
                                {% endif %}

                                {% if  user.hasRole('ROLE_DOCTOR')  and user.cro is defined %}
									<div class="form-group m-form__group row">
										<label for="example-text-input" class="col-6 col-form-label font-weight-bold">
											CRO
										</label>
										<div class="col-6">
											<label for="example-text-input" class="col-12 col-form-label">
                                                {{ user.cro }}
											</label>

										</div>
									</div>
                                {% endif %}


                                {% if user.hasRole('ROLE_USER') and not user.hasRole('ROLE_DOCTOR') and not user.hasRole('ROLE_EMPLOYEE') and user.profession is defined %}
									<div class="form-group m-form__group row">
										<label for="example-text-input" class="col-6 col-form-label font-weight-bold">
                                            {% trans %} profile.personal.others.profession {% endtrans %}
										</label>
										<div class="col-6">
											<label for="example-text-input" class="col-12 col-form-label">
                                                {{ user.profession }}
											</label>

										</div>
									</div>
                                {% endif %}

                                {% if  user.specialization.id is defined and not user.hasRole('ROLE_USER')   %}
									<div class="form-group m-form__group row">
										<label for="example-text-input" class="col-6 col-form-label font-weight-bold">
                                            {% trans %} profile.personal.others.specialization {% endtrans %}
										</label>
										<div class="col-6">
											<label for="example-text-input" class="col-12 col-form-label">
                                                {{ user.specialization.name }}
											</label>

										</div>
									</div>
                                {% endif %}


                                {% if is_granted('ROLE_DOCTOR') or is_granted('ROLE_EMPLOYEE') or is_granted('ROLE_ADMIN')  %}
									<div class="form-group m-form__group row">
										<label for="example-text-input" class="col-6 col-form-label font-weight-bold">
                                            {% trans %} form.roles {% endtrans %}
										</label>
										<div class="col-6">
											<label for="example-text-input" class="col-12 col-form-label">
												{%  for role in user.roles %}
                                                {{ role}}
                                                {%  endfor %}
											</label>

										</div>
									</div>
                                {% endif %}

								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-6 col-form-label font-weight-bold">
                                        {% trans %} profile.personal.others.notes {% endtrans %}
									</label>
									<div class="col-6">
										<label for="example-text-input" class="col-12 col-form-label">
                                            {{ user.notes|raw }}
										</label>

									</div>
								</div>

							</div>


						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
