

<div class="m-portlet__head">
    <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">

            <h3 class="m-portlet__head-text">
                {% if  user.hasPhoto %}
                    <span class="m-topbar__userpic">


                    <img src="{{user.photo.url}}" class="m--img-rounded m--marginless m--img-centered" alt="{{user.fullName}}" width="10%">

                </span>
                {% endif %}

                {{ user.name }}({{ user.username }})
            </h3>
        </div>
    </div>

    <div class="m-portlet__head-tools">
        <div class="m-btn-group m-btn-group--pill btn-group mr-2" role="group" aria-label="...">
            <a href="{{ path('admin_user_edit', {'id': user.uuid}) }}" class="m-btn btn btn-outline-light">
                <i class="la la-file-text-o"></i>
            </a>


            <a href="{{ path('admin_user_change_password', {'id': user.uuid}) }}" class="m-btn btn btn-outline-light">
                <i class="m-nav__link-icon la la-key"></i>
            </a>

            <a href="{{ path('admin_user_change_photo', {'id': user.uuid}) }}" class="m-btn btn btn-outline-light">
                <i class="m-nav__link-icon la la-camera-retro"></i>
            </a>



        </div>
    </div>



</div>

