
		<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
			<div class="m-demo__preview">

				<div class="m-list-search">
					<div class="m-list-search__results">

						<span class="m-list-search__result-category" style="margin: 0px 0px 0px 0px">
																	{{ 'form.owner'| trans  }}
																</span>

                        {% for users in clinic.owners %}
							{%  set user = users.user %}

							<a href="#" class="m-list-search__result-item" data-toggle="modal" data-target="#m_modal_woner_{{ user.id }}">
								<span class="m-list-search__result-item-pic">
									{% if  user.photo is defined and user.photo.url is defined %}
									<img class="m--img-rounded"
										 src="{{  user.photo.url }}"
										 title="{{ user.name }}({{ user.username }}) - {{  user.email }}">


									{%  endif %}

								</span>

								<span class="m-list-search__result-item-text" style="font-size: 13px;">
									{{ user.name }} &ensp; <span style="font-size: 11px;"> </span><br>
									<span style="font-size: 11px;">{{ user.username   }} ({{ user.email }}) </span><br>
										<span style="font-size: 10px">
											{% for role in user.roles  %}
												{{  role }} &ensp;
											{% endfor %}
										</span>
								</span>





							</a>
								<span class="m-list-search__result-item-text" style="font-size: 12px;float: right;margin-top: -35px;">

									<a href="{{ path('admin_clinic_user_edit', {'id': clinic.id, 'userId': user.id}) }}"
                                    title="Edit details">                            <i class="la la-edit"></i>                        </a>

								</span>

                            {% include 'admin/clinic/user/modal-clinic-owner.html.twig' with { user: user} only %}
                        {% endfor %}



					</div>
				</div>
			</div>
		</div>
