
{% set sort_column = 'id' %}


{% if sortDirection is defined and sortDirection == "ASC" %}
    {% set sort_position = 'DESC' %}
{% elseif sortDirection is defined and sortDirection == "DESC" %}
    {% set sort_position = 'ASC' %}
{% else %}
    {% set sort_position = 'ASC' %}
{% endif %}

{% if sortField is defined %}
    {% set sort_column = sortField %}
{% endif %}


{#{% set _route = 'doctor_client_list' %}#}

<div class="m-portlet m-portlet--mobile">

    <div class="m-portlet__body">
        <!--begin: Search Form -->
        <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
            <div class="row align-items-center">
                <div class="col-xl-12 order-2 order-xl-1">
                    <div class="form-group m-form__group row align-items-center">

                        <div class="col-md-4">
                            <form action="{{ path(_route) }}" method="get">
                                <div class="m-input-icon m-input-icon--left">

                                    <input type="text" name="filter" id="filter" value="{{ filter }}"
                                           class="form-control m-input m-input--solid" placeholder="Search..."
                                           id="generalSearch">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
															<span>
																<i class="la la-search"></i>
															</span>
														</span>

                                </div>
                            </form>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-6 m--align-right">


                                <a href="{{ path('doctor_clinic_user_profile_add_client',{'type':'client'}) }}" class="btn btn-success m-btn--air m-btn--pill">
                                                    <span>
                                                        <i class="flaticon-user-add"></i>
                                                        <span>
                                                            Novo paciente
                                                        </span>
                                                    </span>
                                </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <!--end: Search Form -->
        <!--begin: Datatable -->
        <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">
            <table class="m-datatable__table" style="display: block; height: auto; overflow-x: auto;">
                <thead class="m-datatable__head">
                <tr class="m-datatable__row">
                <th title="options" class="m-datatable__cell m-datatable__cell--sort" data-field="options">
                                <span style="width: 100px">

                                    {{ 'form.options'| trans }}

                                </span>
                </th>

                    {#<th data-field="id" class="m-datatable__cell--center m-datatable__cell m-datatable__cell--sort"><span style="width: 20px;"></span></th>#}
                    {% for key, field in fields %}

                        <th title="{{ field.name | trans }}" class="m-datatable__cell m-datatable__cell--sort" data-field="{{ field.name | trans }}">
                                <span style="{% if field.style is defined %} {{ field.style }} {% else %} width: 171px; {% endif %} ">

                                    {% if field.sorted is defined and field.sorted == 'true' %}
                                    <a href="{{ path(_route, { page: 1, filter: filter, sortField: field.id, sortDirection: sort_position}) }}">
                                    {% endif %}

                                        {{ field.name |trans }}

                                        {% if field.sorted is defined and field.sorted == 'true' and sort_column == field.id %}
                                            {% set sort_column = field.id %}
                                            <i class="la {% if sort_position == 'ASC' %} la-arrow-down {% else %} la-arrow-up {% endif %} "></i>
                                        {% endif %}

                                        {% if field.sorted is defined and field.sorted == 'true' and sort_column == field.id %}
                                        </a>
                                    {% endif %}

                                </span>
                        </th>
                    {% endfor %}


                </tr>
                </thead>
                <tbody class="m-datatable__body">

                {% set clinics = data.data %}
                {% for user in clinics %}


                    <tr data-row="{{ loop.index }}" class="m-datatable__row m-datatable__row--even">
                        {#<td data-field="id" class="m-datatable__cell--center m-datatable__cell"><span#}

                                    {#style="width: 20px;">#}
                                {#<a class="m-datatable__toggle-subtable expand-info-right" href="#"#}
                                                            {#id="{{ clinic.id }}"#}
                                                            {#data-value="expand-{{ clinic.id }}" title="Load sub table"><i#}
                                            {#class="fa fa-caret-right"></i></a>#}

                            {#<a class="m-datatable__toggle-subtable expand-info-left" style="display: none" href="#"#}
                               {#id="{{ clinic.id }}"#}
                               {#data-value="expand-{{ clinic.id }}" title="Load sub table"><i#}
                                        {#class="fa fa-sort-desc"></i></a>#}
                            {#</span></td>#}

                        <td class="m-datatable__cell">

                            <a href="{{ path('doctor_clinic_user_profile_info', {'id' : user.uuid }) }}"
                               data-container="body" data-toggle="m-tooltip" data-placement="top" data-original-title="Detalhes"
                               class="m-btn btn btn-primary" title="Detalhes">
                                <i class="la la-edit"></i>
                            </a>
                        </td>
                        {% for key, field in fields %}


                            <td class="m-datatable__cell">
                                <span style="{% if field.style is defined %} {{ field.style }} {% else %} width: 171px; {% endif %} ">
                                    {% if  field.datetime is defined and field.datetime == 'true' %}
                                        {{ attribute(user, field.id)|date('d/m/Y') }}

                                    {% elseif  field.card is defined and field.card == 'true' %}
                                        <div class="m-card-user m-card-user--sm">
                                            <div class="m-card-user__pic">
                                                <div class="m-card-user__no-photo m--bg-fill-danger">
                                                    {% if  user.hasPhoto %}
                                                        <img src="{{user.photo.url}}" class="m--img-rounded m--marginless m--img-centered" alt="{{user.fullName}}">
                                                    {% else %}
                                                        --
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="m-card-user__details">
                                                <span class="m-card-user__name"> {{ user.name|raw }} </span>
                                                <a href="" class="m-card-user__email m-link">{{ user.email|raw }}</a>
                                            </div>
                                        </div>

                                    {% elseif  field.bool is defined and field.bool == 'true' %}

                                            {#{% if user.enabled == 1 %}#}
                                                {#<span class="m-badge  m-badge--success m-badge--wide">{{ 'form.active'|trans }}</span>#}
                                            {#{% else %}#}
                                                {#<span class="m-badge  m-badge--metal m-badge--wide">{{ 'form.disable'|trans }}</span>#}

                                            {#{% endif %}#}

                                        {%  if app.user != user and not user.getUsers().first().isOwner() %}

                                            <span class="m-switch m-switch--outline m-switch--icon-check m-switch--brand">
											<label>
												<input type="checkbox" {% if user.enabled == 1 %} checked="checked" {% endif %} name="enabled" class="enabled" data-value="{{ user.uuid }}">
												<span></span>
											</label>
										</span>

                                        {% else %}

                                            {% if user.enabled == 1 %}
                                            <span class="m-badge  m-badge--success m-badge--wide">{{ 'form.active'|trans }}</span>
                                            {% else %}
                                            <span class="m-badge  m-badge--metal m-badge--wide">{{ 'form.disable'|trans }}</span>

                                            {% endif %}
                                        {% endif %}

                                    {% elseif  field.array is defined and field.array == 'true' %}


                                        {#{% if user.hasRole('ROLE_ADMIN') %}#}
                                            {#{{ 'form.role.admin'|trans }}#}
                                        {#{% elseif  user.hasRole('ROLE_DOCTOR') %}#}
                                            {#{{ 'form.role.doctor'|trans }}#}

                                        {#{% elseif user.hasRole('ROLE_EMPLOYEE') %}#}
                                            {#{{ 'form.role.employee'|trans }}#}
                                         {#{% elseif user.hasRole('ROLE_USER') %}#}
                                             {#{{ 'form.role.user'|trans }}#}
                                        {#{% endif %}#}


                                        {% if user.getDefaulClinic(clinic).isOwner() %}
                                            {{ 'form.role.admin'|trans }}
                                        {% elseif user.getDefaulClinic(clinic).isEmployee() %}
                                            {{ 'form.role.employee'|trans }}
                                        {% elseif user.getDefaulClinic(clinic).isClient() %}
                                            {{ 'form.role.paciente'|trans }}
                                        {% endif %}
                                    {% else %}
                                       {{ attribute(user, field.id)|raw }}

                                    {% endif %}


                                </span>
                            </td>

                        {% endfor %}


                    </tr>


                {% endfor %}

                </tbody>
            </table>
            {% set paginator = data.meta.pagination %}

            <div class="m-datatable__pager m-datatable--paging-loaded clearfix">

                <ul class="m-datatable__pager-nav">
                    {% if 1 != paginator.currentPage %}

                        <li>
                            <a title="First" href="{{ path(_route, { page: 1, filter: filter, sortField: sort_column, sortDirection: sort_position }) }}"
                               class="m-datatable__pager-link m-datatable__pager-link--first"
                               data-page="1" disabled="disabled"><i class="la la-angle-double-left"></i></a>

                        </li>
                    {% endif %}

                    {% if paginator.hasPreviousPage %}
                        <li>
                            <a title="Previous"
                               href="{{ path(_route, { page: paginator.previousPage, filter: filter, sortField: sort_column, sortDirection: sort_position }) }}"
                               class="m-datatable__pager-link m-datatable__pager-link--prev"
                               data-page="1" disabled="disabled"><i class="la la-angle-left"></i></a>
                        </li>

                    {% endif %}


                    {% for pag in 1..paginator.nbPages %}


                        <li>
                            <a href="{{ path(_route, { page: pag, filter: filter, sortField: sort_column, sortDirection: sort_position }) }}"
                               class="m-datatable__pager-link m-datatable__pager-link-number {% if pag == paginator.currentPage %}m-datatable__pager-link--active{% endif %}"
                               data-page="1" title="1"> {{ pag }}</a>
                        </li>


                    {% endfor %}


                    {% if paginator.hasNextPage %}
                        <li><a href="{{ path(_route, { page: paginator.nextPage, filter: filter, sortField: sort_column, sortDirection: sort_position  }) }}"
                               title="Next" class="m-datatable__pager-link m-datatable__pager-link--next" data-page="2"><i
                                        class="la la-angle-right"></i></a></li>

                    {% endif %}


                    {% if paginator.currentPage < paginator.nbPages %}
                        <li>
                            <a href="{{ path(_route, { page: paginator.nbPages, filter: filter, sortField: sort_column, sortDirection: sort_position  }) }}"
                               title="Last" class="m-datatable__pager-link m-datatable__pager-link--last"
                               data-page="15"><i
                                        class="la la-angle-double-right"></i>
                            </a>
                        </li>

                    {% endif %}


                </ul>

                <div class="m-datatable__pager-info">

                    <span class="m-datatable__pager-detail">{{ paginator.currentPage }} - {{ paginator.nbPages }} &emsp;&emsp; Total {{ paginator.nbResults }}
                        items</span></div>

            </div>
        </div>
        <!--end: Datatable -->
    </div>
</div>