{% extends 'layouts/doctor.html.twig' %}


{% block main_content %}
    <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
												<span class="m-portlet__head-icon m--hide">
													<i class="flaticon-statistics"></i>
												</span>
                    <h3 class="m-portlet__head-text">
                      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    </h3>
                    <h2 class="m-portlet__head-label m-portlet__head-label--info">
                     <span style="font-size: 28px">
                                                             <span style="font-size:  25px">#{{ clinic.id }} </span>
                         {{ clinic.fantasia }}
													</span>
                    </h2>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <a href="{{ path('doctor_clinic_edit', {'id': clinic.id}) }}"
                           class="m-portlet__nav-link btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill">
                            <i class="la la-edit"></i>
                        </a>
                    </li>


                </ul>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="row m-row--no-padding">
                <div class="col-md-12 col-lg-6 col-xl-6">

                    <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                    <div class="form-group m-form__group row">
                        <div class="col-12 ml-auto">
                            <h3 class="m-form__section">
                                {{ 'form.clinic.information'| trans  }}
                            </h3>
                        </div>
                    </div>


                    {% include 'admin/clinic/info-clinic.html.twig' %}


                </div>
                <div class="col-md-12 col-lg-1 col-xl-1"></div>
                <div class="col-md-12 col-lg-4 col-xl-4">

                    <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                    <div class="form-group m-form__group row">
                        <div class="col-12 ml-auto">
                            <h3 class="m-form__section">
                                &emsp;
                            </h3>
                        </div>
                    </div>

                    {% include 'admin/clinic/info-clinic-users.html.twig' %}

                    {% include 'admin/clinic/info-clinic-settings.html.twig' %}
                </div>


            </div>

        </div>
    </div>

{% endblock %}
