{% extends 'layouts/doctor.html.twig' %}


{% block main_content %}
    <div class="col-xl-12 col-lg-12">
        <div class="m-portlet m-portlet--tabs {%  if user.enabled ==false %} m-portlet--danger {% else %} m-portlet--success {% endif %}  m-portlet--head-solid-bg m-portlet--bordered">

            {% include 'doctor/clinic/user/user-tab.html.twig' with {'active': 'procedure'} %}
            <div class="m-portlet__body">
                <div class="tab-content">

                </div>
            </div>
        </div>
    </div>

{% endblock %}
