<tr class="m-datatable__row m-datatable__row--even m-datatable__row-detail" data-value="{{ budget.id }}" style="display: none">
    <td class="m-datatable__detail" colspan="6">
        <div id="child_data_local_{{ budget.id }}">

            <div class="m-portlet__body  m-portlet__body--no-padding" >
                <div class="row m-row--no-padding m-row--col-separator-xl">
                    <div class="col-md-12 col-lg-6 col-xl-3">
                        <!--begin::Total Profit-->
                        <div class="m-widget24 table-responsive">
                            <table class="table table-sm table-striped table-condensed">
                                <thead>


                                {#<tr class="m-datatable__row m-datatable__row--even">#}
                                    {#<th>#}
                                        {#{{ 'clinic.label.budget.profissional'|trans }}#}

                                    {#</th>#}
                                    {#<td>#}
                                        {#<span class="pull-right">{{ budget.professional.name |e  }}</span>#}
                                    {#</td>#}
                                {#</tr>#}
                                <tr class="m-datatable__row m-datatable__row--even">
                                    <th>
                                        {{ 'clinic.label.budget.created_by'|trans }}
                                    </th>
                                    <td>
                                        <span class="pull-right">{{ budget.createdBy.name |e  }}</span>
                                    </td>
                                </tr>
                                <tr class="m-datatable__row m-datatable__row--even">

                                        <th>
                                            {{ 'clinic.label.budget.agreement'|trans }}
                                        </th>

                                        <td>{% if budget.agreement %}
                                            <span class="pull-right">{{ budget.agreement.fantasia |e  }}</span>
                                            {% endif %}
                                        </td>



                                </tr>

                                <tr class="m-datatable__row m-datatable__row--even">
                                    <th>
                                        {{ 'clinic.label.budget.validity'|trans }}
                                    </th>
                                    <td>

                                        <span class="pull-right">   {{ budget.validity |date('d/m/Y')  }}</span>
                                    </td>
                                </tr>

                                <tr class="m-datatable__row m-datatable__row--even">
                                    <th>
                                        {{ 'clinic.label.budget.tooth'|trans }}
                                    </th>
                                    <td>
                                        <span style="font-weight: bold"> {{ budget.tooth |e  }}</span>
                                    </td>
                                </tr>

                                <tr class="m-datatable__row m-datatable__row--even">
                                    <th>
                                        {% if  budget.done == true %}
                                            Data de execução
                                        {% else %}
                                            {{ 'clinic.label.budget.status'|trans }}
                                        {% endif %}
                                    </th>
                                    <td>
                                        {% if  budget.done == true %}

                                            <span class="pull-right">   {{ budget.paiddate|date('d/m/Y H:i') }} </span>
                                        {% else %}
                                            {%  if budget.status is null and budget.isValid == false %}
                                                <span class="pull-right"> Vencido </span>

                                            {% else %}
                                                <span class="pull-right"> {{ budget.getStateMethod(budget.status) |trans }}</span>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <!--end::Total Profit-->
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-3">
                        <!--begin::New Feedbacks-->
                        <div class="m-widget24 table-responsive">
                            <table class="table table-sm table-striped">
                                <thead>

                                <tr class="m-datatable__row m-datatable__row--even">
                                    <th>
                                        {{ 'clinic.label.budget.value'|trans }}
                                    </th>
                                    <td>
                                        <span class="pull-right"> R$ {{ budget.value |e  }}</span>
                                    </td>
                                </tr>
                                <tr class="m-datatable__row m-datatable__row--even">
                                    <th>
                                        {{ 'clinic.label.budget.discount'|trans }}(%)
                                    </th>
                                    <td>
                                        <span class="pull-right">   {{ budget.discount |e  }}</span>

                                    </td>
                                </tr>
                                <tr class="m-datatable__row m-datatable__row--even">
                                    <th>
                                        {{ 'clinic.label.budget.total'|trans }}
                                    </th>
                                    <td>
                                        <span class="pull-right">  R$ {{ budget.total |e  }}</span>
                                    </td>
                                </tr>

                                <tr class="m-datatable__row m-datatable__row--even">
                                    <th>
                                        {{ 'clinic.label.budget.payment_method'|trans }}
                                    </th>
                                    <td>
                                        <span class="pull-right">  {{ budget.getPaymentMethod(budget.payment) |trans  }}</span>

                                    </td>
                                </tr>


                                <tr class="m-datatable__row m-datatable__row--even">
                                    <th>
                                        Pagamento
                                    </th>
                                    <td>
                                        {% if budget.paid == true %}
                                            <span class="pull-right">   {{ budget.paiddate|date('d/m/Y H:i') }} </span>
                                        {% else %}
                                            <span class="pull-right">  Pendente </span>
                                        {% endif %}

                                    </td>
                                </tr>



                                </thead>
                            </table>
                        </div>
                        <!--end::New Feedbacks-->
                    </div>

                    <div class="col-md-12 col-lg-6 col-xl-6">
                        <!--begin::New Orders-->
                        <div class="m-widget24 table-responsive">
                            <table class="table table-sm table-striped">
                                <thead>

                                <tr class="m-datatable__row m-datatable__row--even">
                                    <th>
                                        {{ 'clinic.label.budget.plan.details'|trans }}
                                    </th>
                                    <td>
                                        <span class="pull-right">  {{ budget.plan.details |e  }}</span>
                                    </td>
                                </tr>
                                <tr class="m-datatable__row m-datatable__row--even">
                                    <th>
                                        {{ 'clinic.label.budget.profissional'|trans }}
                                    </th>
                                    <td>
                                        <span class="pull-right">  {{ budget.plan.professional.name |e  }}</span>
                                    </td>
                                </tr>
                                    {#<tr class="m-datatable__row m-datatable__row--even">#}
                                        {#<th>#}
                                            {#{{ 'clinic.label.budget.plan.procedures.data'|trans }}#}
                                        {#</th>#}
                                        {#<td>#}
                                            {#<span class="pull-right"> {{ budget.plan.date |date('d/m/Y H:i')  }}</span>#}

                                        {#</td>#}
                                    {#</tr>#}

                                <tr class="m-datatable__row">
                                    <td>

                                        <span class="pull-left" style="width: 60%"> {{ 'clinic.label.budget.plan.procedures'|trans }}</span>

                                        <span class="center"style="width: 10%">Tempo</span>
                                        <span class="pull-right" style="width: 30%"> Data de execução</span>
                                    </td>

                                </tr>

                                {% for procedures in  budget.plan.procedures %}
                                    {% set procedure = procedures.procedure %}
                                    <tr class="m-datatable__row m-datatable__row--even">

                                        <td style="width: 60%">
                                            <p style="font-size: 11pt; font-style:italic">
                                            {{ procedure.description |e  }}
                                            </p>

                                        </td>
                                        <td style="width: 10%">
                                            <span class="m-widget4__info-date m--font-info" style="font-size: 12pt; font-weight: ligther;">
                                            {{ procedure.averageTime |e  }} Hr(s)
                                            </span>
                                        </td>
                                        <td style="width: 30%">
                                            <span class="m-widget4__info-date m--font-info" style="font-size: 12pt; font-weight: ligther;">
                                            {{ procedures.date|date('d/m/Y H:i') }}
                                            </span>
                                        </td>
                                    </tr>

                                    {#<div class="m-widget5__item">#}

                                        {#<div class="media-body pull-left">#}
                                            {#<p class="m-widget4__text" style="width: 90%">#}
                                                {#{{ procedure.description |e  }}#}
                                            {#</p>#}
                                        {#</div>#}
                                        {#<div class="m-widget4__ext pull-right">#}
                                                    {#<span class="m-widget4__info-date m--font-info" style="font-size: 12pt; ">#}
                                                        {#{{ procedure.averageTime |e  }} Hr(s)#}
                                                    {#</span>#}
                                        {#</div>#}
                                    {#</div>#}

                                {% else %}
                                    <center><b>{{ 'clinic.label.not_found'|trans }}</b></center>
                                {% endfor %}




                                </thead>
                            </table>
                        </div>
                        <!--end::New Orders-->
                    </div>

                </div>

        </div>

            <hr>
    </td>
</tr>