{% extends 'layouts/doctor.html.twig' %}


{% block main_content %}
    <div class="col-xl-12 col-lg-12">
        <div class="m-portlet m-portlet--tabs {%  if user.enabled ==false %} m-portlet--danger {% else %} m-portlet--success {% endif %}  m-portlet--head-solid-bg m-portlet--bordered">

            {% include 'doctor/clinic/user/user-tab.html.twig' with {'active': 'quote'} %}
            <div class="m-portlet__body">
                <div class="tab-content">

                    {% include 'doctor/clinic/user/budget/user-budget-list.html.twig'%}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_javascripts %}
    <script>

        jQuery(document).ready(function() {

            $(".m-datatable__toggle-subtable").click(function(){

                el_right = $(this).find(".fa-caret-right");
                el_down = $(this).find(".fa-caret-down");
                var primaryKey = $(this).data('value');
                if($(el_right).hasClass("fa-caret-right")){

                    $(el_right).removeClass('fa-caret-right').addClass('fa-caret-down');

                    el_detail = $(".m-datatable__row-detail").filter('[data-value="'+ primaryKey+'"]');

                    $(el_detail).show();

                } else if ($(el_down).hasClass("fa-caret-down")){

                    $(el_down).removeClass('fa-caret-down').addClass('fa-caret-right');
                    el_detail = $(".m-datatable__row-detail").filter('[data-value="'+ primaryKey+'"]');
                    $(el_detail).hide();
                }


            });

        });
    </script>
{% endblock %}
