
<div class="form-group m-form__group row ">

    <div class="col-lg-3">
        <label>
            {{ form_label(form.tooth) }} *
        </label>

        <div class="input-group m-input-group m-input-group--pill">
            <span class="input-group-addon" id="basic-addon1">
               >
            </span>
            {{ form_widget(form.tooth, {attr: {class: 'form-control m-input select2', placeholder:'clinic.label.budget.tooth'} }) }}
        </div>


        {% if form.tooth.vars.valid == false %}
            <div class="form-control-feedback"> {{ form_errors(form.tooth) }}</div>

        {% endif %}

    </div>


    <div class="col-lg-3">

        <label>
            {{ form_label(form.validity) }} *
        </label>

        <div>
            {{ form_widget(form.validity, {attr: {class: 'form-control m-input', placeholder:'clinic.label.budget.validity'} }) }}
            {% if form.validity.vars.valid == false %}
            <div class="form-control-feedback"> {{ form_errors(form.validity) }}</div>

            {% endif %}
        </div>

	</div>



    <div class="col-lg-6">
        <label>
            {{ form_label(form.payment) }} *
        </label>

        {{ form_widget(form.payment, {attr: {class: 'form-control m-input select2', placeholder:'clinic.label.budget.payment_method'} }) }}
        {% if form.payment.vars.valid == false %}
        <div class="form-control-feedback"> {{ form_errors(form.payment) }}</div>

        {% endif %}

    </div>





</div>

<div class="form-group m-form__group row ">

    <div class="col-lg-6">
        <label>
            {{ form_label(form.value) }} *
        </label>


        <div class="input-group m-input-group m-input-group--pill">
            <span class="input-group-addon" id="basic-addon1">
                R$
            </span>
            {{ form_widget(form.value, {attr: {class: 'form-control m-input moedaReal', placeholder:'clinic.label.budget.value'} }) }}
        </div>

        {% if form.value.vars.valid == false %}
            <div class="form-control-feedback"> {{ form_errors(form.value) }}</div>

        {% endif %}

    </div>


    <div class="col-lg-6">
        <label>
            {{ form_label(form.discount) }}
        </label>



        <div class="input-group m-input-group m-input-group--pill">
													<span class="input-group-addon" id="basic-addon1">
														#
													</span>

            {{ form_widget(form.discount, {attr: {class: 'form-control m-input', placeholder:'clinic.label.budget.discount'} }) }}
            <span class="input-group-addon" id="basic-addon1">
														%
													</span>
        </div>

        {% if form.discount.vars.valid == false %}
            <div class="form-control-feedback"> {{ form_errors(form.discount) }}</div>

        {% endif %}

    </div>


</div>
<div class="form-group m-form__group row ">

    <div class="col-lg-6">
        <label>
            {{ form_label(form.plan.professional) }} *
        </label>

        {{ form_widget(form.plan.professional, {attr: {class: 'form-control m-input select2', placeholder:'user.label.plan.professional'} }) }}
        {% if form.plan.professional.vars.valid == false %}
            <div class="form-control-feedback"> {{ form_errors(form.plan.professional) }}</div>

        {% endif %}

    </div>

    <div class="col-lg-5">
        <label>
            {{ form_label(form.agreement) }}
        </label>

        {{ form_widget(form.agreement, {attr: {class: 'form-control m-input select2', placeholder:'clinic.label.budget.agreement'} }) }}
        {% if form.agreement.vars.valid == false %}
        <div class="form-control-feedback"> {{ form_errors(form.agreement) }}</div>

        {% endif %}

    </div>

</div>


<div class="form-group m-form__group row ">


    <div class="col-lg-6">
        <label>
            {{ form_label(form.plan.procedures) }} *
        </label>

        {{ form_widget(form.plan.procedures, {attr: {class: 'form-control m-input select2', placeholder:'user.label.plan.procedures'} }) }}
        {% if form.plan.procedures.vars.valid == false %}
        <div class="form-control-feedback"> {{ form_errors(form.plan.procedures) }}</div>

        {% endif %}

    </div>

    <div class="col-lg-6">
        <label>
            {{ form_label(form.plan.details) }}
        </label>

        {{ form_widget(form.plan.details, {attr: {class: 'form-control m-input', placeholder:'clinic.label.budget.plan.details'} }) }}
        {% if form.plan.details.vars.valid == false %}
            <div class="form-control-feedback"> {{ form_errors(form.plan.details) }}</div>

        {% endif %}

    </div>

    {#<div class="col-lg-6">#}

    {#<label class="col-form-label col-lg-3 col-md-3 col-sm-3">#}
    {#{{ form_label(form.plan.date) }} *#}
    {#</label>#}

    {#<div class="col-lg-3 col-md-3 col-sm-3">#}
    {#{{ form_widget(form.plan.date, {attr: {class: 'form-control m-input', placeholder:'user.label.plan.date'} }) }}#}
    {#{% if form.plan.date.vars.valid == false %}#}
    {#<div class="form-control-feedback"> {{ form_errors(form.plan.date) }}</div>#}

    {#{% endif %}#}
    {#</div>#}

    {#</div>#}

</div>


