{% extends 'layouts/doctor.html.twig' %}


{% block main_content %}
	<div class="m-portlet">

		<!--begin::Form-->
            {{ form_start(form, {attr: {class: 'm-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed'} }) }}
			<div class="m-portlet__body">

                {% include 'doctor/clinic/user/budget/form/user-budget-form-fields.html.twig' %}

				<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>

			</div>
			<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
				<div class="m-form__actions m-form__actions--solid">
					<div class="row">
						<div class="col-lg-6">
							<button type="submit" class="btn btn-primary">
                                {{ 'form.save' | trans }}
							</button>&emsp;
                            {{ form_widget(form.cancel, {attr: {class: 'btn btn-secondary'} }) }}
						</div>

					</div>
				</div>
			</div>
        {{ form_end(form) }}
		<!--end::Form-->
	</div>

{% endblock %}

{% block custom_javascripts %}
	<script>
        var $collectionHolder;


        jQuery(document).ready(function() {

            $('.select2').select2({
                selectOnClose: true
            });
            // phone number format
            $("#profile_form_phone").inputmask("mask", {
                "mask": "(99) 9999-9999"
            });
            $("#profile_form_cell_phone").inputmask({mask: ['(99) 9999-9999', '(99) 99999-9999']});


            $("#profile_form_rg").inputmask("99.999.999-9");
            $("#profile_form_cpf").inputmask("999.999.999-99");

            $("#profile_form_zip_code").inputmask("99999-999",{
                autoUnmask: true
            });

            $('.moedaReal').inputmask('decimal', {
                radixPoint:",",
                groupSeparator: ".",
                autoGroup: true,
                digits: 2,
                digitsOptional: false,
                placeholder: '0',
                rightAlign: false,
                unmaskAsNumber: true,
                removeMaskOnSubmit: true,
                onBeforeMask: function (value, opts) {

                    return value;
                }
            });

        });
	</script>
{% endblock %}