
<div class="form-group m-form__group row ">


    <div class="col-lg-6">
        <label>
            {{ form_label(form.payment) }} *
        </label>

        {{ form_widget(form.payment, {attr: {class: 'form-control m-input select2', placeholder:'clinic.label.budget.payment_method'} }) }}
        {% if form.payment.vars.valid == false %}
        <div class="form-control-feedback"> {{ form_errors(form.payment) }}</div>

        {% endif %}

    </div>


</div>

<div class="form-group m-form__group row ">

    <div class="col-lg-4">
        <label>
            {{ 'clinic.label.budget.value'|trans }}
        </label>


        <div class="input-group m-input-group m-input-group--pill">

                R$  {{ budget.value }}
        </div>
    </div>


    <div class="col-lg-4">

        <label>
            {{ 'clinic.label.budget.discount'|trans }}
        </label>


        {% if budget.discount is not null %}
        <div class="input-group m-input-group m-input-group--pill">
					{{ budget.discount }}%
        </div>
        {% endif %}


    </div>
    <div class="col-lg-4">

        <label>
            {{ 'clinic.label.budget.total'|trans }}
        </label>



        <div class="input-group m-input-group m-input-group--pill">
            R$ {{ budget.total }}
        </div>


    </div>


</div>


