
<div class="form-group m-form__group row">
	<div class="col-12 ml-auto">
		<h3 class="m-form__section">
            {% trans %} profile.personal.others {% endtrans %}
		</h3>
	</div>
</div>



{% if form.specialization is defined and form.admission_date is defined and form.cro is defined  %}
<div class="form-group m-form__group row">
    {% if form.specialization is defined %}
		<div class="col-lg-6">
			<label>
                {{ form_label(form.specialization) }}
			</label>
            {{ form_widget(form.specialization, {attr: {class: 'form-control m-input select2',placeholder:'user.label.specialization'} }) }}
            {% if form.specialization.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.specialization) }}</div>

            {% endif %}

		</div>
    {% endif %}

    {% if form.admission_date is defined %}
		<div class="col-lg-3">
			<label class="">
                {{ form_label(form.admission_date) }}
			</label>
            {{ form_widget(form.admission_date, {attr: {class: 'form-control m-input',placeholder:'user.label.admission_date'} }) }}
            {% if form.admission_date.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.admission_date) }}</div>

            {% endif %}
		</div>
    {% endif %}

		<div class="col-lg-3 select-cro">
			<label class="">
                {{ form_label(form.cro) }}
			</label>
            {{ form_widget(form.cro, {required: false,attr: {class: 'form-control m-input',placeholder:'user.label.cro'} }) }}
            {% if form.cro.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.cro) }}</div>

            {% endif %}
		</div>

</div>
{% endif %}

<div class="form-group m-form__group row">


    {% if form.profession is defined %}
		<div class="col-lg-6">
			<label class="">
                {{ form_label(form.notes) }}
			</label>
            {{ form_widget(form.notes, {attr: {class: 'form-control m-input',placeholder:'user.label.notes'} }) }}
            {% if form.notes.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.notes) }}</div>

            {% endif %}
		</div>
		<div class="col-lg-6">
			<label>
                {{ form_label(form.profession) }}
			</label>
            {{ form_widget(form.profession, {attr: {class: 'form-control m-input',placeholder:'user.label.profession'} }) }}
            {% if form.profession.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.profession) }}</div>

            {% endif %}

		</div>

    {% else %}

		<div class="col-lg-12">
			<label class="">
                {{ form_label(form.notes) }}
			</label>
            {{ form_widget(form.notes, {attr: {class: 'form-control m-input',placeholder:'user.label.notes'} }) }}
            {% if form.notes.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.notes) }}</div>

            {% endif %}
		</div>
    {% endif %}

</div>