{% extends 'layouts/doctor.html.twig' %}


{% block main_content %}
	<div class="m-portlet">

		<!--begin::Form-->
            {{ form_start(form, {attr: {class: 'm-form m-form--fit m-form--label-align-right'} }) }}
			<div class="m-portlet__body">
                <div class="form-group m-form__group row">
                    <div class="col-12 ml-auto">
                        <h3 class="m-form__section">
                             {{ title|trans }}
                        </h3>
                    </div>
                </div>
                {% include 'doctor/clinic/user/form/user-edit-form-base.html.twig' %}

                {% include 'doctor/clinic/user/form/user-edit-form-address.html.twig' %}
				{#<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>#}
                {% include 'doctor/clinic/user/form/user-edit-form-others.html.twig' %}

			</div>
			<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
				<div class="m-form__actions m-form__actions--solid">
					<div class="row">
						<div class="col-lg-6">
							<button type="submit" class="btn btn-primary">
                                {{ 'form.save' | trans }}
							</button>&emsp;
                            {{ form_widget(form.cancel, {attr: {class: 'btn btn-secondary'} }) }}
						</div>

					</div>
				</div>
			</div>
        {{ form_end(form) }}
		<!--end::Form-->
	</div>

{% endblock %}

{% block custom_javascripts %}
	<script>
        jQuery(document).ready(function() {

            $(".select2").select2();

            // phone number format
            $("#profile_form_phone").inputmask("mask", {
                "mask": "(99) 9999-9999"
            });
            $("#profile_form_cell_phone").inputmask({mask: ['(99) 9999-9999', '(99) 99999-9999']});

            $(".cpf").inputmask("mask", {
                "mask": "999.999.999-99"
            });
            // $(".cpf").cpfcnpj({
            //     validate: 'cpf',
            //     mask: true,
            //     ifValid: function  (input) { input.removeClass("form-control-danger"); },
            //     ifInvalid: function (input) { input.addClass("form-control-danger"); }
            // });

            $("#profile_form_rg").inputmask("99.999.999-9");

            $("#profile_form_zip_code").inputmask("99999-999",{
                autoUnmask: true
            });

            rolesActual = $(".select-roles").val();

            if ("ROLE_DOCTOR" == rolesActual){

                if(  $(".select-cro").length )         // use this if you are using class to check
                {
                    $(".select-cro").show();
                }
			}

            $(".select-roles").on('change', function() {

                if ("ROLE_DOCTOR" == this.value){
                    if(  $(".select-cro").length )         // use this if you are using class to check
                    {
                        $(".select-cro").show();
                    }


                }else{
                    if(  $(".select-cro").length )         // use this if you are using class to check
                    {
                        $(".select-cro").hide();
                    }

				}
            })






        });
	</script>
{% endblock %}