<div class="form-group m-form__group row {% if form.name.vars.valid == false %} has-danger {% endif %}">
	<div class="col-lg-6">
		<label>
            {{ form_label(form.name) }} *
		</label>
        {{ form_widget(form.name, {attr: {class: 'form-control m-input',placeholder:'user.label.usernameCanonical'} }) }}
        {% if form.name.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.name) }}</div>

        {% endif %}

	</div>
	<div class="col-lg-6">
		<label class="">
            {{ form_label(form.email) }}
		</label>
        {{ form_widget(form.email, {attr: {class: 'form-control m-input',placeholder:'user.label.email'} }) }}
        {% if form.email.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.email) }}</div>

        {% endif %}
	</div>
</div>

{% if form.plainPassword.first is defined and form.plainPassword.second is defined %}
	<div class="form-group m-form__group row">

		<div class="col-lg-3">
			<label>
                {{ form_label(form.plainPassword.first) }} *
			</label>
            {{ form_widget(form.plainPassword.first, {attr: {class: 'form-control m-input',placeholder:'form.new_password'} }) }}
            {% if form.plainPassword.first.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.plainPassword.first) }}</div>

            {% endif %}

		</div>
		<div class="col-lg-3">
			<label class="">
                {{ form_label(form.plainPassword.second) }} *
			</label>
            {{ form_widget(form.plainPassword.second, {attr: {class: 'form-control m-input',placeholder:'form.new_password_confirmation'} }) }}
            {% if form.plainPassword.second.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.plainPassword.second) }}</div>

            {% endif %}
		</div>


		<div class="col-lg-3">
			<label>
                {{ form_label(form.state_civil) }}
			</label>
            {{ form_widget(form.state_civil, {attr: {class: 'form-control m-input',placeholder:'user.label.state_civil'} }) }}
            {% if form.state_civil.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.state_civil) }}</div>

            {% endif %}

		</div>
		<div class="col-lg-3">
			<label class="">
                {{ form_label(form.gender) }}
			</label>
            {{ form_widget(form.gender, {attr: {class: 'form-control m-input', placeholder:'user.label.gender'} }) }}
            {% if form.gender.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.gender) }}</div>
            {% endif %}

		</div>
	</div>
{% else %}

	<div class="form-group m-form__group row">

		<div class="col-lg-6">
			<label>
                {{ form_label(form.state_civil) }}
			</label>
            {{ form_widget(form.state_civil, {attr: {class: 'form-control m-input',placeholder:'user.label.state_civil'} }) }}
            {% if form.state_civil.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.state_civil) }}</div>

            {% endif %}

		</div>
		<div class="col-lg-6">
			<label class="">
                {{ form_label(form.gender) }}
			</label>
            {{ form_widget(form.gender, {attr: {class: 'form-control m-input', placeholder:'user.label.gender'} }) }}
            {% if form.gender.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.gender) }}</div>
            {% endif %}

		</div>
	</div>
{% endif %}

<div class="form-group m-form__group row">
	<div class="col-lg-3">
		<label>
            {{ form_label(form.rg) }}
		</label>
        {{ form_widget(form.rg, {attr: {class: 'form-control m-input',placeholder:'user.label.rg'} }) }}
        {% if form.rg.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.rg) }}</div>

        {% endif %}

	</div>
	<div class="col-lg-3">
		<label class="">
            {{ form_label(form.cpf) }}
		</label>
        {{ form_widget(form.cpf, {attr: {class: 'form-control m-input cpf',placeholder:'user.label.cpf'} }) }}

        {% if form.cpf.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.cpf) }}</div>

        {% endif %}
	</div>


	<div class="col-lg-3">
		<label>
            {{ form_label(form.phone) }}
		</label>
        {{ form_widget(form.phone, {attr: {class: 'form-control m-input',placeholder:'user.label.phone'} }) }}
        {% if form.phone.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.phone) }}</div>

        {% endif %}

	</div>
	<div class="col-lg-3">
		<label class="">
            {{ form_label(form.cell_phone) }}
		</label>
        {{ form_widget(form.cell_phone, {attr: {class: 'form-control m-input',placeholder:'user.label.cell_phone'} }) }}
        {% if form.cell_phone.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.cell_phone) }}</div>

        {% endif %}
	</div>
</div>



<div class="form-group m-form__group row ">
    {% if form.roles is defined %}
		<div class="col-lg-3">
			<label>
                {{ form_label(form.roles) }} *
			</label>

            {{ form_widget(form.roles, {attr: {class: 'form-control m-input select-roles', placeholder:'user.label.roles'} }) }}
            {% if form.roles.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.roles) }}</div>

            {% endif %}

		</div>
    {% endif %}
    {% if form.profile is defined %}
		<div class="col-lg-3">
			<label>
                {{ form_label(form.profile) }} *
			</label>

            {{ form_widget(form.profile, {attr: {class: 'm-radio-inline', placeholder:'user.label.profile'} }) }}
            {% if form.profile.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.profile) }}</div>

            {% endif %}

		</div>
    {% endif %}


	<div class="col-lg-6">
		<label>
            {{ form_label(form.birth_date) }}
		</label>
        {{ form_widget(form.birth_date, {attr: {class: 'form-control m-input', placeholder:'user.label.birth_date'} }) }}
        {% if form.birth_date.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.birth_date) }}</div>

        {% endif %}

	</div>
</div>


