{% extends 'base.html.twig' %}

{% block body_id 'login' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/login.js') }}"></script>
{% endblock %}

{% block main %}
    {#{% if error %}#}
        {#<div class="alert alert-danger">#}
           {#Treta bindo#}
        {#</div>#}
    {#{% endif %}#}

    <div class="row">

        <h1>Members</h1>
        <ul>
            {% for user in roles %}
                <li>{{ user }}</li>
            {% endfor %}
        </ul>

        {#<div id="login-help" class="col-sm-7">#}
            {#<h3>#}
                {#<i class="fa fa-long-arrow-left" aria-hidden="true"></i>#}
                {#{{ 'help.login_users'|trans }}#}
            {#</h3>#}

            {#<table class="table table-striped table-bordered table-hover">#}
                {#<thead>#}
                    {#<tr>#}
                        {#<th scope="col">{{ 'label.username'|trans }}</th>#}
                        {#<th scope="col">{{ 'label.password'|trans }}</th>#}
                        {#<th scope="col">{{ 'label.role'|trans }}</th>#}
                    {#</tr>#}
                {#</thead>#}
                {#<tbody>#}
                    {#<tr>#}
                        {#<td>john_user</td>#}
                        {#<td>kitten</td>#}
                        {#<td><code>ROLE_USER</code> ({{ 'help.role_user'|trans }})</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>jane_admin</td>#}
                        {#<td>kitten</td>#}
                        {#<td><code>ROLE_ADMIN</code> ({{ 'help.role_admin'|trans }})</td>#}
                    {#</tr>#}
                {#</tbody>#}
            {#</table>#}

            {#<div id="login-users-help" class="panel panel-default">#}
                {#<div class="panel-body">#}
                    {#<p>#}
                        {#<span class="label label-success">{{ 'note'|trans }}</span>#}
                        {#{{ 'help.reload_fixtures'|trans }}<br/>#}

                        {#<code class="console">$ php bin/console doctrine:fixtures:load</code>#}
                    {#</p>#}

                    {#<p>#}
                        {#<span class="label label-success">{{ 'tip'|trans }}</span>#}
                        {#{{ 'help.add_user'|trans }}<br/>#}

                        {#<code class="console">$ php bin/console app:add-user</code>#}
                    {#</p>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
