{%  set breadcumbs = {'name' : 'breadcumb.profile','route' : '/profile', 'items': []} %}
{% extends 'layouts/admin.html.twig' %}

{% block footer %}{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block header %}

{% endblock %}



{% block main_content %}

 {% block aside_left %}

 {% endblock %}


    <!-- BEGIN: Subheader -->
    {% block sub_header %}

    {% endblock %}


<div class="row">

    <div class="col-xl-12 col-lg-12">
        <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
            <div class="m-portlet__head">
                <div class="m-portlet__head-tools">
                    <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1"
                               role="tab">
                                <i class="flaticon-share m--hide"></i>
                                Reset password
                            </a>
                        </li>


                    </ul>
                </div>

            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="m_user_profile_tab_1">
                    <div class="m-portlet__body">
                        <div class="row m-row--no-padding">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                        {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}

                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="m-portlet__head">

                <div class="m-portlet__head-tools">
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions"><br/>
                            <a href="{{ path('security_index') }}" class="btn btn-primary m-btn--pill">
                                    Login
                            </a>

                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>


</div>
{% endblock %}
