{% trans_default_domain 'FOSUserBundle' %}
{% block body_text %}
{% autoescape false %}
<h3>Solicitação de recuperação de senha</h3>
<p>
{{ 'resetting.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
<p>
{% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}


{% block subject %}
{%- autoescape false -%}
{{ 'resetting.email.subject'|trans({'%username%': user.username}) }}
{%- endautoescape -%}
{% endblock %}



