{%  set breadcumbs = {'name' : 'breadcumb.profile','route' : '/profile', 'items': []} %}
{% extends 'layouts/doctor.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block footer %}{% endblock %}
{% block header %}

{% endblock %}

{% block main_content %}
 {% block aside_left %}

 {% endblock %}


<!-- BEGIN: Subheader -->
{% block sub_header %}

{% endblock %}

<div class="m-stack__item m-stack__item--fluid">

    <div class="col m--align-rcenter">
        <div class="m-login__wrapper">
            <div class="m-login__logo">

                <img src="{{app.session.get('app.site_logo') }}">


            </div>
            <div class="m-login__signin">
                <div class="m-login__head">
                    <h3 class="m-login__title">
                        {{app.session.get('app.site_name') }}
                    </h3>
                    <h1 class="m-login__title">
                          Troca de senha
                    </h1>

                </div>
                <form class="m-login__form m-form" action="{{ path('fos_user_resetting_reset', {'token': token}) }}" method="post">

                    {{ form_widget(form) }}
                    <div class="row m-login__form-sub">


                        <div class="col m--align-right">


                            <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air"/>

                        </div>

                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

                </form>
            </div>
    </div>
</div>
</div>

{% endblock %}