{% extends 'layouts/doctor.html.twig' %}

{% block main_content %}


{% set _route = 'admin_specilization_new' %}

<div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        {{ 'header.specialization.new'|trans }}
                    </h3>
                </div>
            </div>
        </div>
        <!--begin::Form-->
        {{ form_start(form, {attr: {class: 'm-form'} }) }}

            <div class="m-portlet__body">
                {{ include('doctor/health_plan/form.html.twig') }}

            </div>

            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions">
                    <button type="submit" class="btn btn-primary">
                        {{ 'form.save' | trans }}
                    </button>
                    {{ form_widget(form.cancel, {attr: {class: 'btn btn-secondary'} }) }}
                </div>
            </div>
        {{ form_end(form) }}
        <!--end::Form-->
</div>

{% endblock %}

{% block custom_javascripts %}
    <script>
        jQuery(document).ready(function() {

            $(".select2").select2();

            // phone number format
            $("#profile_form_phone").inputmask("mask", {
                "mask": "(99) 9999-9999"
            });
            $("#profile_form_cell_phone").inputmask({mask: ['(99) 9999-9999', '(99) 99999-9999']});

            $("#profile_form_cnpj").inputmask("mask", {
                "mask": "99.999.999/9999-99"
            });


            $("#profile_form_zip_code").inputmask("99999-999",{
                autoUnmask: true
            });


        });
    </script>
{% endblock %}
