<div class="form-group m-form__group row">
	<div class="col-lg-6">
		<label>
            {{ form_label(form.fantasia) }} *
		</label>

		<div>
            {{ form_widget(form.fantasia, {attr: {class: 'form-control m-input', placeholder:'clinic.label.health_plan.fantasia'} }) }}
            {% if form.fantasia.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.fantasia) }}</div>

            {% endif %}
		</div>

	</div>

	<div class="col-lg-6">
		<label>
            {{ form_label(form.razao) }}
		</label>

		<div>
            {{ form_widget(form.razao, {attr: {class: 'form-control m-input', placeholder:'clinic.label.health_plan.razao'} }) }}
            {% if form.razao.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.razao) }}</div>

            {% endif %}
		</div>

	</div>

</div>

<div class="form-group m-form__group row">
	<div class="col-lg-6">
		<label>
            {{ form_label(form.ie) }}
		</label>

		<div>
            {{ form_widget(form.ie, {attr: {class: 'form-control m-input', placeholder:'clinic.label.health_plan.ie'} }) }}
            {% if form.ie.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.ie) }}</div>

            {% endif %}
		</div>

	</div>

	<div class="col-lg-6">
		<label>
            {{ form_label(form.cnpj) }}
		</label>

		<div>
            {{ form_widget(form.cnpj, {attr: {class: 'form-control m-input', placeholder:'clinic.label.health_plan.cnpj'} }) }}
            {% if form.cnpj.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.cnpj) }}</div>

            {% endif %}
		</div>

	</div>

</div>

<div class="form-group m-form__group row">
	<div class="col-lg-6">
		<label>
            {{ form_label(form.email) }}
		</label>

		<div>
            {{ form_widget(form.email, {attr: {class: 'form-control m-input', placeholder:'clinic.label.health_plan.email'} }) }}
            {% if form.email.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.email) }}</div>

            {% endif %}
		</div>

	</div>

	<div class="col-lg-6">
		<label>
            {{ form_label(form.site) }}
		</label>

		<div>
            {{ form_widget(form.site, {attr: {class: 'form-control m-input', placeholder:'clinic.label.health_plan.site'} }) }}
            {% if form.site.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.site) }}</div>

            {% endif %}
		</div>

	</div>

</div>

<div class="form-group m-form__group row">
	<div class="col-lg-6">
		<label>
            {{ form_label(form.phone) }}
		</label>

		<div>
            {{ form_widget(form.phone, {attr: {class: 'form-control m-input', placeholder:'clinic.label.health_plan.phone'} }) }}
            {% if form.phone.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.phone) }}</div>

            {% endif %}
		</div>

	</div>

	<div class="col-lg-6">
		<label>
            {{ form_label(form.cell_phone) }}
		</label>

		<div>
            {{ form_widget(form.cell_phone, {attr: {class: 'form-control m-input', placeholder:'clinic.label.health_plan.cell_phone'} }) }}
            {% if form.cell_phone.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.cell_phone) }}</div>

            {% endif %}
		</div>

	</div>

</div>

<div class="form-group m-form__group row">
	<div class="col-lg-6">
		<label>
            {{ form_label(form.address) }}
		</label>

		<div>
            {{ form_widget(form.address, {attr: {class: 'form-control m-input', placeholder:'clinic.label.health_plan.address'} }) }}
            {% if form.address.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.address) }}</div>

            {% endif %}
		</div>

	</div>

	<div class="col-lg-6">
		<label>
            {{ form_label(form.city) }}
		</label>

		<div>
            {{ form_widget(form.city, {attr: {class: 'form-control m-input select2',placeholder:'clinic.label.health_plan.city'} }) }}
            {% if form.city.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.city) }}</div>

            {% endif %}
		</div>

	</div>

</div>

<div class="form-group m-form__group row">
	<div class="col-lg-6">
		<label>
            {{ form_label(form.zip_code) }}
		</label>

		<div>
            {{ form_widget(form.zip_code, {attr: {class: 'form-control m-input', placeholder:'clinic.label.health_plan.zip_code'} }) }}
            {% if form.zip_code.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.zip_code) }}</div>

            {% endif %}
		</div>

	</div>

	<div class="col-lg-6">
		<label>
            {{ form_label(form.neighborhood) }}
		</label>

		<div>
            {{ form_widget(form.neighborhood, {attr: {class: 'form-control m-input', placeholder:'clinic.label.health_plan.neighborhood'} }) }}
            {% if form.neighborhood.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.neighborhood) }}</div>

            {% endif %}
		</div>

	</div>

</div>

<div class="form-group m-form__group row">
	<div class="col-lg-6">
		<label>
            {{ form_label(form.number) }}
		</label>

		<div>
            {{ form_widget(form.number, {attr: {class: 'form-control m-input', placeholder:'clinic.label.health_plan.number'} }) }}
            {% if form.number.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.number) }}</div>

            {% endif %}
		</div>

	</div>

	<div class="col-lg-6">
		<label>
            {{ form_label(form.notes) }}
		</label>

		<div>
            {{ form_widget(form.notes, {attr: {class: 'form-control m-input', placeholder:'user.label.notes'} }) }}
            {% if form.notes.vars.valid == false %}
				<div class="form-control-feedback"> {{ form_errors(form.notes) }}</div>

            {% endif %}
		</div>

	</div>

</div>


