{% extends 'layouts/login/main.html.twig' %}


{% block root_content %}
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--singin" id="m_login">
    <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
        <div class="m-stack m-stack--hor m-stack--desktop">

            <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">


            {% block subject %}Redefinir senha{% endblock %}

            {% block body_text %}
                {% autoescape false %}
                    Olá {{ user.username }} !

                    Para redefinir sua senha, clique no link: {{ confirmationUrl }}

                    Atenciosamente,
                    {{app.session.get('app.site_name') }}
                {% endautoescape %}
            {% endblock %}

            {% block body_html %}

            {% endblock %}

            </div>
        </div>
    </div>
</div>
{% endblock %}

