{% extends 'base.html.twig' %}

{% block head %}
    {% include 'admin/head.html.twig' %}
{% endblock %}

{% block header %}
    {% include 'admin/zones/header.html.twig' %}
{% endblock %}


{% block content %}
    {% block aside_left %} 
        {% include 'admin/zones/aside_left.html.twig' %}
    {% endblock %}

    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <!-- BEGIN: Subheader -->
        {% block sub_header %}
            {% include 'admin/zones/sub_header.html.twig' %}
        {% endblock %}
        <!-- END: Subheader -->

        <div class="m-content">
            {% if app.session is not null and app.session.started %}


                    {% for label, messages in app.session.flashbag.all %}
                    {% for message in messages %}
                        <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
                            <div class="m-alert__icon">
                                <i class="flaticon-exclamation m--font-{{ label }}"></i>
                            </div>
                            <div class="m-alert__text">

                               {{ message | trans }}
                            </div>
                        </div>
                    {% endfor %}
                    {% endfor %}


            {% endif %}
            {% block main_content %} {% endblock %}
        </div>

    </div>
{% endblock %}

{% block footer %}

    {% include 'admin/zones/footer.html.twig' %}

{% endblock %}


{% block javascripts %}
    {% include 'admin/javascripts.html.twig' %}
{% endblock %}

{% block custom_javascripts %}

    <script>
    $(document).ready(function() {
    jQuery(".m-alert").delay(2000).fadeOut('slow');


    });
    </script>
{% endblock %}