.m-section .m-section__content {
    color: #0a0a0a;
}

.m-datatable.m-datatable--default>.m-datatable__table>.m-datatable__body .m-datatable__row>.m-datatable__cell>span {
    color: #0a0a0a;
}

.m-card-user .m-card-user__details .m-card-user__name {
    color: #0a0a0a;
}

.m-card-user .m-card-user__details .m-card-user__email:hover {
    color: #0a0a0a;
}

.m-header-menu.m-header-menu--skin-light .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {
    color: #0a0a0a;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {
    color: #bdc3d4;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-icon {
    color: #bdc3d4;
}

.m-header-menu.m-header-menu--skin-light .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-icon {
    color: #bdc3d4;
}

.m-header-menu.m-header-menu--submenu-skin-light .m-menu__nav>.m-menu__item .m-menu__submenu>.m-menu__subnav>.m-menu__item>.m-menu__link .m-menu__link-text {
    color: #0a0a0a;
}

.m-portlet .m-portlet__body {
    color: #0a0a0a;
}

.m-nav>.m-nav__item>.m-nav__link .m-nav__link-text {
    color: #0a0a0a;
    font-weight: 400;
}

.m-card-user.m-card-user--skin-dark .m-card-user__details .m-card-user__name {
    color: #0a0a0a;
}

.form-control, .form-control[readonly] {
    border-color: #ebedf2;
    color: #0a0a0a;
}

.form-control.m-input--solid {
    background-color: #f4f5f8;
    border-color: #f4f5f8;
    color: #1d1d1d;
}

.m-header-menu.m-header-menu--skin-light .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-icon {
    color: #1d1d1d;
}

.btn.m-btn--hover-accent:not(.btn-secondary):not(.btn-outline-light) i {
    color: #1d1d1d;
}

.m-footer .m-footer__copyright {
    font-size: .9rem;
    font-weight: 400;
    color: #1d1d1d;
}

.m-form .form-control-feedback {
    margin-top: .2rem;
    color: #bf0909;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__head .m-login__title {
    color: #0e0d0d;
    text-align: center;
    font-size: 2.5rem;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .m-login__form-sub .m-checkbox {
    color: #0e0d0d;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .m-login__form-sub .m-link {
    color: #0e0d0d;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__head .m-login__desc {
    color: #0e0d0d;
    text-align: center;
    font-size: 1rem;
}