<div class="modal fade show" id="m_modal_woner_{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ user.id }}" style="display: hide;">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">
                    {% trans %} profile.personal.datail {% endtrans %}
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">
												×
											</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xl-6 col-lg-6">
						<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
							<div class="m-demo__preview">
						<table class="table table-hover">
						<thead>

							<tr>
								<th>
									{% trans %} profile.personal.full_name {% endtrans %}
								</th>
								<th>
									{{ user.fullName |e  }}
								</th>

							</tr>

							<tr>
								<th>
                                    {% trans %} profile.personal.email {% endtrans %}
								</th>
								<th>
                                    {{ user.email |e  }}
								</th>

							</tr>
							<tr>
								<th>
								   RG
								</th>
								<th>
									{{ user.rg |e  }}
								</th>

							</tr>

							<tr>
								<th>
									CPF
								</th>
								<th>
									{{ user.cpf |e  }}
								</th>

							</tr>

							<tr>
								<th>
									{% trans %} profile.personal.phone {% endtrans %}
								</th>
								<th>
									{{ user.phone |e  }}
								</th>

							</tr>

							<tr>
								<th>
									{% trans %} profile.personal.cell_phone {% endtrans %}
								</th>
								<th>
									{{ user.cellPhone |e  }}
								</th>

							</tr>

							<tr>
								<th>
									{% trans %} profile.personal.state_civil {% endtrans %}
								</th>
								<th>
									{{ user.getUserGender()|trans }}
								</th>

							</tr>

							<tr>
								<th>
									{% trans %} profile.personal.address {% endtrans %}
								</th>
								<th>
									{{ user.address |e  }}
								</th>

							</tr>
							{% if user.city.id is defined %}
								<tr>
									<th>
										{% trans %} profile.personal.address.city {% endtrans %}
									</th>
									<th>
										{{ user.city.name |e  }}
									</th>

								</tr>
								<tr>
									<th>
										{% trans %} profile.personal.address.state {% endtrans %}
									</th>
									<th>
										{{ user.city.uf |e  }}
									</th>

								</tr>

								<tr>
									<th>
                                        {% trans %} profile.personal.address.postal_code {% endtrans %}
									</th>
									<th>
										{{ user.zipCode |e  }}
									</th>

								</tr>

								<tr>
									<th>
										{% trans %} profile.personal.address.neighborhood {% endtrans %}
									</th>
									<th>
										{{ user.neighborhood |e  }}
									</th>

								</tr>
								<tr>
									<th>
										{% trans %} profile.personal.address.number {% endtrans %}
									</th>
									<th>
										{{ user.number |e  }}
									</th>

								</tr>

							{% endif %}

						</thead>


					</table>
							</div>
						</div>

					</div>
					<div class="col-xl-6 col-lg-6">
						<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
							<div class="m-demo__preview">
						<table class="table table-hover">
						<thead>

						<tr>
							<th>
                                {% trans %} profile.personal.others.birth_date {% endtrans %}
							</th>
							<th>
                                {{ user.birthDate |date("d/m/Y") }}
							</th>

						</tr>

                        {% if user.admissionDate is not null %}
							<tr>
								<th>
									{% trans %} profile.personal.others.admission_date {% endtrans %}
								</th>
								<th>
									{{ user.admissionDate |date("d/m/Y") }}
								</th>

							</tr>
                        {% endif %}

                        {% if user.cro is not null %}
							<tr>
								<th>
									CRO
								</th>
								<th>
									{{ user.cro |e  }}
								</th>

							</tr>
                        {% endif %}

                        {% if user.profession is not null %}
							<tr>
								<th>
									{% trans %} profile.personal.others.profession {% endtrans %}
								</th>
								<th>
									{{ user.profession |e  }}
								</th>

							</tr>
                        {% endif %}

                        {% if user.specialization.id is defined %}
							<tr>
								<th>
									{% trans %} profile.personal.others.specialization {% endtrans %}
								</th>
								<th>
									{{ user.specialization.name }}
								</th>

							</tr>
                        {% endif %}

                        {#{% if user.plan.id is defined %}#}
							{#<tr>#}
								{#<th>#}
									{#{% trans %} profile.personal.others.plan {% endtrans %}#}
								{#</th>#}
								{#<th>#}
									{#{{ user.plan.name }}#}
								{#</th>#}

							{#</tr>#}
                        {#{% endif %}#}

						<tr>
							<th>
                                {% trans %} profile.personal.others.notes {% endtrans %}
							</th>
							<th>
                                {{ user.notes|raw }}
							</th>

						</tr>


						</thead>


					</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">
					Close
				</button>

			</div>
		</div>
	</div>
</div>