{% extends 'layouts/admin.html.twig' %}


{% block main_content %}


    {% set sort_column = 'id' %}


    {% if sortDirection is defined and sortDirection == "ASC" %}
        {% set sort_position = 'DESC' %}
    {% elseif sortDirection is defined and sortDirection == "DESC" %}
        {% set sort_position = 'ASC' %}
    {% else %}
        {% set sort_position = 'ASC' %}
    {% endif %}

    {% if sortField is defined %}
        {% set sort_column = sortField %}
    {% endif %}

    <div class="col-xl-12 col-lg-12">
        <div class="m-portlet m-portlet--tabs {%  if clinic.enabled == false %} m-portlet--danger {% else %} m-portlet--success {% endif %}  m-portlet--head-solid-bg m-portlet--bordered">


            {% include 'admin/clinic/clinic-tab.html.twig' with {'active': 'users'} %}
            <div class="m-portlet__body">
                <!--begin: Search Form -->
                <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                    <div class="row align-items-center">
                        <div class="col-xl-12 order-2 order-xl-1">
                            <div class="form-group m-form__group row align-items-center">

                                <div class="col-md-4">
                                    <form action="{{ path(_route,{'id': clinic.id}) }}" method="get">
                                        <div class="m-input-icon m-input-icon--left">

                                            <input type="text" name="filter" id="filter" value="{{ filter }}"
                                                   class="form-control m-input m-input--solid" placeholder="Search..."
                                                   id="generalSearch">
                                            <span class="m-input-icon__icon m-input-icon__icon--left">
															<span>
																<i class="la la-search"></i>
															</span>
														</span>

                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-xl-4 col-md-6 m--align-right">


                                    <a href="{{ path('admin_clinic_user_add_to_clinic',{id: clinic.id}) }}" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                                                    <span>
                                                        <i class="flaticon-user-settings"></i>
                                                        <span>
                                                           {{ 'breadcumb.clinical.new_user'|trans }}
                                                        </span>
                                                    </span>
                                    </a>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <!--end: Search Form -->
                <!--begin: Datatable -->
                <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">
                    <table class="m-datatable__table" style="display: block; height: auto; overflow-x: auto;">
                        <thead class="m-datatable__head">
                        <tr class="m-datatable__row">
                            {#<th data-field="id" class="m-datatable__cell--center m-datatable__cell m-datatable__cell--sort"><span style="width: 20px;"></span></th>#}
                            {% for key, field in fields %}

                                <th title="{{ field.name | trans }}" class="m-datatable__cell m-datatable__cell--sort" data-field="{{ field.name | trans }}">
                                <span style="{% if field.style is defined %} {{ field.style }} {% else %} width: 171px; {% endif %} ">

                                    {% if field.sorted is defined and field.sorted == 'true' %}
                                    <a href="{{ path(_route, {'id': clinic.id,  page: 1, filter: filter, sortField: field.id, sortDirection: sort_position}) }}">
                                    {% endif %}

                                        {{ field.name |trans }}

                                        {% if field.sorted is defined and field.sorted == 'true' and sort_column == field.id %}
                                            {% set sort_column = field.id %}
                                            <i class="la {% if sort_position == 'ASC' %} la-arrow-down {% else %} la-arrow-up {% endif %} "></i>
                                        {% endif %}

                                        {% if field.sorted is defined and field.sorted == 'true' and sort_column == field.id %}
                                        </a>
                                    {% endif %}

                                </span>
                                </th>
                            {% endfor %}
                            <th title="options" class="m-datatable__cell m-datatable__cell--sort" data-field="options">
                                <span style="width: 100px">

                                    {{ 'form.options'| trans }}

                                </span>
                            </th>

                        </tr>
                        </thead>
                        <tbody class="m-datatable__body">

                        {% set UserClinicals = data.data %}
                        {% for user in UserClinicals %}


                            <tr data-row="{{ loop.index }}" class="m-datatable__row m-datatable__row--even">
                                {% for key, field in fields %}


                                    <td class="m-datatable__cell">
                                <span style="{% if field.style is defined %} {{ field.style }} {% else %} width: 171px; {% endif %} ">
                                    {% if  field.datetime is defined and field.datetime == 'true' %}
                                        {{ attribute(user, field.id)|date('d/m/Y') }}

                                    {% elseif  field.card is defined and field.card == 'true' %}
                                        <div class="m-card-user m-card-user--sm">
                                            <div class="m-card-user__pic">
                                                <div class="m-card-user__no-photo m--bg-fill-danger">
                                                    {% if  user.hasPhoto %}
                                                        <img src="{{user.photo.url}}" class="m--img-rounded m--marginless m--img-centered" alt="{{user.fullName}}">

                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="m-card-user__details">
                                                <span class="m-card-user__name"> {{ user.name|raw }} </span>
                                                <a href="{{ path('admin_user_info', {'id': user.uuid}) }}" target="_blank" class="m-card-user__email m-link">{{ user.email|raw }} -
                                                {% if user.hasRole('ROLE_ADMIN') %}
                                                    {{ 'form.role.admin'|trans }}
                                                {% elseif user.hasRole('ROLE_DOCTOR') %}
                                                    {{ 'form.role.doctor'|trans }}

                                                {% elseif user.hasRole('ROLE_EMPLOYEE') %}
                                                    {{ 'form.role.employee'|trans }}

                                                {% elseif user.hasRole('ROLE_USER') %}
                                                    {{ 'form.role.user'|trans }}
                                                {% endif %}
                                                    </a>
                                            </div>
                                        </div>

                                    {% elseif  field.bool is defined and field.bool == 'true' %}

                                        {#{% if user.enabled == 1 %}#}
                                        {#<span class="m-badge  m-badge--success m-badge--wide">{{ 'form.active'|trans }}</span>#}
                                        {#{% else %}#}
                                        {#<span class="m-badge  m-badge--metal m-badge--wide">{{ 'form.disable'|trans }}</span>#}

                                        {#{% endif %}#}

                                        {%  if app.user != user %}

                                            <span class="m-switch m-switch--outline m-switch--icon-check m-switch--brand">
											<label>
												<input type="checkbox" {% if user.enabled == 1 %} checked="checked" {% endif %} name="enabled" class="enabled" data-value="{{ user.uuid }}">
												<span></span>
											</label>
										</span>

                                        {% else %}

                                            {% if user.enabled == 1 %}
                                                <span class="m-badge  m-badge--success m-badge--wide">{{ 'form.active'|trans }}</span>
                                            {% else %}
                                                <span class="m-badge  m-badge--metal m-badge--wide">{{ 'form.disable'|trans }}</span>

                                            {% endif %}
                                        {% endif %}

                                    {% elseif  field.array is defined and field.array == 'true' %}

                                        {% if user.getUsers().first().isOwner() %}
                                            {{ 'form.role.admin'|trans }}
                                        {% elseif user.getUsers().first().isEmployee() %}
                                            {{ 'form.role.employee'|trans }}
                                        {% else %}
                                            {{ 'form.role.user'|trans }}
                                        {% endif %}

                                    {% else %}
                                        {{ attribute(user, field.id)|raw }}

                                    {% endif %}


                                </span>
                                    </td>

                                {% endfor %}

                                <td class="m-datatable__cell">
                                <span style="overflow: visible; width: 110px;">
                                     <a href="{{ path('admin_user_info', {'id': user.uuid}) }}" target="_blank"
                                        class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                        title="Detalhes">                            <i class="flaticon-chat-1"></i>                        </a>

                                &emsp;
                                    <a href="{{ path('admin_clinic_user_delete', {'userId': user.uuid, 'id': clinic.id}) }}"
                                       class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                       title="Retirar da clinica">                            <i class="fa 	fa-hand-o-left"></i>                        </a>

                            </span>
                                </td>
                            </tr>


                        {% endfor %}

                        </tbody>
                    </table>
                    {% set paginator = data.meta.pagination %}

                    <div class="m-datatable__pager m-datatable--paging-loaded clearfix">

                        <ul class="m-datatable__pager-nav">
                            {% if 1 != paginator.currentPage %}

                                <li>
                                    <a title="First" href="{{ path(_route, { page: 1, filter: filter, sortField: sort_column, sortDirection: sort_position }) }}"
                                       class="m-datatable__pager-link m-datatable__pager-link--first"
                                       data-page="1" disabled="disabled"><i class="la la-angle-double-left"></i></a>

                                </li>
                            {% endif %}

                            {% if paginator.hasPreviousPage %}
                                <li>
                                    <a title="Previous"
                                       href="{{ path(_route, {'id': clinic.id, page: paginator.previousPage, filter: filter, sortField: sort_column, sortDirection: sort_position }) }}"
                                       class="m-datatable__pager-link m-datatable__pager-link--prev"
                                       data-page="1" disabled="disabled"><i class="la la-angle-left"></i></a>
                                </li>

                            {% endif %}


                            {% for pag in 1..paginator.nbPages %}


                                <li>
                                    <a href="{{ path(_route, { 'id': clinic.id, page: pag, filter: filter, sortField: sort_column, sortDirection: sort_position }) }}"
                                       class="m-datatable__pager-link m-datatable__pager-link-number {% if pag == paginator.currentPage %}m-datatable__pager-link--active{% endif %}"
                                       data-page="1" title="1"> {{ pag }}</a>
                                </li>


                            {% endfor %}


                            {% if paginator.hasNextPage %}
                                <li><a href="{{ path(_route, {'id': clinic.id, page: paginator.nextPage, filter: filter, sortField: sort_column, sortDirection: sort_position  }) }}"
                                       title="Next" class="m-datatable__pager-link m-datatable__pager-link--next" data-page="2"><i
                                                class="la la-angle-right"></i></a></li>

                            {% endif %}


                            {% if paginator.currentPage < paginator.nbPages %}
                                <li>
                                    <a href="{{ path(_route, {'id': clinic.id, page: paginator.nbPages, filter: filter, sortField: sort_column, sortDirection: sort_position  }) }}"
                                       title="Last" class="m-datatable__pager-link m-datatable__pager-link--last"
                                       data-page="15"><i
                                                class="la la-angle-double-right"></i>
                                    </a>
                                </li>

                            {% endif %}


                        </ul>

                        <div class="m-datatable__pager-info">

                    <span class="m-datatable__pager-detail">{{ paginator.currentPage }} - {{ paginator.nbPages }} &emsp;&emsp; Total {{ paginator.nbResults }}
                        items</span></div>

                    </div>
                </div>
                <!--end: Datatable -->
            </div>
        </div></div>

{% endblock %}

{% block custom_javascripts %}
    <script>

        jQuery(document).ready(function() {
            jQuery(".m-alert").delay(2000).fadeOut('slow');
            $('.enabled').click(function(e) {

                var id = $(this).attr("data-value");


                $.ajax({
                    'url': Routing.generate('admin_user_list_change_state', {
                        'id': id
                    }),
                    'success': function(r) {

                        location.reload();

                    }
                });

            });
        });
    </script>
{% endblock %}