{# src/Ruudy/MetronicBundle/Resources/views/metronic/zones/admin/sidebar.html.twig #}
<!-- BEGIN SIDEBAR -->
<button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
    <i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
    <!-- BEGIN: Aside Menu -->
    <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark "
         data-menu-vertical="true" data-menu-scrollable="false" data-menu-dropdown-timeout="500">
        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
            {% set asside_items = app.session.get('app.menu_asside') %}

            {% if asside_items is not null %}
                <!-- BEGIN: Item Menu -->
                {% for items in asside_items %}

                    {% if items.roles is defined and is_granted(items.roles) %}
                        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"
                            data-menu-submenu-toggle="hover">

                            {% if items.route is defined and items.route is not null %}
                                <a href="{{ path(items.route) }}" class="m-menu__link m-menu__toggle">
                                    <i class="{{ items.icon }}"></i>
                                    <span class="m-menu__link-text"> {{ items.name|trans }} </span>

                                    {% if items.subItems is defined %}
                                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                                    {% endif %}
                                </a>
                            {% else %}
                                <a href="#" class="m-menu__link m-menu__toggle">
                                    <i class="{{ items.icon }}"></i>
                                    <span class="m-menu__link-text"> {{ items.name|trans }} </span>

                                    {% if items.subItems is defined %}
                                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                                    {% endif %}
                                </a>

                            {% endif %}
                            {% if items.subItems is defined %}
                                {% for submenu in items.subItems %}

                                    {% if submenu.roles is defined and is_granted(submenu.roles) %}
                                        <div class="m-menu__submenu">
                                            <span class="m-menu__arrow"></span>
                                            <ul class="m-menu__subnav">

                                                <li class="m-menu__item " aria-haspopup="true">


                                                    {% if submenu.route is defined and submenu.route is not null %}

                                                        <a href="{{ path(submenu.route) }}" class="m-menu__link ">
                                                            <i class="{{ submenu.icon }}"> <span></span> </i>
                                                            <span class="m-menu__link-text">
                                                            {{ submenu.name | trans }}
                                                        </span>
                                                        </a>

                                                    {% else %}
                                                        <i class="{{ submenu.icon }}"> <span></span> </i>
                                                        <span class="m-menu__link-text">
                                                            {{ submenu.name | trans }}
                                                        </span>
                                                    {% endif %}


                                                </li>
                                            </ul>
                                        </div>
                                    {% endif %}

                                {% endfor %}
                            {% endif %}
                        </li>
                    {% endif %}
                    <!-- END: Item Menu -->
                {% endfor %}
            {% endif %}


        </ul>
    </div>
    <!-- END: Aside Menu -->
</div>
<!-- END SIDEBAR -->
