<header class="m-grid__item    m-header " data-minimize-offset="200" data-minimize-mobile-offset="200">
    <div class="m-container m-container--fluid m-container--full-height">
        <div class="m-stack m-stack--ver m-stack--desktop">
            <!-- BEGIN: Brand -->
            <div class="m-stack__item m-brand  m-brand--skin-dark ">
                <div class="m-stack m-stack--ver m-stack--general">
                    <div class="m-stack__item m-stack__item--middle m-brand__logo">

                        {% set route = app.session.get('app.default_route') %}
                        {% if route is not null %}
                            <a href="{{ path(route) }}" class="m-brand__logo-wrapper" aria-label="{{app.session.get('app.site_name') }}">
                                <img src="{{app.session.get('app.site_logo') }}" alt="{{app.session.get('app.site_name') }}" width="90%" height="90%"/>
                            </a>
                        {% else %}
                            <a href="#" class="m-brand__logo-wrapper">
                                <img src="{{app.session.get('app.site_logo') }}" alt="{{app.session.get('app.site_name') }}" width="90%" height="90%"/>
                            </a>
                        {% endif %}

                    </div>
                    <div class="m-stack__item m-stack__item--middle m-brand__tools">
                        <!-- BEGIN: Left Aside Minimize Toggle -->
                        <a href="javascript:;" id="m_aside_left_minimize_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block">
                            <span></span>
                        </a>
                        <!-- END -->
                        <!-- BEGIN: Responsive Aside Left Menu Toggler -->
                        <a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                            <span></span>
                        </a>
                        <!-- END -->
                        <!-- BEGIN: Responsive Header Menu Toggler -->
                        <a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                            <span></span>
                        </a>
                        <!-- END -->
                        <!-- BEGIN: Topbar Toggler -->
                        <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                            <i class="flaticon-more"></i>
                        </a>
                        <!-- BEGIN: Topbar Toggler -->
                    </div>
                </div>
            </div>
            <!-- END: Brand -->
            <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
                <!-- BEGIN: Horizontal Menu -->
                <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark " id="m_aside_header_menu_mobile_close_btn">
                    <i class="la la-close"></i>
                </button>
                <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark ">
                    <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">

                        {% set isOwner = app.session.get('app.isOwner') %}
                        {% if  isOwner == true %}
                        <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
                            <a href="#" class="m-menu__link m-menu__toggle">
                                <i class="m-menu__link-icon flaticon-speech-bubble-1"></i>
                                <span class="m-menu__link-text">
												{% trans %} header.switch_language  {% endtrans %}
											</span>
                                <i class="m-menu__hor-arrow la la-angle-down"></i>
                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                            </a>
                            <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left" style="width:250px">
                                <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item " aria-haspopup="true">
                                        <a href="{{ path('security_switchlanguage', { '_locale': 'pt_BR' }) }}" class="m-menu__link ">

                                            <span class="m-menu__link-text">
                                               PT BR
                                            </span>
                                        </a>
                                    </li>

                                    <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                        <a href="{{ path('security_switchlanguage', { '_locale': 'en' }) }}" class="m-menu__link ">
                                            <span class="m-menu__link-text">
                                              EN
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        {% endif %}
                        {%  set defaultClinic = app.session.get('app.clinic')  %}
                        {% if defaultClinic is not null %}
                            <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
                                <a href="{{ path('doctor_clinic_show') }}" class="m-menu__link">
                                    <i class="m-menu__link-icon flaticon-medical"></i>
                                    <span class="m-menu__link-text">
                                        {{ defaultClinic.name|raw }}
                                    </span>

                                </a>

                            </li>
                        {% endif %}
                        {%  set clinics = app.session.get('app.clinics')  %}
                        {% if clinics |length > 1 %}
                            <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
                                <a href="#" class="m-menu__link m-menu__toggle">
                                    <i class="m-menu__link-icon flaticon-cogwheel-2"></i>
                                    <span class="m-menu__link-text">
                                                    Selecionar clinica
                                                </span>
                                    <i class="m-menu__hor-arrow la la-angle-down"></i>
                                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                                </a>

                                <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left" style="width:300px">
                                    <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                                    <ul class="m-menu__subnav">

                                        {% for key,clinic in clinics %}
                                            {% if  clinic.status == true %}
                                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                                    <a href="{{ path('security_change_clinic', { 'clinicId': clinic.id }) }}" class="m-menu__link ">

                                                        <span class="m-menu__link-text">
                                                            {{  clinic.name }}
                                                        </span>
                                                        {%  if defaultClinic.id is defined and clinic.id is defined and defaultClinic.id == clinic.id  %}
                                                            <i class="m-menu__link-icon flaticon-medical"></i>
                                                        {%  endif %}
                                                    </a>
                                                </li>

                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>

                            </li>
                        {% endif %}
                    </ul>
                </div>

                <!-- END: Horizontal Menu -->								<!-- BEGIN: Topbar -->
                <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                    <div class="m-stack__item m-topbar__nav-wrapper">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') or  is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <ul class="m-topbar__nav m-nav m-nav--inline">

                                <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click">
                                    <a href="#" class="m-nav__link m-dropdown__toggle">
                                    <span class="m-topbar__userpic">
                                    {% if  app.user.hasPhoto %}
                                        <img src="{{app.user.photo.url}}" class="m--img-rounded m--marginless m--img-centered" alt="{{app.user.fullName}}">
                                    {% else %}
                                        Olá, {{ app.user.username }}
                                    {% endif %}
                                       
                                    </span>
                                        <span class="m-topbar__username m--hide">
                                        {{ app.user.fullName }}
                                    </span>
                                    </a>
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__header m--align-center" style="background-size: cover;">
                                                <div class="m-card-user m-card-user--skin-dark">
                                                    <div class="m-card-user__pic">
                                                        {% if  app.user.hasPhoto %}
                                                            <img src="{{app.user.photo.url}}" class="m--img-rounded m--marginless m--img-centered" alt="{{app.user.fullName}}">
                                                        {% else %}
                                                            <img src="/assets/app/media/img/users/{{ app.user.getGenderIcon() }}" class="m--img-rounded m--marginless m--img-centered" alt="{{app.user.fullName}}">
                                                        {% endif %}
                                                    </div>
                                                    <div class="m-card-user__details">
                                                    <span class="m-card-user__name m--font-weight-500">
                                                         {{ app.user.fullName }}
                                                    </span>
                                                        <a href="" class="m-card-user__email m--font-weight-300 m-link">
                                                            {{ app.user.email }}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav m-nav--skin-light">
                                                        <li class="m-nav__section m--hide">
                                                        <span class="m-nav__section-text">
                                                            Section
                                                        </span>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="{{ path('admin_area_profile') }}" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-profile-1"></i>
                                                                <span class="m-nav__link-title">
                                                                <span class="m-nav__link-wrap">
                                                                    <span class="m-nav__link-text">
                                                                       Meu prefil
                                                                    </span>
                                                                   
                                                                </span>
                                                            </span>
                                                            </a>
                                                        </li>

                                                        <li class="m-nav__separator m-nav__separator--fit"></li>
                                                        <li class="m-nav__item">
                                                            <a href="{{ path('security_logout') }}" class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">
                                                                Logout
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        {% endif %}
                    </div>
                </div>
                <!-- END: Topbar -->
            </div>
        </div>
    </div>
</header>