<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">
                {% if breadcumbs  is defined %}


                        {% if breadcumbs.route %}
                            <h3 class="m-subheader__title {%  if breadcumbs.items | length >  0 %} m-subheader__title--separator {%  endif %}">
                                <a href="{{ breadcumbs.route }}"> {{ breadcumbs.name | trans }}</a>
                            </h3>


                        {% else %}

                            <h3 class="m-subheader__title {%  if breadcumbs.items | length >  0 %} m-subheader__title--separator {%  endif %}">
                                {{  breadcumbs.name  | trans }}
                            </h3>

                        {% endif %}

                        {% if breadcumbs.items | length >  0 %}
                            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                                {% for item in breadcumbs.items %}
                                    <li class="m-nav__item m-nav__item--home">

                                    {% if item.route is defined %}

                                        <a href="{{ item.route }}">
                                             {{ item.name | trans  }}
                                        </a>

                                    {% else %}
                                         {{  item.name | trans  }}
                                    {% endif %}

                                    </li>

                                    {%  if loop.length > 1 %}
                                    <li class="m-nav__separator">
                                        -
                                    </li>
                                    {%  endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}

                {% endif %}
            </h3>
        </div>
         
    </div>
</div>

