<div class="form-group m-form__group row ">


    <div class="col-lg-6">

        <label class="col-form-label col-lg-3 col-md-3 col-sm-3">
            {{ form_label(form.date) }}
        </label>

        <div class="col-lg-3 col-md-3 col-sm-3">
            {{ form_widget(form.date, {attr: {class: 'form-control m-input', placeholder:'clinic.label.budget.plan.procedures.data'} }) }}
            {% if form.date.vars.valid == false %}
            <div class="form-control-feedback"> {{ form_errors(form.date) }}</div>

            {% endif %}
        </div>

    </div>


    <div class="col-lg-6">
        <label>
            {{ form_label(form.professional) }} *
        </label>

        {{ form_widget(form.professional, {attr: {class: 'form-control m-input select2', placeholder:'clinic.label.budget.profissional'} }) }}
        {% if form.professional.vars.valid == false %}
        <div class="form-control-feedback"> {{ form_errors(form.professional) }}</div>

        {% endif %}

    </div>
</div>

<div class="form-group m-form__group row ">
    <div class="col-lg-6">
        <label>
            {{ form_label(form.details) }} *
        </label>

        {{ form_widget(form.details, {attr: {class: 'form-control m-input', placeholder:'clinic.label.budget.plan.details'} }) }}
        {% if form.details.vars.valid == false %}
        <div class="form-control-feedback"> {{ form_errors(form.details) }}</div>

        {% endif %}

    </div>
    <div class="col-lg-5">
        <label>
            {{ form_label(form.procedures) }} *
        </label>

        {{ form_widget(form.procedures, {attr: {class: 'form-control m-input select2', placeholder:'clinic.label.budget.plan.procedures'} }) }}
        {% if form.procedures.vars.valid == false %}
        <div class="form-control-feedback"> {{ form_errors(form.procedures) }}</div>

        {% endif %}

    </div>

</div>


