{% extends 'layouts/doctor.html.twig' %}


{% block main_content %}
	<div class="m-portlet">

		<!--begin::Form-->
            {{ form_start(form, {attr: {class: 'm-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed'} }) }}
			<div class="m-portlet__body">

                {% include 'doctor/clinic/user/dental-record/form/user-budget-form-fields.html' %}

				<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>

			</div>
			<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
				<div class="m-form__actions m-form__actions--solid">
					<div class="row">
						<div class="col-lg-6">
							<button type="submit" class="btn btn-primary">
                                {{ 'form.save' | trans }}
							</button>&emsp;
                            {{ form_widget(form.cancel, {attr: {class: 'btn btn-secondary'} }) }}
						</div>

					</div>
				</div>
			</div>
        {{ form_end(form) }}
		<!--end::Form-->
	</div>

{% endblock %}

{% block custom_javascripts %}
	<script>

        jQuery(document).ready(function() {


            $('.select2').select2();



        });
	</script>
{% endblock %}