{% extends 'layouts/login/main.html.twig' %}


{% block root_content %}
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--singin" id="m_login">
    <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
        <div class="m-stack m-stack--hor m-stack--desktop">



                        {% block fos_user_content %}

                        {% endblock fos_user_content %}



        </div>
    </div>
</div>
{% endblock %}

