{# src/Ruudy/MetronicBundle/Resources/views/metronic/zones/head.html.twig #}
<meta charset="utf-8"/>
<title>{% block title %}{{app.session.get('app.site_name') }}{% endblock %}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta content="{{app.session.get('app.site_name') }}" name="description"/>
<meta content="{{app.session.get('app.site_name') }}" name="author"/>

{% block stylesheets %}
    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
        google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
        active: function() {
            sessionStorage.fonts = true;
        }
        });
    </script>
    <!--end::Web font -->

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <!--begin::Base Styles -->  
    <!--begin::Page Vendors -->
    <link href="{{ asset('assets/vendors/custom/fullcalendar/fullcalendar.bundle.css') }}" rel="stylesheet" type="text/css"/>
    <!--end::Page Vendors -->
    <link href="{{ asset('assets/vendors/base/vendors.bundle.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/admin/base/style.bundle.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('/css/style.css') }}" rel="stylesheet" type="text/css"/>
    <!--end::Base Styles -->
    <link href="{{ asset('assets/admin/default/media/img/logo/favicon.ico') }}" rel="shortcut icon"/>
     

{% endblock %}
