
<div class="form-group m-form__group row">
	<div class="col-12 ml-auto">
		<h3 class="m-form__section">
            {% trans %} profile.personal.address {% endtrans %}
		</h3>
	</div>
</div>

<div class="form-group m-form__group row">
	<div class="col-lg-6">
		<label>
            {{ form_label(form.address) }}
		</label>
        {{ form_widget(form.address, {attr: {class: "form-control m-input {% if form.name.vars.valid == false %} form-control-danger {% endif %}",placeholder:'user.label.address'} }) }}
        {% if form.address.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.address) }}</div>

        {% endif %}

	</div>
	<div class="col-lg-5">
		<label class="">
            {{ form_label(form.city) }}
		</label>
        {{ form_widget(form.city, {attr: {class: "form-control m-input select2 {% if form.name.vars.valid == false %} form-control-danger {% endif %}",placeholder:'user.label.city'} }) }}
        {% if form.city.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.city) }}</div>

        {% endif %}
	</div><div class="col-lg-1"></div>
</div>


<div class="form-group m-form__group row {% if form.name.vars.valid == false %} has-danger {% endif %}">

	<div class="col-lg-6">
		<label class="">
            {{ form_label(form.neighborhood) }}
		</label>
        {{ form_widget(form.neighborhood, {attr: {class: 'form-control m-input',placeholder:'user.label.neighborhood'} }) }}
        {% if form.neighborhood.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.neighborhood) }}</div>

        {% endif %}
	</div>

	<div class="col-lg-3">
		<label>
            {{ form_label(form.zip_code) }}
		</label>
        {{ form_widget(form.zip_code, {attr: {class: 'form-control m-input',placeholder:'user.label.zip_code'} }) }}
        {% if form.zip_code.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.zip_code) }}</div>

        {% endif %}

	</div>

	<div class="col-lg-3">
		<label>
            {{ form_label(form.number) }}
		</label>

        {{ form_widget(form.number, {attr: {class: 'form-control m-input',placeholder:'user.label.number'} }) }}
        {% if form.number.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.number) }}</div>

        {% endif %}

	</div>

</div>