{% extends '@Base/metronic/metronic.html.twig' %}

{% block head %}
    {% include '@Base/metronic/zones/head.html.twig' %}
{% endblock %}

{% block header %}
    {% include '@Admin/template/zones/admin/header.html.twig' %}
{% endblock %}

{% block sidebar %}
    {% include '@Admin/template/zones/admin/sidebar.html.twig' %}
{% endblock %}

{% block footer %}
    {% include '@Admin/template/zones/admin/footer.html.twig' %}

{% endblock %}

{% block javascripts %}
    {% include '@Base/metronic/zones/javascripts.html.twig' %}
{% endblock %}
