
{% set sort_column = 'id' %}


{% if sortDirection is defined and sortDirection == "ASC" %}
    {% set sort_position = 'DESC' %}
{% elseif sortDirection is defined and sortDirection == "DESC" %}
    {% set sort_position = 'ASC' %}
{% else %}
    {% set sort_position = 'ASC' %}
{% endif %}

{% if sortField is defined %}
    {% set sort_column = sortField %}
{% endif %}


{% set _route = 'doctor_clinic_user_quote_list' %}
{% set _find = path(_route) %}

        <!--begin: Search Form -->
        <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
            <div class="row align-items-center">
                <div class="col-xl-8 order-2 order-xl-1">
                    <div class="form-group m-form__group row align-items-center">

                        {#<div class="col-md-4">#}
                            {#<form action="{{ _find }}" method="get">#}
                                {#<div class="m-input-icon m-input-icon--left">#}

                                    {#<input type="text" name="filter" id="filter" value="{{ filter }}"#}
                                           {#class="form-control m-input m-input--solid" placeholder="Search..."#}
                                           {#id="generalSearch">#}
                                    {#<span class="m-input-icon__icon m-input-icon__icon--left">#}
															{#<span>#}
																{#<i class="la la-search"></i>#}
															{#</span>#}
														{#</span>#}

                                {#</div>#}
                            {#</form>#}
                        {#</div>#}

                    </div>
                </div>
                <div class="col-xl-4 order-1 order-xl-2 m--align-right">

                    <div class="m-separator m-separator--dashed d-xl-none"></div>
                </div>
            </div>
        </div>
        <!--end: Search Form -->
        <!--begin: Datatable -->
        <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">
            <table class="m-datatable__table table-sm table-striped" width="100%"
                   style="display: block; position: static; zoom: 1; height: auto; overflow-x: auto;">
                <thead class="m-datatable__head">
                    <tr class="m-datatable__row">
                        {% for key, field in fields %}

                            <th title="{{ field.name | trans }}" class="m-datatable__cell m-datatable__cell--sort" data-field="{{ field.name | trans }}">
                                <span style="{% if field.style is defined %} {{ field.style }} {% else %} width: 171px; {% endif %} ">

                                    {% if field.sorted is defined and field.sorted == 'true' %}
                                        <a href="{{ path(_route, { page: 1, filter: filter, sortField: field.id, sortDirection: sort_position}) }}">
                                    {% endif %}

                                                {{ field.name |trans }}

                                            {% if field.sorted is defined and field.sorted == 'true' and sort_column == field.id %}
                                                {% set sort_column = field.id %}
                                                <i class="la {% if sort_position == 'ASC' %} la-arrow-down {% else %} la-arrow-up {% endif %} "></i>
                                            {% endif %}

                                    {% if field.sorted is defined and field.sorted == 'true' and sort_column == field.id %}
                                        </a>
                                    {% endif %}

                                </span>
                            </th>
                         {% endfor %}
                        <th title="options" class="m-datatable__cell m-datatable__cell--sort" data-field="options">
                                <span style="width: 200px">

                                    Options

                                </span>
                        </th>

                </tr>
                </thead>
                <tbody class="m-datatable__body">

                    {% set budgets = data.data %}
                    {% for budget in budgets %}


                    <tr data-row="0" class="m-datatable__row m-datatable__row--even">

                        {% for key, field in fields %}


                            <td class="m-datatable__cell">
                                <span style="{% if field.style is defined %} {{ field.style }} {% else %} width: 171px; {% endif %} ">
                                    {% if  field.datetime is defined and field.datetime == 'true' %}
                                        {{ attribute(budget, field.id)|date('d/m/Y') }}
                                    {% elseif  field.idView is defined and field.idView == 'true' %}
                                        <a class="m-datatable__toggle-subtable"
                                           href="#" data-value="{{ budget.id }}" title="Load sub table">
                                            <i class="fa fa-caret-right"></i>
                                        </a>
                                     {% elseif  field.status is defined and field.status == 'true' %}
                                        {% if  budget.status is null %}
                                            <span class="m-badge  m-badge--metal m-badge--wide"> {{ budget.getStateMethod(budget.status)|trans }} </span>
                                        {% elseif  budget.status == 1 %}
                                            <span class="m-badge  m-badge--success m-badge--wide"> {{ budget.getStateMethod(budget.status)|trans }} </span>

                                        {% elseif  budget.status == 0 %}
                                            <span class="m-badge  m-badge--danger m-badge--wide">{{ budget.getStateMethod(budget.status)|trans }}</span>
                                        {% endif %}
                                    {% elseif  field.paid is defined and field.paid == 'true' %}


                                        {% if  budget.paid == false and budget.status == 1 %}

                                            <a href="{{ path('doctor_clinic_user_pay_budget', {'id' : budget.client.uuid, 'budget_id' : budget.id }) }}"
                                               data-toggle="m-tooltip" data-target="#m_modal_{{ budget.id }}"
                                               data-container="body" data-placement="top" data-original-title="Efetuar pagamento"  title="Efetuar pagamento"
                                               class="btn btn-warning m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
                                                    <i class="la la-cc-paypal"></i>
                                                </a>


                                        {% elseif  budget.paid == true %}
                                            {{ budget.paiddate|date('d/m/Y H:i') }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    {% else %}
                                        {{ attribute(budget, field.id)|raw }}
                                    {% endif %}


                                </span>
                            </td>

                        {% endfor %}

                        <td class="m-datatable__cell">
                            <span style="width: 200px">
                            <div class="btn-group" role="group" aria-label="First group">
                        {% if  budget.status is null %}
                            {%  if budget.isValid == true %}
                                <a href="{{ path('doctor_clinic_user_edit_budet', {'id' : budget.client.uuid, 'budget_id' : budget.id }) }}"
                                   data-container="body" data-toggle="m-tooltip" data-placement="top" data-original-title="{{ 'clinical.user.quote.action.edit'|trans }}"
                                   class="m-btn btn btn-primary" title="{{ 'clinical.user.quote.action.edit'|trans }}">
                                               <i class="la la-edit"></i>
                                           </a>

                                       {% else %}
                                <span class="m-badge  m-badge--danger m-badge--wide"> Vencido </span
                            {% endif %}


                        {% elseif  budget.status == 0 %}

                            <span class="m-badge  m-badge--danger m-badge--wide"> {{ budget.getStateMethod(budget.status)|trans }} </span>
                                    {% else %}
                            {% if  budget.done == 1 %}
                                <span class="m-badge  m-badge--success m-badge--wide"> Concluído </span>
                            {% endif %}
                        {% endif %}

                            </div>
                        </span>

                        </td>
                    </tr>

                     {% include 'doctor/clinic/user/budget/user-budget-child-list.html.twig'%}


                    {% endfor %}

                </tbody>
            </table>
            {% set paginator = data.meta.pagination %}

            <div class="m-datatable__pager m-datatable--paging-loaded clearfix">

                <ul class="m-datatable__pager-nav">
                    {% if 1 != paginator.currentPage %}

                        <li>
                            <a title="First" href="{{ path(_route, { page: 1, filter: filter, sortField: sort_column, sortDirection: sort_position }) }}"
                               class="m-datatable__pager-link m-datatable__pager-link--first"
                               data-page="1" disabled="disabled"><i class="la la-angle-double-left"></i></a>

                        </li>
                    {% endif %}

                    {% if paginator.hasPreviousPage %}
                        <li>
                            <a title="Previous"
                               href="{{ path(_route, { page: paginator.previousPage, filter: filter, sortField: sort_column, sortDirection: sort_position }) }}"
                               class="m-datatable__pager-link m-datatable__pager-link--prev"
                               data-page="1" disabled="disabled"><i class="la la-angle-left"></i></a>
                        </li>

                    {% endif %}


                    {% for pag in 1..paginator.nbPages %}


                        <li>
                            <a href="{{ path(_route, { page: pag, filter: filter, sortField: sort_column, sortDirection: sort_position }) }}"
                               class="m-datatable__pager-link m-datatable__pager-link-number {% if pag == paginator.currentPage %}m-datatable__pager-link--active{% endif %}"
                               data-page="1" title="1"> {{ pag }}</a>
                        </li>


                    {% endfor %}


                    {% if paginator.hasNextPage %}
                        <li><a href="{{ path(_route, { page: paginator.nextPage, filter: filter, sortField: sort_column, sortDirection: sort_position  }) }}"
                               title="Next" class="m-datatable__pager-link m-datatable__pager-link--next" data-page="2"><i
                                        class="la la-angle-right"></i></a></li>

                    {% endif %}


                    {% if paginator.currentPage < paginator.nbPages %}
                        <li>
                            <a href="{{ path(_route, { page: paginator.nbPages, filter: filter, sortField: sort_column, sortDirection: sort_position  }) }}"
                               title="Last" class="m-datatable__pager-link m-datatable__pager-link--last"
                               data-page="15"><i
                                        class="la la-angle-double-right"></i>
                            </a>
                        </li>

                    {% endif %}


                </ul>

                <div class="m-datatable__pager-info">

                    <span class="m-datatable__pager-detail">{{ paginator.currentPage }} - {{ paginator.nbPages }} &emsp;&emsp; Total {{ paginator.nbResults }}
                        items</span></div>

            </div>
        </div>
        <!--end: Datatable -->
