{% extends 'layouts/doctor.html.twig' %}



{% block main_content %}
<div class="row">
    {% include 'doctor/client/info-left.html.twig' %}
    {% include 'doctor/client/info-rigth.html.twig' %}
</div>
{% endblock %}