


        {% block main_content %}
        <div class="row">
            {% include 'admin/user/info-left.html.twig' %}
            {% include 'admin/user/info-rigth.html.twig' %}
        </div>
        {% endblock %}