<div class="col-xl-9 col-lg-8">
    <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
        <div class="m-portlet__head">
            <div class="m-portlet__head-tools">
                <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1"
                           role="tab">
                            <i class="flaticon-share m--hide"></i>
                            {{ breadcumbs.name | trans }}
                        </a>
                    </li>


                </ul>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item m-portlet__nav-item--last">
                        <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                             data-dropdown-toggle="hover" aria-expanded="true">
                            <a href="#"
                               class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                                <i class="la la-gear"></i>
                            </a>
                            <div class="m-dropdown__wrapper">
                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"
                                      style="left: auto; right: 21.5px;"></span>
                                <div class="m-dropdown__inner">
                                    <div class="m-dropdown__body">
                                        <div class="m-dropdown__content">
                                            <ul class="m-nav">
                                                <li class="m-nav__section m-nav__section--first">
													<span class="m-nav__section-text">
                                                       	{% trans %}profile.quick_actions{% endtrans %}
													</span>
                                                </li>

                                                <li class="m-nav__item">
                                                    <a href="{{ path('user_profile_edit', { 'id': user.id}) }}" class="m-nav__link">
                                                        <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                        <span class="m-nav__link-text">
															{% trans %} profile.quick_actions.edit_profile{% endtrans %}
														</span>
                                                    </a>
                                                </li>
                                                <li class="m-nav__item">
                                                    <a href="{{ path('user_profile_edit', { 'id': user.id}) }}" class="m-nav__link">
                                                        <i class="m-nav__link-icon flaticon-multimedia-2"></i>
                                                        <span class="m-nav__link-text">
															{% trans %}  profile.quick_actions.change_photo {% endtrans %}
														</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="m_user_profile_tab_1">
                <div class="m-portlet__body">
                    <div class="row m-row--no-padding">
                        <div class="col-md-12 col-lg-6 col-xl-6">
                            <div class="form-group m-form__group row">
                                <div class="col-12 ml-auto">
                                    <h3 class="m-form__section">
                                        {% trans %} profile.personal.datail {% endtrans %}
                                    </h3>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">

                                <label for="example-text-input" class="col-3 col-form-label">
                                    {% trans %} profile.personal.full_name {% endtrans %}

                                </label>
                                <div class="col-6">
                                    <label for="example-text-input" class="col-12 col-form-label">
                                        {{ user.fullName }}
                                    </label>

                                </div>

                            </div>
                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-3 col-form-label">
                                    RG
                                </label>
                                <div class="col-6">
                                    <label for="example-text-input" class="col-12 col-form-label">
                                        {{ user.rg }}
                                    </label>

                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-3 col-form-label">
                                    CPF
                                </label>
                                <div class="col-6">
                                    <label for="example-text-input" class="col-12 col-form-label">
                                        {{ user.cpf }}
                                    </label>

                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-3 col-form-label">
                                    {% trans %} profile.personal.phone {% endtrans %}
                                </label>
                                <div class="col-6">
                                    <label for="example-text-input" class="col-12 col-form-label">
                                        {{ user.phone }}
                                    </label>

                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-3 col-form-label">
                                    {% trans %} profile.personal.cell_phone {% endtrans %}
                                </label>
                                <div class="col-6">
                                    <label for="example-text-input" class="col-12 col-form-label">
                                        {{ user.cellPhone }}
                                    </label>

                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-3 col-form-label">
                                    {% trans %} profile.personal.state_civil {% endtrans %}
                                </label>
                                <div class="col-6">
                                    <label for="example-text-input" class="col-12 col-form-label">
                                        {{ user.stateCivil }}
                                    </label>

                                </div>
                            </div>



                        </div>

                        <div class="col-md-12 col-lg-6 col-xl-6">

                            <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                            <div class="form-group m-form__group row">
                                <div class="col-12 ml-auto">
                                    <h3 class="m-form__section">
                                        {% trans %} profile.personal.address {% endtrans %}
                                    </h3>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-4 col-form-label">
                                    {% trans %} profile.personal.address {% endtrans %}
                                </label>
                                <div class="col-5">
                                    <label for="example-text-input" class="col-12 col-form-label">
                                        {{ user.address }}
                                    </label>

                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-4 col-form-label">
                                    {% trans %} profile.personal.address.city {% endtrans %}
                                </label>
                                <div class="col-5">
                                    <label for="example-text-input" class="col-12 col-form-label">
                                        {{ user.city.name }}
                                    </label>

                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-4 col-form-label">
                                    {% trans %} profile.personal.address.state {% endtrans %}
                                </label>
                                <div class="col-5">
                                    <label for="example-text-input" class="col-12 col-form-label">
                                        {{ user.city.uf }}
                                    </label>

                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-4 col-form-label">
                                    {% trans %} profile.personal.address.postal_code {% endtrans %}
                                </label>
                                <div class="col-5">
                                    <label for="example-text-input" class="col-12 col-form-label">
                                        {{ user.zipCode }}
                                    </label>

                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-4 col-form-label">
                                    {% trans %} profile.personal.address.neighborhood {% endtrans %}
                                </label>
                                <div class="col-5">
                                    <label for="example-text-input" class="col-12 col-form-label">
                                        {{ user.neighborhood }}
                                    </label>

                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-4 col-form-label">
                                    {% trans %} profile.personal.address.number {% endtrans %}
                                </label>
                                <div class="col-5">
                                    <label for="example-text-input" class="col-12 col-form-label">
                                        {{ user.number }}
                                    </label>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="m_user_profile_tab_2">


                <div class="m-portlet__body">
                    <div class="row m-row--no-padding">
                        <div class="col-md-12 col-lg-6 col-xl-8">
                            <div class="form-group m-form__group row">
                                <div class="col-12 ml-auto">
                                    <h3 class="m-form__section">
                                        {% trans %} profile.personal.others {% endtrans %}
                                    </h3>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-6 col-form-label">
                                    {% trans %} profile.personal.others.birth_date {% endtrans %}
                                </label>
                                <div class="col-6">
                                    <label for="example-text-input" class="col-12 col-form-label">
                                        {{ user.birthDate |date("d/m/Y") }}
                                    </label>

                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-6 col-form-label">
                                    {% trans %} profile.personal.others.admission_date {% endtrans %}
                                </label>
                                <div class="col-6">
                                    <label for="example-text-input" class="col-12 col-form-label">
                                        {{ user.admissionDate |date("d/m/Y") }}
                                    </label>

                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-6 col-form-label">
                                    CRO
                                </label>
                                <div class="col-6">
                                    <label for="example-text-input" class="col-12 col-form-label">
                                        {{ user.cro }}
                                    </label>

                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-6 col-form-label">
                                    {% trans %} profile.personal.others.profession {% endtrans %}
                                </label>
                                <div class="col-6">
                                    <label for="example-text-input" class="col-12 col-form-label">
                                        {{ user.profession }}
                                    </label>

                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-6 col-form-label">
                                    {% trans %} profile.personal.others.specialization {% endtrans %}
                                </label>
                                <div class="col-6">
                                    <label for="example-text-input" class="col-12 col-form-label">
                                        {{ user.specialization.name }}
                                    </label>

                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-6 col-form-label">
                                    {% trans %} profile.personal.others.plan {% endtrans %}
                                </label>
                                <div class="col-6">
                                    <label for="example-text-input" class="col-12 col-form-label">
                                        {{ user.plan.name }}
                                    </label>

                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-6 col-form-label">
                                    {% trans %} profile.personal.others.notes {% endtrans %}
                                </label>
                                <div class="col-6">
                                    <label for="example-text-input" class="col-12 col-form-label">
                                        {{ user.notes }}
                                    </label>

                                </div>
                            </div>

                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
