<div class="col-xl-3 col-lg-4">
	<div class="m-portlet">
		<div class="m-portlet__body">
			<div class="m-card-profile">
				<div class="m-card-profile__title m--hide">
                    {{ breadcumbs.name | trans }}
				</div>

                {% if  app.user.hasPhoto %}
					<div class="m-card-profile__pic">
						<img src="{{user.photo.url}}" class="m--img-rounded m--marginless m--img-centered" alt="{{user.fullName}}">
					</div>
                {% endif %}


				<div class="m-card-profile__details">
					<span class="m-card-profile__name">
						{{user.fullName}}
					</span>
					<a href="" class="m-card-profile__email m-link">
                        {{user.email}}
					</a>
				</div>
			</div>

		</div>
	</div>
</div>
