<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">
                {% if breadcumbs  is defined %}

                    <div>
                        {% if breadcumbs.route %}

                            <a href="{{ breadcumbs.route }}"> {{ breadcumbs.name | trans }}</a>

                        {% else %}
                            {{  breadcumbs.name  | trans }}
                        {% endif %}

                        {% if breadcumbs.items |length >  0 %}
                            {% for item in breadcumbs.items %}


                                {% if item.route %}

                                    <a href="{{ item.route }}">
                                        <i class="la la-angle-double-right"></i> {{ item.name | trans  }}
                                    </a>

                                {% else %}
                                    <i class="la la-angle-double-right"></i> {{  item.name | trans  }}
                                {% endif %}


                            {% endfor %}
                        {% endif %}

                    </div>
                {% endif %}
            </h3>
        </div>
         
    </div>
</div>

