{% extends 'layouts/admin.html.twig' %}


{% block main_content %}
<div class="row">

    <div class="col-xl-12 col-lg-12">
        <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
            <div class="m-portlet__head">
                <div class="m-portlet__head-tools">
                    <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1"
                               role="tab">
                                <i class="flaticon-share m--hide"></i>
                                {{ breadcumbs.name | trans }}
                            </a>
                        </li>


                    </ul>
                </div>

            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="m_user_profile_tab_1">
                    <div class="m-portlet__body">
                        <div class="row m-row--no-padding">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div class="form-group m-form__group row">
                                    <div class="col-12 ml-auto">
                                        <h3 class="m-form__section">
                                            {% trans %} profile.quick_actions.change_photo {% endtrans %}
                                        </h3>
                                    </div>
                                </div>

                                {{ form_start(form, {attr: {class: 'm-form',novalidate: 'novalidate'} }) }}

                                    <div class="m-portlet__body">
                                        <div class="form-group m-form__group row  {% if form.image.vars.valid == false %} has-danger {% endif %}'">
                                            <label class="col-form-label col-lg-6 col-md-6 col-sm-6">
                                                {{ form_widget(form.image, {attr: {class: 'custom-file-input'} }) }}
                                                <span class="custom-file-control"></span>
                                            </label>


                                            <div class="col-lg-6 col-md-6 col-sm-6">

                                                {% if form.image.vars.valid == false %}
                                                    <div class="form-control-feedback"> {{ form_errors(form.image) }}</div>

                                                {% endif %}
                                            </div>
                                        </div>



                                    </div>
                                    <div class="m-portlet__foot m-portlet__foot--fit">
                                        <div class="m-form__actions m-form__actions">
                                            <button type="submit" class="btn btn-primary">
                                                {{ 'form.save' | trans }}
                                            </button>
                                            &emsp;
                                            {{ form_widget(form.cancel, {attr: {class: 'btn btn-secondary'} }) }}

                                        </div>
                                    </div>


                            </div>
                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
{% endblock %}