{% extends 'layouts/admin.html.twig' %}

{% block main_content %}


{% set _route = 'admin_specilization_new' %}

<div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        {{ 'header.specialization.new'|trans }}
                    </h3>
                </div>
            </div>
        </div>
        <!--begin::Form-->
        {{ form_start(form, {attr: {class: 'm-form',novalidate: 'novalidate'} }) }}

            <div class="m-portlet__body">
                <div class="form-group m-form__group row  {% if form.name.vars.valid == false %} has-danger {% endif %}'">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        {{ form_label(form.name) }} *
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">

                        {{ form_widget(form.name, {attr: {class: 'form-control m-input',placeholder:'form.specialization.label.name.placeholder'} }) }}
                        {% if form.name.vars.valid == false %}
                            <div class="form-control-feedback"> {{ form_errors(form.name) }}</div>

                        {% endif %}
                    </div>
                </div>



            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions">
                    <button type="submit" class="btn btn-primary">
                        {{ 'form.save' | trans }}
                    </button>
                    <button type="reset" class="btn btn-secondary">
                        {{ 'form.cancel' | trans }}
                    </button>
                </div>
            </div>
        {{ form_end(form) }}
        <!--end::Form-->
</div>

{% endblock %}

