
{% set sort_column = 'id' %}


{% if sortDirection is defined and sortDirection == "ASC" %}
    {% set sort_position = 'DESC' %}
{% elseif sortDirection is defined and sortDirection == "DESC" %}
    {% set sort_position = 'ASC' %}
{% else %}
    {% set sort_position = 'ASC' %}
{% endif %}

{% if sortField is defined %}
    {% set sort_column = sortField %}
{% endif %}


{% set _route = 'doctor_clinic_user_dental_record' %}
{% set _find = path(_route, { 'id': user.uuid }) %}


        <!--end: Search Form -->
        <!--begin: Datatable -->
        <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">
            <table class="m-datatable__table table-sm table-striped" width="100%"
                   style="display: block; position: static; zoom: 1; height: auto; overflow-x: auto;">
                <thead class="m-datatable__head">
                    <tr class="m-datatable__row">
                        {% for key, field in fields %}

                            <th title="{{ field.name | trans }}" class="m-datatable__cell m-datatable__cell--sort" data-field="{{ field.name | trans }}">
                                <span style="{% if field.style is defined %} {{ field.style }} {% else %} width: 171px; {% endif %} ">

                                    {% if field.sorted is defined and field.sorted == 'true' %}
                                        <a href="{{ path(_route, { 'id': user.uuid, page: 1, filter: filter, sortField: field.id, sortDirection: sort_position}) }}">
                                    {% endif %}

                                                {{ field.name |trans }}

                                            {% if field.sorted is defined and field.sorted == 'true' and sort_column == field.id %}
                                                {% set sort_column = field.id %}
                                                <i class="la {% if sort_position == 'ASC' %} la-arrow-down {% else %} la-arrow-up {% endif %} "></i>
                                            {% endif %}

                                    {% if field.sorted is defined and field.sorted == 'true' and sort_column == field.id %}
                                        </a>
                                    {% endif %}

                                </span>
                            </th>
                         {% endfor %}
                        <th title="options" class="m-datatable__cell m-datatable__cell--sort" data-field="options">
                                <span style="width: 200px">

                                    Options

                                </span>
                        </th>

                </tr>
                </thead>
                <tbody class="m-datatable__body">

                    {% set detal_records = data.data %}

                    {% for detal_record in detal_records %}


                    <tr data-row="0" class="m-datatable__row m-datatable__row--even">

                        {% for key, field in fields %}


                            <td class="m-datatable__cell">

                                <span style="{% if field.style is defined %} {{ field.style }} {% else %} width: 171px; {% endif %} ">
                                    {% if  field.datetime is defined and field.datetime == 'true' %}
                                        {{ attribute(detal_record, field.id)|date('d/m/Y H:i') }}
                                    {% elseif  field.idView is defined and field.idView == 'true' %}
                                        <a class="m-datatable__toggle-subtable"
                                           href="#" data-value="{{ budget.id }}" title="Load sub table">
                                            <i class="fa fa-caret-right"></i>
                                        </a>
                                     {% elseif  field.bool is defined and field.bool == 'true' %}

                                        {% if detal_record.budget.status == NULL %}
                                            <span class="m-badge   m-badge--warning m-badge--wide">{{ 'clinical.user.quote.status.pending'|trans }}</span>

                                        {% elseif detal_record.budget.status == 1 %}

                                            {% if detal_record.budget.done == false %}
                                                <span class="m-badge   m-badge--warning m-badge--wide">{{ 'clinical.user.quote.status.pending'|trans }}</span>
                                                <br><b> {{ detal_record.hasProcedurePendding() }} procedimento(s)</b>

                                            {% else %}
                                                <span class="m-badge  m-badge--success m-badge--wide">{{ 'clinical.user.quote.status.finished'|trans }}</span>
                                               <br><b> {{  detal_record.date|date('d/m/Y H:i') }}</b>
                                            {% endif %}
                                        {% endif %}

                                    {% else %}
                                        {{ attribute(detal_record, field.id)|raw }}
                                    {% endif %}


                                </span>
                            </td>

                        {% endfor %}

                        <td class="m-datatable__cell">
                            <span style="width: 200px">
                            <div class="btn-group" role="group" aria-label="First group">


                         <a href="{{ path('doctor_clinic_user_dental_record_show', {'id' : user.uuid, 'detal_record_id' : detal_record.id }) }}"
                            data-container="body" data-toggle="m-tooltip" data-placement="top" data-original-title="Detalhes"
                            class="m-btn btn btn-info" title="Detalhes">
                                                                    <i class="la la-reorder"></i>
                                                                </a>
                                {% if detal_record.hasProcedurePendding() == 0 and detal_record.budget.done == false %}
                                    <a href="{{ path('doctor_clinic_user_profile_quote_done',
                                        {'id' : detal_record.budget.id }) }}"
                                       data-container="body" data-toggle="m-tooltip" data-placement="top" data-original-title="Concluir tratamento"
                                       class="m-btn btn btn-success" title="Concluir tratamento">

                                                                    <i class="la la-calendar-check-o"></i>

                                                            </a>
                                {% endif %}

                            </div>
                        </span>

                        </td>
                    </tr>

                     {#{% include 'doctor/clinic/user/budget/user-budget-child-list.html.twig'%}#}
                    {% else %}
                        <tr data-row="0" class="m-datatable__row m-datatable__row--even">
                            <td rowspan="4" >
                                <center>{{ 'clinic.label.not_found'|trans }} </center>
                            </td>
                        </tr>

                    {% endfor %}

                </tbody>
            </table>
            {% set paginator = data.meta.pagination %}

            <div class="m-datatable__pager m-datatable--paging-loaded clearfix">

                <ul class="m-datatable__pager-nav">
                    {% if 1 != paginator.currentPage %}

                        <li>
                            <a title="First" href="{{ path(_route, { 'id': user.uuid, page: 1, filter: filter, sortField: sort_column, sortDirection: sort_position }) }}"
                               class="m-datatable__pager-link m-datatable__pager-link--first"
                               data-page="1" disabled="disabled"><i class="la la-angle-double-left"></i></a>

                        </li>
                    {% endif %}

                    {% if paginator.hasPreviousPage %}
                        <li>
                            <a title="Previous"
                               href="{{ path(_route, { page: paginator.previousPage, filter: filter, sortField: sort_column, sortDirection: sort_position }) }}"
                               class="m-datatable__pager-link m-datatable__pager-link--prev"
                               data-page="1" disabled="disabled"><i class="la la-angle-left"></i></a>
                        </li>

                    {% endif %}


                    {% for pag in 1..paginator.nbPages %}


                        <li>
                            <a href="{{ path(_route, { 'id': user.uuid, page: pag, filter: filter, sortField: sort_column, sortDirection: sort_position }) }}"
                               class="m-datatable__pager-link m-datatable__pager-link-number {% if pag == paginator.currentPage %}m-datatable__pager-link--active{% endif %}"
                               data-page="1" title="1"> {{ pag }}</a>
                        </li>


                    {% endfor %}


                    {% if paginator.hasNextPage %}
                        <li><a href="{{ path(_route, { 'id': user.uuid, page: paginator.nextPage, filter: filter, sortField: sort_column, sortDirection: sort_position  }) }}"
                               title="Next" class="m-datatable__pager-link m-datatable__pager-link--next" data-page="2"><i
                                        class="la la-angle-right"></i></a></li>

                    {% endif %}


                    {% if paginator.currentPage < paginator.nbPages %}
                        <li>
                            <a href="{{ path(_route, { 'id': user.uuid, page: paginator.nbPages, filter: filter, sortField: sort_column, sortDirection: sort_position  }) }}"
                               title="Last" class="m-datatable__pager-link m-datatable__pager-link--last"
                               data-page="15"><i
                                        class="la la-angle-double-right"></i>
                            </a>
                        </li>

                    {% endif %}


                </ul>

                <div class="m-datatable__pager-info">

                    <span class="m-datatable__pager-detail">{{ paginator.currentPage }} - {{ paginator.nbPages }} &emsp;&emsp; Total {{ paginator.nbResults }}
                        items</span></div>

            </div>
        </div>
        <!--end: Datatable -->
