{% extends 'layouts/doctor.html.twig' %}


{% block main_content %}
  
    <div class="col-xl-12 col-lg-12">
        <div class="m-portlet m-portlet--tabs
         {%  if plan.budget.done ==  0 %} m-portlet--primary

        {% elseif plan.budget.done == 1 %} m-portlet--success
        {% endif %} m-portlet--head-solid-bg m-portlet--bordered">

            {% include 'doctor/clinic/user/user-tab.html.twig' with {'active': 'dental-record-show'} %}
            <div class="m-portlet__body">
                <div class="tab-content">
                    <div class="tab-pane active" id="m_user_profile_tab_1">
                        <div class="m-portlet__body">
                            <div class="row m-row--no-padding">


                                <div class="col-xl-3 col-lg-4">
                                    <div class="m-portlet">
                                        <div class="m-portlet__body">
                                            <div class="m-card-profile">


                                                {% if  user.hasPhoto %}
                                                    <div class="m-card-profile__pic">
                                                        <img src="{{user.photo.url}}" class="m--img-rounded m--marginless m--img-centered" alt="{{user.fullName}}">
                                                    </div>
                                                {% endif %}


                                                <div class="m-card-profile__details">

                                                    <div class="col-12">
                                                        <label for="example-text-input" class="col-12 col-form-label">
                                                            <b>{{ user.fullName }}</b>
                                                        </label>

                                                    </div>


                                                   {% if plan.budget.done == 0 %}

                                                        {% if plan.hasProcedurePendding() == 0 %}
                                                            <a href="{{ path('doctor_clinic_user_profile_quote_done',
                                                                {'id' : plan.budget.id }) }}"
                                                                    class="btn btn-success m-btn m-btn--custom m-btn--icon">
                                                                <span>
                                                                    <i class="la la-calendar-check-o"></i>
                                                                    <span   title="Clique aqui para concluir o tratamento"
                                                                            data-container="body" data-toggle="m-tooltip" data-placement="top"
                                                                            data-original-title="Clique aqui para concluir o tratamento">
                                                                        Concluir tratamento
                                                                    </span>
                                                                </span>
                                                            </a>
                                                        {% else %}
                                                            <span class="m-badge   m-badge--info m-badge--wide">{{ 'clinical.user.quote.status.progress'|trans }}</span>

                                                        {% endif %}

                                                    {% elseif plan.budget.done == 1 %}
                                                        <span class="m-badge  m-badge--success m-badge--wide">{{ 'clinical.user.quote.status.finished'|trans }}</span>

                                                    {% endif %}



                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="m-portlet">
                                        <div class="m-portlet__body">
                                            <div class="m-card-profile">



                                                <div class="m-card-profile__pic">

                                                    {% if plan.budget.tooth is defined %}
                                                                {% if plan.budget.getToothImage is not null %}


                                                                    <img src="{{ plan.budget.getToothImage }}"
                                                                         class="m--img-rounded m--marginless m--img-centered"
                                                                         data-container="body" data-toggle="m-tooltip" data-placement="right"
                                                                         data-original-title="Dente {{ plan.budget.tooth }}"
                                                                         alt="Dente {{ plan.budget.tooth }}" style="width: 50px"/>
                                                                {% else %}
                                                                    {{ plan.budget.tooth }}
                                                                {% endif %}

                                                    {% endif %}

                                                </div>


                                                <div class="m-card-profile__details">

                                                    <div class="col-12">
                                                        <label for="example-text-input" class="col-6 col-form-label font-weight-bold">
                                                            {% trans %} clinic.label.budget.tooth {% endtrans %}
                                                        </label>

                                                    </div>





                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-1 col-lg-1"></div>
                                <div class="col-md-12 col-lg-6 col-xl-6">
                                    <div class="form-group m-form__group row">
                                        <div class="col-12 ml-auto">
                                            <h3 class="m-form__section">
                                                {% trans %} profile.personal.datail {% endtrans %}
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">

                                        <label for="example-text-input" class="col-6 col-form-label font-weight-bold">
                                            {% trans %} clinic.label.budget.profissional {% endtrans %}

                                        </label>
                                        {% if plan.professional is defined  and plan.professional.username is defined%}
                                            <div class="col-6">

                                                <label for="example-text-input" class="col-12 col-form-label">
                                                    {{ plan.professional }}
                                                    {% if  plan.professional.cro is defined%}
                                                         ({{ plan.professional.cro }})
                                                    {% endif %}

                                                </label>

                                            </div>
                                        {% endif %}
                                    </div>
                                    {% if plan.budget.done == 1 and plan.date is defined %}
                                    <div class="form-group m-form__group row">


                                            <label for="example-text-input" class="col-6 col-form-label font-weight-bold">
                                                {% trans %} clinic.label.budget.plan.procedures.data {% endtrans %}
                                            </label>
                                            <div class="col-6">
                                                <label for="example-text-input" class="col-12 col-form-label font-weight-bold">
                                                    {{ plan.date|date('d/m/Y H:i') }}
                                                </label>

                                            </div>

                                    </div>
                                    {% endif %}
                                    <hr/>

                                    {% if plan.budget.paid == true %}
                                        {% if plan.budget.payment %}
                                            <div class="form-group m-form__group row" >
                                                <label for="example-text-input" class="col-6 col-form-label font-weight-bold">
                                                    {% trans %} clinic.label.budget.payment_method {% endtrans %}
                                                </label>
                                                <div class="col-6">
                                                    <label for="example-text-input" class="col-12 col-form-label">



                                                            {{ plan.budget.paymentmethod(plan.budget.payment) |trans }}


                                                    </label>

                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="form-group m-form__group row" >
                                            <label for="example-text-input" class="col-6 col-form-label font-weight-bold">
                                                {% trans %} clinic.label.budget.value {% endtrans %}
                                            </label>
                                            <div class="col-6">
                                                <label for="example-text-input" class="col-12 col-form-label">



                                                        R$ {{ plan.budget.value}}
                                                        {% if plan.budget.discount > 0 %}

                                                         <b>- ({{ plan.budget.discount |trans }}%)</b>

                                                        {% endif %}
                                                </label>

                                            </div>
                                        </div>

                                        <div class="form-group m-form__group row" >
                                            <label for="example-text-input" class="col-6 col-form-label font-weight-bold">
                                                {% trans %} clinic.label.budget.total {% endtrans %}
                                            </label>
                                            <div class="col-6">
                                                <label for="example-text-input" class="col-12 col-form-label font-weight-bold">

                                                    R$ {{ plan.budget.total |trans }}

                                                </label>

                                            </div>
                                        </div>


                                    {% else %}
                                        <div class="form-group m-form__group row">
                                            <label for="example-text-input" class="col-6 col-form-label font-weight-bold">
                                                Efetuar o pagamento
                                            </label>
                                            <div class="col-6">
                                                <a href="{{ path('doctor_clinic_user_pay_budget', {'id' : plan.budget.client.uuid, 'budget_id' : plan.budget.id }) }}"
                                                   data-toggle="m-tooltip" target="_blank"
                                                   data-container="body" data-placement="top" data-original-title="Efetuar pagamento"  title="Efetuar pagamento"
                                                   class="btn btn-warning m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--air">
                                                    <i class="la la-cc-paypal"></i>
                                                </a>
                                            </div>
                                        </div>


                                    {% endif %}

                                    <hr/>
                                    <div class="form-group m-form__group row">
                                        <label for="example-text-input" class="col-6 col-form-label font-weight-bold">
                                            {% trans %} clinic.label.budget.agreement {% endtrans %}
                                        </label>
                                        <div class="col-6">
                                            <label for="example-text-input" class="col-12 col-form-label">


                                            {% if plan.agreement is defined and plan.agreement is not null %}
                                                {{ plan.agreement }}
                                            {% else %}
                                                {{ 'clinic.label.budget.private'|trans }}
                                            {% endif %}
                                            </label>

                                        </div>
                                    </div>



                                    <div class="form-group m-form__group row">
                                        <label for="example-text-input" class="col-6 col-form-label font-weight-bold">
                                            {% trans %} clinic.label.budget.plan.details {% endtrans %}
                                        </label>
                                        <div class="col-6">
                                            <label for="example-text-input" class="col-12 col-form-label">
                                                {{ plan.details }}
                                            </label>
                                        </div>
                                    </div>



                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="m_user_profile_tab_2">


                        <div class="m-portlet__body">
                            <div class="row">
                                <div class="col-md-12 col-lg-7 col-xl-7">

                                    <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-12 ml-auto">
                                            <h3 class="m-form__section">
                                                {% trans %} profile.personal.procedures {% endtrans %}
                                            </h3>
                                        </div>
                                    </div>


                                        <!--begin::Preview-->

                                                        <table class="table table-hover">
                                                            <thead>
                                                            <tr>
                                                                <th>Procedimento</th>
                                                                <th>Tempo</th>
                                                                <th>Status</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>

                                                        {% if plan.procedures is defined %}
                                                        {% for plan_procedure in plan.procedures %}
                                                        {% set procedure = plan_procedure.procedure %}

                                                            <tr>
                                                                <td>
                                                                    <label style="font-weight: bolder;font-size:15px"
                                                                            {% if  is_granted('ROLE_DOCTOR') and  plan_procedure.status != constant('BaseBundle\\Entity\\PlanProcedure::STATUS_DONE')  %}
                                                                           title="Pendente"
                                                                           data-container="body" data-toggle="m-tooltip" data-placement="top"
                                                                           data-original-title="Pendente"
                                                             {% else %}
                                                                 title="Realizado em {{ plan_procedure.date|date('d/m/Y H:i') }}, com  {{ procedure.averageTime }}Hr(s) de duração"
                                                                 data-container="body" data-toggle="m-tooltip" data-placement="top"
                                                                 data-original-title="Realizado em {{ plan_procedure.date|date('d/m/Y H:i') }}, com  {{ procedure.averageTime }}Hr(s) de duração"
                                                            {% endif %}
                                                                    >

                                                                        {{ procedure }}</label>
                                                                </td>
                                                                <td><b>  {{ procedure.averageTime }}Hr(s)</b></td>
                                                                <td>


                                                                        {% if  is_granted('ROLE_DOCTOR') and  plan_procedure.status != constant('BaseBundle\\Entity\\PlanProcedure::STATUS_DONE')  %}

                                                                            <a style="color: #8b0000!important;" title="Pendente!"
                                                                               href="{{ path('doctor_clinic_user_dental_record_approve_procedure',
                                                                                   {'id' : user.uuid, 'detal_record_id' : plan.id, 'procedure_id' :  procedure.id }) }}">
                                                                                <span class="m-badge   m-badge--warning m-badge--wide">{{ 'clinical.user.quote.status.pending'|trans }}</span>
                                                                            </a>
                                                                        {% else %}
                                                                            <a style="color: #16b192!important;font-weight: bolder;font-size: 15px;" title="Realizado!">
                                                                                {{ plan_procedure.date|date('d/m/Y H:i') }} <i  class="la la-check"></i>
                                                                            </a>
                                                                        {% endif %}

                                                                </td>
                                                            </tr>
                                                            {#<div class="m-list-timeline__item">#}
                                                                {#<span class="m-list-timeline__badge"></span>#}
                                                                {#<span class="m-list-timeline__text">#}
                                                                         {#<b>{{ procedure }}</b>#}
                                                                        {#</span>#}
                                                                {#<span class="m-list-timeline__time">#}
                                                                         {#<b>  {{ procedure.averageTime }}Hr(s)</b>#}
                                                                        {#</span>#}



                                                            {#</div>#}

                                                        {% else %}
                                                            <tr>
                                                                <td>

                                                                    <center>Sem procedimento(s) cadastrados</center>

                                                                </td>

                                                            </tr>
                                                            <center>Sem procedimento(s) cadastrados</center>
                                                        {% endfor %}
                                                        {% endif %}
                                                            </tbody>
                                                        </table>


                                        <!--end::Preview-->

                                </div>

                                <div class="col-md-12 col-lg-5 col-xl-5">
                                    <div class="form-group m-form__group row">
                                        <div class="col-12">
                                            <h3 class="m-form__section">
                                                {% trans %} profile.personal.files {% endtrans %}&ensp;
                                                {% if plan.budget.done == false %}

                                                    <a href="#" data-toggle="modal" data-target="#m_modal_{{ plan.id }}"
                                                       data-container="body" data-placement="top" data-original-title="Adicionar novo arquivo"  title="Adicionar novo arquivo"
                                                       class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
                                                                <span>
                                                                     <span> <i class="la la-plus"></i> &ensp; </span>
                                                                </span>
                                                    </a>

                                                {% endif %}
                                            </h3>

                                        </div>
                                    </div>
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Excluir</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for plan_file in plan.files %}
                                        {% set file = plan_file %}
                                            <tr>
                                                <td>

                                                    <a class="jstree-anchor"
                                                       href="{{ file.url }}"
                                                       target="_blank" title="{{ file.name }} - Criado em {{ file.createdAt|date('d/m/Y H:i') }}"
                                                       data-container="body" data-toggle="m-tooltip" data-placement="top"
                                                       data-original-title="{{ file.name }} - Criado em {{ file.createdAt|date('d/m/Y H:i') }}">
                                                        <i class="jstree-icon jstree-themeicon {{ file.icon }} jstree-themeicon-custom"
                                                                role="presentation">

                                                        </i>
                                                        <b> {{ file.name }}</b>
                                                    </a>

                                                </td>
                                                <td>
                                                    {% if plan.budget.done == false %}
                                                    <a style="color: #f4516c !important;"
                                                       data-container="body" data-toggle="m-tooltip"  data-placement="top" data-original-title="Remover arquivo"
                                                       href="{{ path('doctor_clinic_user_dental_record_delete_file', {'id' : user.uuid, 'detal_record_id' : plan.id, 'file_id' : file.id }) }}"
                                                    <i  class="la la-trash"></i>

                                                    </a>
                                                    {% endif %}
                                                </td>

                                            </tr>
                                        {% else %}
                                            <tr>
                                            <td>

                                                <center>Sem anexo(s)</center>

                                            </td>

                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                    <!--::Modal-->
                                    <div class="modal fade" id="m_modal_{{ plan.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                        Upload de arquivo
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">
												×
											</span>
                                                    </button>
                                                </div>

                                                {{ form_start(form, {attr: {class: 'm-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed'} }) }}
                                                <div class="modal-body">
                                                    <label>
                                                        {{ form_label(form.file) }} *
                                                    </label>

                                                    {{ form_widget(form.file, {attr: {class: 'form-control m-input', placeholder:'Upload file'} }) }}
                                                    {% if form.file.vars.valid == false %}
                                                        <div class="form-control-feedback"> {{ form_errors(form.file) }}</div>

                                                    {% endif %}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                        Close
                                                    </button>&emsp;
                                                    <button type="submit" class="btn btn-primary">
                                                        {{ 'form.save' | trans }}
                                                    </button>
                                                </div>
                                                {{ form_end(form) }}
                                                <!--end::Form-->
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Modal-->
                                    {#<div id="m_tree_1" class="tree-demo jstree jstree-1 jstree-default" role="tree"#}
                                         {#aria-multiselectable="true" tabindex="0" aria-activedescendant="j1_8"#}
                                         {#aria-busy="false">#}

                                                {#<ul role="group" class="jstree-children">#}
                                                    {#{% for plan_file in plan.files %}#}
                                                    {#{% set file = plan_file %}#}
                                                    {#<li role="treeitem"#}
                                                        {#aria-selected="false" aria-level="2"#}
                                                        {#aria-labelledby="j1_2_anchor" id="j1_2"#}
                                                        {#class="jstree-node  jstree-leaf"><i#}
                                                                {#class="jstree-icon jstree-ocl"#}
                                                                {#role="presentation"></i>#}
                                                                    {#<a class="jstree-anchor"#}
                                                                                           {#href="{{ file.url }}"#}
                                                                                           {#target="_blank"><i#}
                                                                    {#class="jstree-icon jstree-themeicon {{ file.icon }} jstree-themeicon-custom"#}
                                                                    {#role="presentation"></i>#}
                                                            {#<b> {{ file.name }}</b>#}
                                                        {#</a>#}
                                                        {#&emsp;  &emsp;#}
                                                        {#<a style="color: #f4516c !important;"#}
                                                         {#href="{{ path('doctor_clinic_user_dental_record_delete_file', {'id' : user.uuid, 'detal_record_id' : plan.id, 'file_id' : file.id }) }}"#}
                                                           {#<i  class="la la-trash"></i>#}

                                                        {#</a>#}


                                                    {#</li>#}

                                                    {#{% endfor %}#}
                                                        {#</ul>#}
                                                    {#</li>#}

                                                {#</ul>#}
                                    {#</div>#}

                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_javascripts %}
    <script>

        jQuery(document).ready(function() {



        });
    </script>
{% endblock %}
