{% extends 'layouts/doctor.html.twig' %}


{% block main_content %}

    <div class="col-xl-12 col-lg-12">
        <div class="m-portlet m-portlet--tabs {%  if user.enabled ==false %} m-portlet--danger {% else %} m-portlet--success {% endif %}  m-portlet--head-solid-bg m-portlet--bordered">

            {% include 'doctor/clinic/user/user-tab.html.twig' with {'active': 'dental-record'} %}
            <div class="m-portlet__body">
                <div class="tab-content">

                    {% include 'doctor/clinic/user/dental-record/user-dental-record-list.html.twig'%}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_javascripts %}
    <script>

        jQuery(document).ready(function() {



        });
    </script>
{% endblock %}
