{% extends 'BaseBundle:metronic/zones/admin:header.html.twig' %}

{% block logo %}

    {% embed 'BaseBundle:metronic:pieces/header/logo.html.twig' %}
        {% block logo_header %}
            {{ asset('@bundles/base/admin/layout/img/logo.png') }}

        {% endblock %}
    {% endembed %}
{% endblock %}

{% block responsive_menu_toggler %}
    {% embed 'BaseBundle:metronic:pieces/header/responsive_menu_toggler.html.twig' %}{% endembed %}
{% endblock %}

{% block user_login_dropdown %}
    {% embed 'BaseBundle:metronic:pieces/header/user_login_dropdown.html.twig' %}
        {% block username %}
            {{ app.user.username }}
        {% endblock %}

        {% block dropdown_menu %}

                <li>
                    <a href="extra_profile.html">
                        <i class="icon-user"></i> My Profile </a>
                </li>
                <li>
                    <a href="page_calendar.html">
                        <i class="icon-calendar"></i> My Calendar </a>
                </li>
                <li>
                    <a href="inbox.html">
                        <i class="icon-envelope-open"></i> My Inbox <span class="badge badge-danger">
							3 </span>
                    </a>
                </li>
                <li>
                    <a href="page_todo.html">
                        <i class="icon-rocket"></i> My Tasks <span class="badge badge-success">
							7 </span>
                    </a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="extra_lock.html">
                        <i class="icon-lock"></i> Lock Screen </a>
                </li>
                <li>
                    <a href="{{ path('security_logout') }}">
                        <i class="icon-key"></i> Log Out </a>
                </li>

        {% endblock %}
    {% endembed %}
{% endblock %}
