{% extends 'BaseBundle:metronic:zones/admin/sidebar.html.twig' %}

{% block sidebar_toggler %}
    {% embed 'BaseBundle:metronic:pieces/sidebar/sidebar_toggler.html.twig' %}{% endembed %}
{% endblock %}

{% block sidebar_tabs %}
as
{% endblock %}
