{# src/Ruudy/MetronicBundle/Resources/views/metronic/zones/head.html.twig #}
<meta charset="utf-8"/>
<title>{% block title %}Admin Dashboard Template{% endblock %}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>

{% block stylesheets %}
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="{{ asset('bundles/base/global/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/base/global/plugins/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/base/global/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/base/global/plugins/uniform/css/uniform.default.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/base/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    {% block page_level_plugin_stylesheets %}{% endblock %}
    <!-- END PAGE LEVEL PLUGIN STYLES -->

    <!-- BEGIN PAGE STYLES -->
    {% block page_stylesheets %}{% endblock %}
    <!-- END PAGE STYLES -->

    <!-- BEGIN THEME STYLES -->
    <link href="{{ asset('bundles/base/admin/pages/css/tasks.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/base/global/css/components.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/base/global/css/plugins.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/base/admin/layout/css/layout.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/base/admin/layout/css/themes/darkblue.css') }}" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="{{ asset('bundles/base/admin/layout/css/custom.css') }}" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->

    <!-- BEGIN OWN STYKES -->
    {#<link href="{{ asset('bundles/base/global/css/own.css') }}" rel="stylesheet" type="text/css"/>#}
    <!-- BEGIN OWN STYKES -->

{% endblock %}
