{# src/Ruudy/MetronicBundle/Resources/views/metronic/Zones/javascripts.html.twig #}
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/base/global/plugins/respond.min.js') }}"></script>
    <script src="{{ asset('bundles/base/global/plugins/excanvas.min.js') }}"></script>
    <![endif]-->
    <script src="{{ asset('bundles/base/global/plugins/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/base/global/plugins/jquery-migrate.min.js') }}"></script>
    <!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="{{ asset('bundles/base/global/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/base/global/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/base/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js') }}"></script>
    <script src="{{ asset('bundles/base/global/plugins/jquery-slimscroll/jquery.slimscroll.js') }}"></script>
    <script src="{{ asset('bundles/base/global/plugins/jquery.blockui.min.js') }}"></script>
    <script src="{{ asset('bundles/base/global/plugins/jquery.cokie.min.js') }}"></script>
    <script src="{{ asset('bundles/base/global/plugins/uniform/jquery.uniform.min.js') }}"></script>
    <script src="{{ asset('bundles/base/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}"></script>
    <!-- END CORE PLUGINS -->


<script src="{{ asset('bundles/base/global/scripts/metronic.js') }}"></script>
<script src="{{ asset('bundles/base/admin/layout/scripts/layout.js') }}"></script>
<script src="{{ asset('bundles/base/admin/layout/scripts/quick-sidebar.js') }}"></script>
<script src="{{ asset('bundles/base/admin/layout/scripts/demo.js') }}"></script>
<script src="{{ asset('bundles/base/admin/pages/scripts/index.js') }}"></script>
<script src="{{ asset('bundles/base/admin/pages/scripts/tasks.js') }}"></script>
<script>
    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core componets
        Layout.init(); // init layout
        QuickSidebar.init(); // init quick sidebar
        Demo.init(); // init demo features
        Index.init();
        Index.initDashboardDaterange();
        Index.initJQVMAP(); // init index page's custom scripts
        Index.initCalendar(); // init index page's custom scripts
        Index.initCharts(); // init index page's custom scripts
        Index.initChat();
        Index.initMiniCharts();
        Tasks.initDashboardWidget();
    });
</script>
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    {% block page_level_plugin_javascripts %}{% endblock %}
    <!-- END PAGE LEVEL PLUGINS -->

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    {% block page_level_javascripts %}{% endblock %}
    <!-- END PAGE LEVEL SCRIPTS -->

    {% block init_javascripts %}{% endblock %}

    {% block packages_javascripts %}{% endblock %}

<!-- END JAVASCRIPTS -->
