{% extends 'layouts/admin.html.twig' %}


{% block main_content %}
	<div class="col-xl-12 col-lg-12">
		<div class="m-portlet m-portlet--full-height m-portlet--tabs  ">

			<div class="tab-content">
				<div class="tab-pane active" id="m_user_profile_tab_1">
					<div class="m-portlet__body">
						<div class="row m-row--no-padding">
							<div class="col-md-12 col-lg-6 col-xl-6">
								<div class="form-group m-form__group row">
									<div class="col-12 ml-auto">
										<h3 class="m-form__section">
                                            {% trans %} form.users {% endtrans %}
										</h3>
									</div>
								</div>
                                {{ form_start(form, {attr: {class: 'm-form',novalidate: 'novalidate'} }) }}

								<div class="form-group m-form__group row m-row--no-padding  {% if form.users.vars.valid == false %} has-danger {% endif %}'">
									<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
                                        {{ form_label(form.users) }}
									</label>
									<div class="col-lg-9 col-md-9 col-sm-9">

                                        {{ form_widget(form.users, {attr: {class: 'form-control m-input select2',placeholder:'clinic.label.users'} }) }}
                                        {% if form.users.vars.valid == false %}
											<div class="form-control-feedback"> {{ form_errors(form.users) }}</div>

                                        {% endif %}
									</div>
								</div>




							</div>


						</div>
					</div>

				</div>

			</div>

			<div class="m-portlet__head">

				<div class="m-portlet__head-tools">
					<div class="m-portlet__foot m-portlet__foot--fit">
						<div class="m-form__actions m-form__actions"><br/>
							<button type="submit" class="btn btn-primary">
                                {{ 'form.save' | trans }}
							</button>
							<button type="reset" class="btn btn-secondary">
                                {{ 'form.cancel' | trans }}
							</button>
						</div>
					</div>


				</div>
			</div>
            {{ form_end(form) }}

		</div>
	</div>

{% endblock %}

{% block custom_javascripts %}
	<script>
        jQuery(document).ready(function() {

            $(".select2").select2();

            // phone number format
            $("#clinic_form_phone").inputmask("mask", {
                "mask": "(99) 9999-9999"
            });
            $("#clinic_form_cell_phone").inputmask({mask: ['(99) 9999-9999', '(99) 99999-9999']});

            $("#clinic_form_cnpj").inputmask("99.999.999/9999-99");
            $("#clinic_form_zip_code").inputmask("99999-999",{
                autoUnmask: true
            });
        });
	</script>
{% endblock %}