<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->
<head>
    {% block head %}{% endblock %}
</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
    <!-- begin:: Page -->
	<div class="m-grid m-grid--hor m-grid--root m-page">
        <!-- BEGIN HEADER -->
        {% block header %}{% endblock %}
        <!-- END HEADER -->
        {% block root_content %}
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
                             

                <!-- BEGIN CONTENT -->
                {% block content %}{% endblock %}
                <!-- END CONTENT -->
                
            </div>
        {% endblock %}

        <!-- BEGIN FOOTER -->
        {% block footer %}{% endblock %}
        <!-- END FOOTER -->
    </div>


<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
{% block javascripts %}{% endblock %}

{% block custom_javascripts %}{% endblock %}
<!-- END JAVASCRIPTS -->

</body>
<!-- END BODY -->

</html>
