

<div class="m-portlet__head">
    <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">

            <h3 class="m-portlet__head-text">

                {{ clinic.fantasia }} - {{ clinic.razao }}
            </h3>
        </div>
    </div>

    <div class="m-portlet__head-tools">
        <ul class="nav nav-tabs m-tabs-line m-tabs-line--right" role="tablist">
            <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link {% if active == 'info' %} active {% endif %}"
                   href="{{ path('admin_clinic_show', {'id': clinic.id}) }}">

                        <i class="m-menu__link-icon flaticon-layers"></i>

                    {{ 'clinical.user.tab.datail'|trans }}
                </a>
            </li>
            <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link {% if active == 'users' %} active {% endif %}"
                   href="{{ path('admin_clinic_user_list', {'id': clinic.id}) }}">

                    <i class="m-menu__link-icon flaticon-users"></i>

                    {{ 'form.users'|trans }}
                </a>
            </li>

        </ul>


    </div>

    <div class="m-portlet__head-tools">

        <div class="m-btn-group m-btn-group--pill btn-group mr-2" role="group" aria-label="...">
            <a href="{{ path('admin_clinic_edit', {'id': clinic.id}) }}" class="m-btn btn btn-outline-light">
                <i class="la la-file-text-o"></i>
            </a>
        </div>


    </div>



</div>

