<div class="form-group m-form__group row {% if form.fantasia.vars.valid == false %} has-danger {% endif %}">
	<div class="col-lg-6">
		<label>
            {{ form_label(form.fantasia) }} *
		</label>
        {{ form_widget(form.fantasia, {attr: {class: 'form-control m-input',placeholder:'clinic.label.fantasia'} }) }}
        {% if form.fantasia.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.fantasia) }}</div>

        {% endif %}

	</div>
	<div class="col-lg-6">
		<label class="">
            {{ form_label(form.razao) }} *
		</label>
        {{ form_widget(form.razao, {attr: {class: 'form-control m-input',placeholder:'clinic.label.razao'} }) }}
        {% if form.razao.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.razao) }}</div>

        {% endif %}
	</div>
</div>


<div class="form-group m-form__group row {% if form.ie.vars.valid == false %} has-danger {% endif %}">
	<div class="col-lg-6">
		<label>
            {{ form_label(form.ie) }} *
		</label>
        {{ form_widget(form.ie, {attr: {class: 'form-control m-input',placeholder:'clinic.label.ie'} }) }}
        {% if form.ie.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.ie) }}</div>

        {% endif %}

	</div>
	<div class="col-lg-6">
		<label class="">
            {{ form_label(form.cnpj) }} *
		</label>
        {{ form_widget(form.cnpj, {attr: {class: 'form-control m-input',placeholder:'clinic.label.cnpj'} }) }}
        {% if form.cnpj.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.cnpj) }}</div>

        {% endif %}
	</div>
</div>

<div class="form-group m-form__group row {% if form.phone.vars.valid == false %} has-danger {% endif %}">
	<div class="col-lg-6">
		<label>
            {{ form_label(form.phone) }}
		</label>
        {{ form_widget(form.phone, {attr: {class: 'form-control m-input',placeholder:'user.label.phone'} }) }}
        {% if form.phone.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.phone) }}</div>

        {% endif %}

	</div>
	<div class="col-lg-6">
		<label class="">
            {{ form_label(form.cell_phone) }}
		</label>
        {{ form_widget(form.cell_phone, {attr: {class: 'form-control m-input',placeholder:'user.label.cell_phone'} }) }}
        {% if form.cell_phone.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.cell_phone) }}</div>

        {% endif %}
	</div>
</div>

<div class="form-group m-form__group row {% if form.address.vars.valid == false %} has-danger {% endif %}">
	<div class="col-lg-6">
		<label>
            {{ form_label(form.address) }}
		</label>
        {{ form_widget(form.address, {attr: {class: 'form-control m-input',placeholder:'clinic.label.address'} }) }}
        {% if form.address.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.address) }}</div>

        {% endif %}

	</div>
	<div class="col-lg-6">
		<label class="">
            {{ form_label(form.city) }}
		</label>
        {{ form_widget(form.city, {attr: {class: 'form-control m-input',placeholder:'clinic.label.city'} }) }}
        {% if form.city.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.city) }}</div>

        {% endif %}
	</div>
</div>

<div class="form-group m-form__group row {% if form.zip_code.vars.valid == false %} has-danger {% endif %}">
	<div class="col-lg-6">
		<label class="">
            {{ form_label(form.neighborhood) }}
		</label>
        {{ form_widget(form.neighborhood, {attr: {class: 'form-control m-input',placeholder:'clinic.label.neighborhood'} }) }}
        {% if form.neighborhood.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.neighborhood) }}</div>

        {% endif %}
	</div>

	<div class="col-lg-3">
		<label>
            {{ form_label(form.zip_code) }}
		</label>
        {{ form_widget(form.zip_code, {attr: {class: 'form-control m-input',placeholder:'clinic.label.zip_code'} }) }}
        {% if form.zip_code.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.zip_code) }}</div>

        {% endif %}

	</div>

	<div class="col-lg-3">
		<label>
            {{ form_label(form.number) }}
		</label>
        {{ form_widget(form.number, {attr: {class: 'form-control m-input',placeholder:'clinic.label.number'} }) }}
        {% if form.number.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.number) }}</div>

        {% endif %}

	</div>

</div>


