
<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
    <div class="m-demo__preview">

        <table class="table table-hover">
            <thead>

            <tr>
                <th>
                    {{ 'clinic.label.fantasia'|trans }}
                </th>
                <th>
                    {{ clinic.fantasia |e  }}
                </th>

            </tr>

            <tr>
                <th>
                    {{ 'clinic.label.razao'|trans }}
                </th>
                <th>
                    {{ clinic.razao|e   }}
                </th>

            </tr>

            <tr>
                <th>
                    {{ 'clinic.label.ie'|trans }}
                </th>
                <th>
                    {{ clinic.ie|e   }}
                </th>

            </tr>

            <tr>
                <th>
                    {{ 'clinic.label.cnpj'|trans }}
                </th>
                <th>
                    {{ clinic.cnpj|e   }}
                </th>

            </tr>

            <tr>
                <th>
                    {{ 'clinic.label.address'|trans }}
                </th>
                <th>
                    {{ clinic.address|e   }}
                </th>

            </tr>

            <tr>
                <th>
                    {{ 'clinic.label.neighborhood'|trans }}
                </th>
                <th>
                    {{ clinic.neighborhood|e   }}
                </th>

            </tr>

            <tr>
                <th>
                    {{ 'clinic.label.zip_code'|trans }}
                </th>
                <th>
                    {{ clinic.zipCode|e   }}
                </th>

            </tr>

            <tr>
                <th>
                    {{ 'clinic.label.number'|trans }}
                </th>
                <th>
                    {{ clinic.number|e   }}
                </th>

            </tr>


            <tr>
                <th>
                    {{ 'clinic.label.city'|trans }}
                </th>
                <th>
                    {% if clinic.city.id is defined %}
                    {{ clinic.city.name }} -  {{ clinic.city.uf }}
                    {% endif %}
                </th>

            </tr>


            <tr>
                <th>
                    {{ 'clinic.label.phone'|trans }}
                </th>
                <th>
                    {{ clinic.phone|e   }}
                </th>

            </tr>

            <tr>
                <th>
                    {{ 'clinic.label.cell_phone'|trans }}
                </th>
                <th>
                    {{ clinic.cellPhone|e   }}
                </th>

            </tr>

            <tr>
                <th>
                    {{ 'clinic.label.createdAt'|trans }}
                </th>
                <th>
                    {{ clinic.createdAt|date('d/m/Y') }}
                </th>

            </tr>

            <tr>
                <th>
                    {{ 'clinic.label.updatedAt'|trans }}
                </th>
                <th>
                    {{ clinic.updatedAt|date('d/m/Y') }}
                </th>

            </tr>

            </thead>


        </table>


    </div>
</div>
