
{% if clinic.settings is defined and clinic.settings.id is not null %}

	{% set settings = clinic.settings %}
<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
	<div class="m-demo__preview">
		<div class="m-list-search">
			<div class="m-list-search__results">

						<span class="m-list-search__result-category" style="margin: 0px 0px 0px 0px">
																	Acesso
																</span>



			</div>
			<br>
		</div>
		<table class="table table-hover">
			<thead>

			<tr>
				<th>
                   Domain
				</th>
				<th>
                    {{ settings.domain |e  }}
				</th>

			</tr>

			<tr>
				<th>
                    Port
				</th>
				<th>
                    {{ settings.port |e  }}
				</th>

			</tr>

			<tr>
				<th>
                    Logotipo
				</th>
				<th>


					<span class="m-list-search__result-item-pic">
								{% if  settings.logo is defined and  settings.logo.url is defined and settings.logo.url is not null %}
									<img class="m--img-rounded"
										 src="{{ settings.logo.url }}"
										 title="{{ settings.name }}>"
                                {%  endif %}
							</span>
				</th>

			</tr>

			<tr>
				<th>
                    Title
				</th>
				<th>
                    {{ settings.name|e   }}
				</th>

			</tr>

			<tr>
				<th>
                    Language
				</th>
				<th>
                    {{ settings.locale|e   }}
				</th>

			</tr>



			</thead>


		</table>


	</div>
</div>
{% endif %}
