<div class="form-group m-form__group row">
	<div class="col-lg-4">
		<label>
            {{ form_label(form.settings.name) }} *
		</label>
        {{ form_widget(form.settings.name, {attr: {class: 'form-control m-input',placeholder:'clinic.label.settings.name'} }) }}
        {% if form.settings.name.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.settings.name) }}</div>

        {% endif %}

	</div>

	<div class="col-lg-4">
		<label>
            {{ form_label(form.settings.domain) }} *
		</label>
        {{ form_widget(form.settings.domain, {attr: {class: 'form-control m-input',placeholder:'clinic.label.settings.domain'} }) }}
        {% if form.settings.domain.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.settings.domain) }}</div>

        {% endif %}

	</div>

	<div class="col-lg-4">
		<label>
            {{ form_label(form.settings.port) }} *
		</label>
        {{ form_widget(form.settings.port, {attr: {class: 'form-control m-input',placeholder:'clinic.label.settings.port'} }) }}
        {% if form.settings.port.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.settings.port) }}</div>

        {% endif %}

	</div>
</div>


<div class="form-group m-form__group  row">
	<div class="col-lg-4">
		<label>
            {{ form_label(form.settings.locale) }} *
		</label>
        {{ form_widget(form.settings.locale, {attr: {class: 'form-control m-input'}}) }}
        {% if form.settings.locale.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.settings.locale) }}</div>

        {% endif %}

	</div>

	<div class="col-lg-8">
		<label>
            {{ form_label(form.settings.logo) }} *
		</label>
        {{ form_widget(form.settings.logo, {attr: {class: 'form-control m-input'} }) }}
        {% if form.settings.locale.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.settings.logo) }}</div>

        {% endif %}


	</div>

</div>

<div class="form-group m-form__group  row">
	<div class="col-lg-2">&emsp;</div>
	<div class="col-lg-10">
        {% if clinic is defined and clinic.settings is defined and  clinic.settings.logo is defined and clinic.settings.logo and clinic.settings.logo.url %}
			<div class="m-stack__item m-stack__item--middle m-brand__logo">
				<img src="{{clinic.settings.logo.url}}" alt="{{clinic.settings.domain}}">
			</div>
        {% endif %}

	</div>

</div>

