{% extends 'layouts/admin.html.twig' %}


{% block main_content %}

    <div class="col-xl-12 col-lg-12">
        <div class="m-portlet m-portlet--tabs {%  if clinic.enabled == false %} m-portlet--danger {% else %} m-portlet--success {% endif %}  m-portlet--head-solid-bg m-portlet--bordered">

            {% include 'admin/clinic/clinic-tab.html.twig' with {'active': 'info'} %}
            <div class="m-portlet__body">

                    <div class="tab-pane active" id="m_user_profile_tab_2">


                        <div class="m-portlet__body">
                            <div class="row m-row--no-padding">
                                <div class="col-md-12 col-lg-6 col-xl-6">

                                    <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-12 ml-auto">
                                            <h3 class="m-form__section">
                                                {{ 'form.clinic.information'| trans  }}
                                            </h3>
                                        </div>
                                    </div>


                                    {% include 'admin/clinic/info-clinic.html.twig' %}


                                </div>
                                <div class="col-md-12 col-lg-1 col-xl-1"></div>
                                <div class="col-md-12 col-lg-4 col-xl-4">

                                    <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-12 ml-auto">
                                            <h3 class="m-form__section">
                                                &emsp;
                                            </h3>
                                        </div>
                                    </div>

                                        {% include 'admin/clinic/info-clinic-users.html.twig' %}

                                    {% include 'admin/clinic/info-clinic-settings.html.twig' %}
                                </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}