
{% extends 'layouts/doctor.html.twig' %}

{% block main_content %}

    <div class="row">

        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1"
                                   role="tab">
                                    <i class="flaticon-share m--hide"></i>
                                    {% trans %} profile.quick_actions.change_password {% endtrans %} -  {{ user.fullName }}
                                </a>
                            </li>


                        </ul>
                    </div>

                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="m_user_profile_tab_1">
                        <div class="m-portlet__body">
                            <div class="row m-row--no-padding">
                                <div class="col-md-12 col-lg-12 col-xl-12">


                                    {{ form_start(form, { 'action': path('doctor_clinic_user_profile_change_password', {'id': user.uuid}), 'attr': { 'class': 'm-form' } }) }}
                                    <input type="hidden" name="_csrf_token"
                                           value="{{ csrf_token('authenticate') }}"
                                    >
                                    <div class="m-portlet__body">


                                        <div class="form-group m-form__group row  {% if form.plainPassword.first.vars.valid == false %} has-danger {% endif %}'">
                                            <label class="col-form-label col-lg-3 col-md-3 col-sm-3">
                                                {{ form_label(form.plainPassword.first) }} *
                                            </label>
                                            <label class="col-form-label col-lg-6 col-md-6 col-sm-6">
                                                {{ form_widget(form.plainPassword.first, {attr: {class: 'form-control m-input'} }) }}

                                            </label>

                                            <div class="col-lg-6 col-md-6 col-sm-6">

                                                {% if form.plainPassword.first.vars.valid == false %}
                                                    <div class="form-control-feedback"> {{ form_errors(form.plainPassword.first) }}</div>

                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="form-group m-form__group row  {% if form.plainPassword.second.vars.valid == false %} has-danger {% endif %}'">
                                            <label class="col-form-label col-lg-3 col-md-3 col-sm-3">
                                                {{ form_label(form.plainPassword.second) }} *
                                            </label>
                                            <label class="col-form-label col-lg-6 col-md-6 col-sm-6">
                                                {{ form_widget(form.plainPassword.second, {attr: {class: 'form-control m-input'} }) }}

                                            </label>

                                            <div class="col-lg-6 col-md-6 col-sm-6">

                                                {% if form.plainPassword.second.vars.valid == false %}
                                                    <div class="form-control-feedback"> {{ form_errors(form.plainPassword.second) }}</div>

                                                {% endif %}
                                            </div>
                                        </div>




                                    </div>
                                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                                        <div class="m-form__actions m-form__actions--solid">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <button type="submit" class="btn btn-primary">
                                                        {{ 'form.change_password' | trans }}
                                                    </button>&emsp;
                                                    <a  href="{{ path('admin_user_info', {'id': user.uuid}) }}" class="btn btn-secondary">

                                                        {% trans %} form.cancel {% endtrans %}

                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    {{ form_end(form) }}

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
{% endblock %}