<div class="form-group m-form__group row m-row--no-padding  {% if form.fantasia.vars.valid == false %} has-danger {% endif %}'">
	<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
        {{ form_label(form.fantasia) }} *
	</label>
	<div class="col-lg-9 col-md-9 col-sm-9">

        {{ form_widget(form.fantasia, {attr: {class: 'form-control m-input',placeholder:'clinic.label.fantasia'} }) }}
        {% if form.fantasia.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.fantasia) }}</div>

        {% endif %}
	</div>
</div>

<div class="form-group m-form__group row m-row--no-padding {% if form.razao.vars.valid == false %} has-danger {% endif %}'">
	<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
        {{ form_label(form.razao) }}
	</label>
	<div class="col-lg-9 col-md-9 col-sm-9">

        {{ form_widget(form.razao, {attr: {class: 'form-control m-input',placeholder:'clinic.label.razao'} }) }}
        {% if form.razao.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.razao) }}</div>

        {% endif %}
	</div>
</div>


<div class="form-group m-form__group row m-row--no-padding  {% if form.ie.vars.valid == false %} has-danger {% endif %}'">
	<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
        {{ form_label(form.ie) }}
	</label>
	<div class="col-lg-9 col-md-9 col-sm-9">

        {{ form_widget(form.ie, {attr: {class: 'form-control m-input',placeholder:'clinic.label.ie'} }) }}
        {% if form.ie.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.ie) }}</div>

        {% endif %}
	</div>
</div>

<div class="form-group m-form__group row m-row--no-padding  {% if form.cnpj.vars.valid == false %} has-danger {% endif %}'">
	<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
        {{ form_label(form.cnpj) }}
	</label>
	<div class="col-lg-9 col-md-9 col-sm-9">

        {{ form_widget(form.cnpj, {attr: {class: 'form-control m-input',placeholder:'clinic.label.cnpj'} }) }}
        {% if form.cnpj.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.cnpj) }}</div>

        {% endif %}
	</div>
</div>

<div class="form-group m-form__group row m-row--no-padding  {% if form.owner.vars.valid == false %} has-danger {% endif %}'">
	<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
        {{ form_label(form.owner) }}
	</label>
	<div class="col-lg-9 col-md-9 col-sm-9">

        {{ form_widget(form.owner, {attr: {class: 'form-control m-input select2',placeholder:'clinic.label.owner'} }) }}
        {% if form.owner.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.owner) }}</div>

        {% endif %}
	</div>
</div>



<div class="form-group m-form__group row m-row--no-padding  {% if form.phone.vars.valid == false %} has-danger {% endif %}'">
	<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
        {{ form_label(form.phone) }}
	</label>
	<div class="col-lg-9 col-md-9 col-sm-9">

        {{ form_widget(form.phone, {attr: {class: 'form-control m-input',placeholder:'clinic.label.phone'} }) }}
        {% if form.phone.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.phone) }}</div>

        {% endif %}
	</div>
</div>


<div class="form-group m-form__group row m-row--no-padding  {% if form.cell_phone.vars.valid == false %} has-danger {% endif %}'">
	<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
        {{ form_label(form.cell_phone) }}
	</label>
	<div class="col-lg-9 col-md-9 col-sm-9">

        {{ form_widget(form.cell_phone, {attr: {class: 'form-control m-input',placeholder:'clinic.label.cell_phone'} }) }}
        {% if form.cell_phone.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.cell_phone) }}</div>

        {% endif %}
	</div>
</div>

<div class="form-group m-form__group row m-row--no-padding  {% if form.address.vars.valid == false %} has-danger {% endif %}'">
	<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
        {{ form_label(form.address) }}
	</label>
	<div class="col-lg-9 col-md-9 col-sm-9">

        {{ form_widget(form.address, {attr: {class: 'form-control m-input',placeholder:'clinic.label.address'} }) }}
        {% if form.address.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.address) }}</div>

        {% endif %}
	</div>
</div>

<div class="form-group m-form__group row m-row--no-padding  {% if form.city.vars.valid == false %} has-danger {% endif %}'">
	<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
        {{ form_label(form.city) }}
	</label>
	<div class="col-lg-9 col-md-9 col-sm-9">

        {{ form_widget(form.city, {attr: {class: 'form-control m-input select2',placeholder:'clinic.label.city'} }) }}
        {% if form.city.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.city) }}</div>

        {% endif %}
	</div>
</div>

<div class="form-group m-form__group row m-row--no-padding  {% if form.zip_code.vars.valid == false %} has-danger {% endif %}'">
	<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
        {{ form_label(form.zip_code) }}
	</label>
	<div class="col-lg-9 col-md-9 col-sm-9">

        {{ form_widget(form.zip_code, {attr: {class: 'form-control m-input',placeholder:'clinic.label.zip_code'} }) }}
        {% if form.zip_code.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.zip_code) }}</div>

        {% endif %}
	</div>
</div>

<div class="form-group m-form__group row m-row--no-padding  {% if form.neighborhood.vars.valid == false %} has-danger {% endif %}'">
	<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
        {{ form_label(form.neighborhood) }}
	</label>
	<div class="col-lg-9 col-md-9 col-sm-9">

        {{ form_widget(form.neighborhood, {attr: {class: 'form-control m-input',placeholder:'clinic.label.neighborhood'} }) }}
        {% if form.neighborhood.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.neighborhood) }}</div>

        {% endif %}
	</div>
</div>

<div class="form-group m-form__group row m-row--no-padding  {% if form.number.vars.valid == false %} has-danger {% endif %}'">
	<label class="col-form-label col-lg-3 col-md-3 col-sm-3">
        {{ form_label(form.number) }}
	</label>
	<div class="col-lg-9 col-md-9 col-sm-9">

        {{ form_widget(form.number, {attr: {class: 'form-control m-input',placeholder:'clinic.label.number'} }) }}
        {% if form.number.vars.valid == false %}
			<div class="form-control-feedback"> {{ form_errors(form.number) }}</div>

        {% endif %}
	</div>
</div>




