

            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">

                        <h3 class="m-portlet__head-text">
                            {% if  user.hasPhoto %}
                                <span class="m-topbar__userpic">


                                <img src="{{user.photo.url}}" class="m--img-rounded m--marginless m--img-centered" alt="{{user.fullName}}" width="10%">

                            </span>
                            {% endif %}

                            {{ user.name }}({{ user.username }})
                        </h3>
                    </div>
                </div>



                <div class="m-portlet__head-tools">
                    <ul class="nav nav-tabs m-tabs-line m-tabs-line--right" role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link {% if active == 'info' %} active {% endif %}"
                               href="{{ path('doctor_clinic_user_profile_info', {'id': user.uuid}) }}">
                                {%  if user.enabled %}
                                    <i class="flaticon-user-ok"></i>
                                {% else %}
                                    <i class="la la-user-times"></i>
                                {% endif %}
                                {{ 'clinical.user.tab.datail'|trans }}
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link {% if active == 'quote' %} active {% endif %}"
                               href="{{ path('doctor_clinic_user_profile_quote', {'id': user.uuid}) }}">
                                <i class="flaticon-cogwheel-2"></i>
                                {{ 'clinical.user.tab.quote'|trans }}
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link {% if active == 'dental-record' %} active {% endif %}"
                               href="{{ path('doctor_clinic_user_dental_record', {'id': user.uuid}) }}">
                                <i class="la la-stethoscope"></i>
                                {{ 'clinical.user.tab.dental_record'|trans }}
                            </a>
                        </li>

                        {% if active == 'dental-record-show' %}
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link {% if active == 'dental-record-show' %} active {% endif %}"
                               href="#">
                                <i class="la la-reorder"></i>
                                Detalhes
                            </a>
                        </li>
                        {% endif %}

                    </ul>
                </div>


                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item m-portlet__nav-item--last">
                            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                                 data-dropdown-toggle="hover" aria-expanded="true">
                                <a href="#"
                                   class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                                    <i class="la la-gear"></i>
                                </a>
                                <div class="m-dropdown__wrapper">
                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"
                                      style="left: auto; right: 21.5px;"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav">
                                                    <li class="m-nav__section m-nav__section--first">
													<span class="m-nav__section-text">
                                                       	{% trans %}profile.quick_actions{% endtrans %}
													</span>
                                                    </li>

                                                    <li class="m-nav__item">
                                                        <a href="{{ path('doctor_clinic_user_profile_edit', {'id': user.uuid}) }}" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                            <span class="m-nav__link-text">
															{% trans %} profile.quick_actions.edit_profile{% endtrans %}
														</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="{{ path('doctor_clinic_user_profile_change_password', {'id': user.uuid}) }}" class="m-nav__link">
                                                            <i class="m-nav__link-icon m-menu__link-icon flaticon-lifebuoy"></i>
                                                            <span class="m-nav__link-text">
															{% trans %} profile.quick_actions.change_password {% endtrans %}												</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="{{ path('doctor_clinic_user_profile_change_photo', {'id': user.uuid}) }}" class="m-nav__link">
                                                            <i class="m-nav__link-icon la la-camera-retro"></i>
                                                            <span class="m-nav__link-text">
															{% trans %}  profile.quick_actions.change_photo {% endtrans %}
														</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>


            </div>

