{% extends 'layouts/login/main.html.twig' %}


{% block root_content %}
    <div class="m-grid__item m-grid__item--fluid m-grid  m-error-1"
         style="background-image: url(../../../assets/app/media/img//error/bg1.jpg);">
            <div class="m-error_container">
                        <span class="m-error_number">
                            <h1>
                                {{ status_code }}
                            </h1>
                        </span>
                <p class="m-error_desc">
                    <div class="m-error_container">
                        <span class="m-error_title">
                            <h2 style="margin-left: 70px; color: #6587C6;">
                                {{ exception.title | trans }}
                            </h2>
                        </span>

                    <p class="m-error_description" style="margin-left: 10px; font-size: 29px; font-weight: 500;color:black;">
                    {{ exception.message|trans }}   "{{ status_code }}   {{ status_text|trans }}".
                    </p>
            </div>
        </div>
    </div>
{% endblock %}