{% extends 'layouts/login/main.html.twig' %}


{% block root_content %}
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--singin" id="m_login">
        <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
            <div class="m-stack m-stack--hor m-stack--desktop">
                <div class="m-stack__item m-stack__item--fluid">
                    <div class="m-login__wrapper">
                        <div class="m-login__logo">

                            <img src="{{app.session.get('app.site_logo') }}">

                        </div>
                        <div class="m-login__signin">
                            <div class="m-login__head">
                                <h3 class="m-login__title">
                                    {{app.session.get('app.site_name') }}
                                </h3>
                                {% if error %}
                                    <div class="alert alert-danger">
                                        {{ error.messageKey|trans(error.messageData, 'security') }}
                                    </div>
                                {% endif %}

                            </div>
                            <form class="m-login__form m-form" action="{{ path('security_login') }}" method="post">

                                <div class="form-group m-form__group">
                                    <input type="text" id="username" placeholder="Email"  name="_username" value="{{ last_username }}" class="form-control  m-input"/>

                                </div>
                                <div class="form-group m-form__group">
                                    <input type="password" placeholder="Password" id="password" name="_password" class="form-control m-input m-login__form-input--last" />

                                </div>
                                <div class="row m-login__form-sub">


                                    <div class="col m--align-left">
                                        <label class="m-checkbox m-checkbox--focus">
                                            <input type="checkbox" id="remember_me" name="_remember_me" checked>
                                            {% trans %}Remember{% endtrans %}
                                            <span></span>
                                        </label>

                                    </div>
                                    <div class="col m--align-right">


                                        <button id="m_login_signin" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                                            Login
                                        </button>

                                    </div>

                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
            <div class="m-stack m-stack--hor m-stack--desktop">
                <div class="m-stack__item m-stack__item--fluid">
                    <div class="m-login__wrapper">
                        <div class="m-login__logo">

                        </div>


                        <div class="m-login__signin">
                            <div class="m-login__head">
                                <h3 class="m-login__title">
                                    {% trans %}Forgotten Password{% endtrans %}?
                                </h3>
                                <div class="m-login__desc">
                                    {% trans %}Enter your email to reset your password{% endtrans %}:
                                </div>
                                {% if error %}
                                    <div class="alert alert-danger">
                                        {{ error.messageKey|trans(error.messageData, 'security') }}
                                    </div>
                                {% endif %}
                            </div>



                            <form class="m-login__form m-form" action="{{ path('fos_user_resetting_send_email') }}" method="post">
                                <div class="col m--align-left">
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input" type="text" placeholder="Email" name="username" id="username" autocomplete="off">
                                    </div>

                                </div>
                                <div class="col m--align-right">


                                    <div class="m-login__form-action">
                                        <button id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                                            {% trans %}Request{% endtrans %}
                                        </button>

                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}

