{% extends 'layouts/login/main.html.twig' %}


{% block root_content %}
    <div class="m-login m-login--singin  m-login--5" id="m_login" style="background-image: url(../../../assets/app/media/img//bg/bg-3.jpg);">
        <div class="m-login__wrapper-1 m-portlet-full-height">
            <div class="m-login__wrapper-1-1">
                <div class="m-login__contanier">
                    <div class="m-login__content">

                        <div class="m-login__desc">
                            <h3>
                                {% trans %}Forgotten Password{% endtrans %}?
                            </h3>

                                {% trans %}Enter your email to reset your password{% endtrans %}:

                            {% if error %}
                                <div class="alert alert-danger">
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="m-login__form-action">
                            <form class="m-login__form m-form" action="{{ path('fos_user_resetting_send_email') }}" method="post">
                                <div class="col m--align-left">
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input" type="text" placeholder="Email" name="username" id="username" autocomplete="off">
                                    </div>

                                </div>



                                    <div class="m-login__form-action">
                                        <button id="m_login_signup" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                                            {% trans %}Request{% endtrans %}
                                        </button>

                                    </div>


                            </form>
                        </div>
                    </div>
                </div>
                <div class="m-login__border">
                    <div></div>
                </div>
            </div>
        </div>
        <div class="m-login__wrapper-2 m-portlet-full-height">
            <div class="m-login__contanier">
                <div class="m-login__signin">
                    <div class="m-login__logo">
                        <a href="#">
                            <img src="{{app.session.get('app.site_logo') }}">
                        </a>
                    </div>
                    <div class="m-login__title">
                        <div class="m-login__head">
                            <h3 class="m-login__title">
                                {{app.session.get('app.site_name') }}
                            </h3>
                            {% if error %}
                                <div class="alert alert-danger">
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                </div>
                            {% endif %}

                        </div>

                        <form class="m-login__form m-form" action="{{ path('security_login') }}" method="post">

                            <div class="form-group m-form__group">
                                <input type="text" id="username" placeholder="Email"  name="_username" value="{{ last_username }}" class="form-control  m-input"/>

                            </div>
                            <div class="form-group m-form__group">
                                <input type="password" placeholder="Password" id="password" name="_password" class="form-control m-input m-login__form-input--last" />

                            </div>
                            <div class="row m-login__form-sub">


                                <div class="col m--align-left">
                                    <label class="m-checkbox m-checkbox--focus">
                                        <input type="checkbox" id="remember_me" name="_remember_me" checked>
                                        {% trans %}Remember{% endtrans %}
                                        <span></span>
                                    </label>

                                </div>
                                <div class="col m--align-right">


                                    <button id="m_login_signin" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                                        Login
                                    </button>

                                </div>

                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

                        </form>
                </div>
                <div class="m-login__signup">
                    <div class="m-login__head">
                        <h3 class="m-login__title">
                            Sign Up
                        </h3>
                        <div class="m-login__desc">
                            Enter your details to create your account:
                        </div>
                    </div>
                    <form class="m-login__form m-form" action="">
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" type="text" placeholder="Fullname" name="fullname">
                        </div>
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" type="text" placeholder="Email" name="email" autocomplete="off">
                        </div>
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" type="password" placeholder="Password" name="password">
                        </div>
                        <div class="form-group m-form__group">
                            <input class="form-control m-input m-login__form-input--last" type="password" placeholder="Confirm Password" name="rpassword">
                        </div>
                        <div class="m-login__form-sub">
                            <label class="m-checkbox m-checkbox--focus">
                                <input type="checkbox" name="agree">
                                I Agree the
                                <a href="#" class="m-link m-link--focus">
                                    terms and conditions
                                </a>
                                .
                                <span></span>
                            </label>
                            <span class="m-form__help"></span>
                        </div>
                        <div class="m-login__form-action">
                            <button id="m_login_signup_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                                Sign Up
                            </button>
                            <button id="m_login_signup_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
                <div class="m-login__forget-password">
                    <div class="m-login__head">
                        <h3 class="m-login__title">
                            Forgotten Password ?
                        </h3>
                        <div class="m-login__desc">
                            Enter your email to reset your password:
                        </div>
                    </div>
                    <form class="m-login__form m-form" action="">
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" type="text" placeholder="Email" name="email" id="m_email" autocomplete="off">
                        </div>
                        <div class="m-login__form-action">
                            <button id="m_login_forget_password_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                                Request
                            </button>
                            <button id="m_login_forget_password_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom ">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

