{% extends 'layouts/login/main.html.twig' %}


{% block root_content %}
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--singin m-login--2 m-login-2--skin-2 m-login--signin" id="m_login" style="background-image: url(../../../assets/app/media/img//bg/bg-3.jpg);">
        <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
            <div class="m-login__container">
                <div class="m-login__logo">
                    <img src="{{app.session.get('app.site_logo') }}">
                </div>
                <div class="m-login__signin">
                    <div class="m-login__head">
                        <h3 class="m-login__title">
                            {{app.session.get('app.site_name') }}
                        </h3>
                    </div>
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                    {% if messageData is defined and messageData is not null  %}

                        <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
                            <div class="m-alert__icon">
                                <i class="flaticon-exclamation m--font-danger"></i>
                            </div>
                            <div class="m-alert__text">

                                {{ messageData | trans }}
                            </div>
                        </div>



                    {% endif %}

                    <form class="m-login__form m-form" action="{{ path('security_login') }}" method="post">

                        <div class="form-group m-form__group">
                            <input type="text" id="username" placeholder="Email"  name="_username" value="{{ last_username }}" class="form-control  m-input"/>

                        </div>
                        <div class="form-group m-form__group">
                            <input type="password" placeholder="Password" id="password" name="_password" class="form-control m-input m-login__form-input--last" />

                        </div>
                        <div class="row m-login__form-sub">
                            <div class="col m--align-left m-login__form-left">
                                <label class="m-checkbox  m-checkbox--focus">
                                    <input type="checkbox" id="remember_me" name="_remember_me" checked>
                                    {% trans %}Remember{% endtrans %}
                                    <span></span>
                                </label>
                            </div>
                            <div class="col m--align-right m-login__form-right">
                                <a href="{{ path('security_reset_password') }}" id="m_login_forget_password" class="m-link">
                                    Recuperar senha
                                </a>
                            </div>
                        </div>
                        <div class="m-login__form-action">
                            <button id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
                                Login
                            </button>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

