{% extends 'layouts/login/main.html.twig' %}


{% block root_content %}
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--singin m-login--2 m-login-2--skin-2 m-login--signin" id="m_login" style="background-image: url(../../../assets/app/media/img//bg/bg-3.jpg);">
        <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
            <div class="m-login__container">
                <div class="m-login__logo">
                    <img src="{{app.session.get('app.site_logo') }}">
                </div>
                <div class="m-login__forget-password" style="display: block;">
                    <div class="m-login__head">
                        <h3 class="m-login__title">
                            {% trans %}Forgotten Password{% endtrans %}?
                        </h3>
                        <div class="m-login__desc">
                            {% trans %}Enter your email to reset your password{% endtrans %}:
                        </div>

                    </div>
                    <form class="m-login__form m-form" action="{{ path('fos_user_resetting_send_email') }}" method="post">
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" type="text" placeholder="Email" name="username" id="username" autocomplete="off">
                        </div>
                        <div class="m-login__form-action">
                            <button id="m_login_forget_password_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primaryr">
                                {% trans %}Request{% endtrans %}
                            </button>
                            &nbsp;&nbsp;
                            <a href="{{ path('security_login') }}" id="m_login_forget_password_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom m-login__btn">
                                Voltar para login
                            </a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

